<!-- <div [@routerTransition] (window:resize)="onResize($event)"> -->
    <div [@routerTransition]>
        <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
            <div class="kt-subheader kt-grid__item">
                <div [class]="containerClass">
                    <div class="kt-subheader__main">
                        <h3 class="kt-subheader__title">
                            <span>{{"Danh sách Văn bản đi gửi cho đơn vị khác chưa phát hành"}}</span>
                        </h3>
                    </div>
                </div>
            </div>
            <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
                <div class="kt-portlet kt-portlet--mobile">
                    <div class="modal-body">
                        <div class="row align-items-center">
                            <!--<Primeng-TurboTable-Start>-->
                                <!-- <div class="col primeng-datatable-container">
                                    <dx-form #documentForm [formData]="documentSearchData" [showValidationSummary]="true"
                                    [showColonAfterLabel]="false" validationGroup="formValidateGroup" colCount="6">
                                    <dxi-item [colSpan]="2" dataField="book" >
                                        <dxo-label text="Sổ văn bản"></dxo-label> 
                                        <dxi-validation-rule
                                            type="pattern"
                                            pattern="^(0|[1-9][0-9]*)$"
                                            message="The name should not contain digits">
                                        </dxi-validation-rule>                                   
                                    </dxi-item>
                                </dx-form>
                                <div class="row" style="display: block; padding-top: 20px; margin-left: auto; margin-right: auto; width: 200px;">
                                    <dx-button text="Tìm kiếm" type="success" icon="fa fa-search"
                                    (onClick)="search()"> </dx-button>
                                </div> -->
                            <div class="col primeng-datatable-container">
                                <dx-form #documentForm [formData]="documentSearchData" [showValidationSummary]="true"
                                [showColonAfterLabel]="false" validationGroup="formValidateGroup" colCount="6">
                                <dxi-item [colSpan]="2" dataField="book" editorType="dxSelectBox" [editorOptions]="bookEditor">
                                    <dxo-label text="Sổ văn bản"></dxo-label> 
                                    <dxi-validation-rule
                                        type="pattern"
                                        pattern="^(0|[1-9][0-9]*)$"
                                        message="Chỉ được nhập số">
                                    </dxi-validation-rule>                                   
                                </dxi-item>
                            </dx-form>
                                <dx-data-grid #gridContainer id="gridContainer" [showColumnLines]="true"
                                    [remoteOperations]="false" [allowColumnReordering]="true" [rowAlternationEnabled]="true"
                                    [showBorders]="true" [allowColumnResizing]="true" [columnAutoWidth]="true"  [wordWrapEnabled]="true"
                                    [(dataSource)]="initialData" [cellHintEnabled]="true"  [cellHintEnabled]="true" (onExporting)="onExporting($event)"
                                    (onExported)="onExported($event)">
                                    <dxo-selection mode="multiple"> </dxo-selection>
                                    <dxo-export [enabled]="true" fileName="Documents" [allowExportSelectedData]="true"></dxo-export>
                                    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[ 50, 100]"
                                        [showInfo]="true"></dxo-pager>
                                    <dxo-search-panel [visible]="true" placeholder="Nhập nội dung..." width="250">
                                    </dxo-search-panel>
                                    <!-- <dxo-header-filter [visible]="true"></dxo-header-filter> -->
                                    <dxo-filter-row [visible]="false"></dxo-filter-row>
                                    <!-- <dxo- <dxo-filter-panel [visible]="true"></dxo-filter-panel>column-chooser [enabled]="true"></dxo-column-chooser> -->
                                    <dxo-paging [pageSize]="50"></dxo-paging>
                                    <dxi-column dataField="Number" [visible]="false"></dxi-column>
                                    <dxi-column [width]="4+'%'" type="selection"></dxi-column>
                                    <dxi-column [width]="5+'%'" dataField="stt" columnIndex="1" caption="STT" alignment="center" cellTemplate="sttCellTemplate"></dxi-column>
                                    <dxi-column [width]="6+'%'" alignment="center" cellTemplate="customTemplate" caption="Xử lý" [allowExporting]="false"></dxi-column>
                                    <dxi-column dataField="number_publishdate" caption="Số ký hiệu / Ngày phát hành" [visible]="false"></dxi-column>
                                    <dxi-column [width]="15+'%'" cellTemplate="diffCellTemplate4" [allowExporting]="false"  [calculateCellValue]="numberCellValue" headerCellTemplate="titleHeaderTemplate4" dataType="date" format="d/M/yyyy" alignment="center"></dxi-column>
                                    <dxi-column [width]="20+'%'" dataField="ArrivedOrg" caption="Nơi nhận" headerCellTemplate="titleHeaderTemplate2"></dxi-column>
                                    <dxi-column [width]="35+'%'" dataField="Summary" caption="Trích yếu"></dxi-column>
                                    <dxi-column dataField="linkedDocNumber" caption="VB Trả lời" [visible]="false"></dxi-column>
                                    <dxi-column [width]="10+'%'" cellTemplate="diffCellTemplate5" headerCellTemplate="titleHeaderTemplate5" alignment="center"></dxi-column>
                                    <!-- <dxi-column [width]="16+'%'" dataField="OrgEditorName" caption="Phòng ban soạn"></dxi-column> -->
                                    <div *dxTemplate="let info of 'sttCellTemplate'">
                                        <div> {{info.rowIndex + 1}}</div>
                                    </div>
                                    <div *dxTemplate="let info of 'titleHeaderTemplate4'">
                                        <div class="current-value" style="text-align: center;">Ý kiến đề</div>
                                        <div class="diff" style="text-align: center;">xuất PV01</div>
                                    </div>
                                    <div *dxTemplate="let info of 'titleHeaderTemplate'">
                                        <div class="current-value">Mã dự thảo</div>
                                        <div class="diff">Ngày soạn</div>
                                    </div>
                                    <div *dxTemplate="let info of 'titleHeaderTemplate2'" style="text-align: center !important">
                                        <div class="current-value">Nơi đến</div>
                                    </div>
                                    <div *dxTemplate="let info of 'titleHeaderTemplate1'">
                                        <div class="current-value">Số đến phòng</div>
                                        <div class="diff">Ngày đến phòng</div>
                                    </div>

                                    <div *dxTemplate="let info of 'titleHeaderTemplate4'">
                                        <div class="current-value">Số VB đi</div>
                                        <div class="diff">ngày VB</div>
                                    </div>
                                    <div *dxTemplate="let info of 'titleHeaderTemplate5'">
                                        <div class="current-value">VB trả lời</div>
                                    </div>

                                    <div *dxTemplate="let d of 'customTemplate'">
                                        <div class="btn-group dropdown btn-smaller-padding" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="fa fa-cog"></i>
                                            </button>
                                            <ul class="dropdown-menu" *dropdownMenu>
                                                <li>
                                                    <a href="javascript:;" (click)="view(d.data.Id)"><i class="fas fa-edit"
                                                            style="color: rgb(7, 88, 44);"></i>{{l('Xem')}}</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" (click)="edit(d.data.Id)"><i class="fas fa-edit"
                                                            style="color: rgb(7, 88, 44);"></i>{{l('Sửa')}}</a>
                                                </li>
                                                <!-- <li>
                                                    <a href="javascript:;" (click)="edit(d.data.Id)"><i class="fas fa-edit"
                                                            style="color: rgb(7, 88, 44);"></i>{{l('Sửa')}}</a>
                                                </li> -->
                                            </ul>
                                        </div>
                                    </div>
                                    
                                    <div *dxTemplate="let d of 'diffCellTemplate'">
                                        <div class="current-value" style="font-weight: bold;">{{d.data.Number}}</div>
                                        <div class="diff">{{d.data.PublishDate | date: "dd/MM/yyyy " }}</div>
                                    </div>
                                    <div *dxTemplate="let d of 'diffCellTemplate4'">
                                        <div class="current-value" style="font-weight: bold;">{{d.data.Number}}</div>
                                        <div class="diff">{{d.data.PublishDate | date: "dd/MM/yyyy "}}</div>
                                    </div>
                                    <div *dxTemplate="let d of 'diffCellTemplate5'">
                                        <div style="font-weight: bold;" [innerHTML]="d.data.LinkedDocNumber"></div>
                                    </div>
                                </dx-data-grid>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <style>
        ::ng-deep .dx-row {
            font-size: 16px;
            height: px;
            white-space: normal;
        }
    </style>


