<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>{{"Chi tiết văn bản đến"}}</span>
                    </h3>
                </div>
            </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="modal-body">

                    <div class="col-xl-12" style="padding-bottom: 17px;padding-left:0;">
                        <dx-button text="Trở về" type="success" icon="fa fa-arrow-left"
                            (onClick)="back()"></dx-button>
                    </div>
                    <dx-form #documentForm [formData]="documentData" [showValidationSummary]="true"
                        [showColonAfterLabel]="false" validationGroup="formValidateGroup" [readOnly]=true>
                        <dxi-item itemType="group" caption="Thông tin văn bản" colCount="12">
                            <dxi-item itemType="group" colCount="16" [colSpan]="4">
                                <dxi-item [colSpan]="16" dataField="publisher" editorType="dxSelectBox" [editorOptions]="{
                                    dataSource: data_publisher,
                                    valueExpr: 'key',
                                    displayExpr: 'value',
                                    disabled: true,
                                    value: publisherVal
                                }">
                                    <dxo-label text="Nơi gửi"></dxo-label>
                                    <dxi-validation-rule type="required"></dxi-validation-rule>
                                </dxi-item>

                                <!-- <dxi-item [colSpan]="3" [template]="btnTemplate">
                                    <div *dxTemplate="let item of 'btnTemplate'">
                                        <dx-button icon="plus" (onClick)="showPublisherPopup()"></dx-button>
                                    </div>
                                </dxi-item> -->
                            </dxi-item>

                            <dxi-item dataField="number" [colSpan]="4" [editorOptions]="{disabled: true}">
                                <dxo-label text="Số kí hiệu"></dxo-label>
                                <!-- <dxi-validation-rule type="required" message="Vui lòng nhập số kí hiệu">
                                </dxi-validation-rule> -->
                            </dxi-item>
                            <!-- sửa thành publishDate mới đúng -->
                            <dxi-item dataField="publishDate" [colSpan]="4" editorType="dxDateBox"
                                [editorOptions]="{format: 'dd/MM/yyyy', displayFormat:'dd/MM/yyyy', showClearButton: true, disabled: true}">
                                <dxo-label text="Ngày PH"></dxo-label>
                                <dxi-validation-rule type="required"></dxi-validation-rule>
                                <!-- <dx-date-box  displayFormat="dd/MM/yyyy" type="date"></dx-date-box> -->
                            </dxi-item>
                            <dxi-item [colSpan]="4">
                                <dx-select-box
                                    [dataSource]="dataBook" 
                                    dataField="book" 
                                    valueExpr="id" 
                                    displayExpr="name"
                                    [searchEnabled]="true" 
                                    [searchExpr]="['name']"
                                    [(value)]="bookVal"
                                    [disabled]="true">
                                </dx-select-box>
                                <dxo-label text="Sổ VB"></dxo-label>
                                <!-- onValueChanged: bookSelectionChange -->
                                <dxi-validation-rule type="required"></dxi-validation-rule>
                            </dxi-item>
 
                            <dxi-item [colSpan]="4" dataField="incommingNumber" [editorOptions]="{ disabled: true}" >
                                <dxo-label text="Số đến"></dxo-label>
                            </dxi-item>

                            <dxi-item [colSpan]="4" dataField="incommingDate" editorType="dxDateBox" [editorOptions]="{ format: 'dd/MM/yyyy', displayFormat: 'dd/MM/yyyy', showClearButton: true, disabled: true }">
                                <dxo-label text="Ngày đến"></dxo-label>
                                <!-- <dx-date-box  displayFormat="dd/MM/yyyy" type="date"></dx-date-box> -->
                            </dxi-item>

                            <dxi-item [colSpan]="4">
                                <dxo-label text="Sổ VB phòng"></dxo-label>
                                <dx-select-box #bookOfRoomSelect  
                                    [dataSource]="dataBookOfRoom" 
                                    valueExpr="id" 
                                    displayExpr="name" 
                                    [searchEnabled]="true"
                                    [searchExpr]="['name']"
                                    [disabled]="true"
                                ></dx-select-box>
                            </dxi-item>

                            <dxi-item [colSpan]="4" [editorOptions]="{value: incommNumToRoom }">
                                <dxo-label text="Số đến phòng"></dxo-label>
                                <!-- <dxi-validation-rule type="required"></dxi-validation-rule> -->
                                <!-- <dx-text-box #incomm_num_room ></dx-text-box> -->
                            </dxi-item>

                            <dxi-item [colSpan]="4" dataField="incommDateToRoom" editorType="dxDateBox" [editorOptions]="{ format: 'dd/MM/yyyy', displayFormat: 'dd/MM/yyyy', showClearButton: true }">
                                <dxo-label text="Ngày đến phòng"></dxo-label>
                                <!-- <dx-date-box #incom_date_room  format="dd/MM/yyyy" [showClearButton]="true" [displayFormat]="'dd/MM/yyyy'"
                                [(value)]="incommDateToRoom"></dx-date-box> -->
                                <!-- <dx-date-box  displayFormat="dd/MM/yyyy" type="date"></dx-date-box> -->
                            </dxi-item>
                            

                            <dxi-item dataField="summary" [colSpan]="12" editorType="dxTextArea"
                                [editorOptions]="{ autoResizeEnabled: true, disabled: true}">
                                <dxo-label text="Trích yếu"></dxo-label>
                            </dxi-item>


                            <dxi-item itemType="group" [colSpan]="12" colCount="12" [visible]="true">
                                <dxi-item [colSpan]="6">
                                    <dxo-label text="Tập tin"></dxo-label>
                                    <dx-data-grid id="gridContainer" [dataSource]="selectedRows" [allowColumnReordering]="true"
                                    [allowColumnResizing]="true" [columnAutoWidth]="true" [showBorders]="true">
                                    <dxo-paging [pageSize]="10"></dxo-paging>
                                    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true">
                                    </dxo-pager>
                                    <dxi-column dataField="tepDinhKem" caption="Tệp đính kèm"></dxi-column>
                                    <dxi-column caption="Xem chi tiết" cellTemplate="detailTemplate" [width]="100">
                                    </dxi-column>
                                    <dxi-item caption="Xóa" cellTemplate="deleteTemplate">
                                    </dxi-item>
            
                                    <div *dxTemplate="let d of 'detailTemplate'">
                                        <div class="row">
                                            <div class="col-6" style="text-align: center;" (click)="showDetail(d)">
                                                <span><i class="fab fa-buffer"></i></span>
                                            </div>
                                            <div class="col-6" style="text-align: center;" (click)="deleteFile(d)">
                                                <span><i class="fas fa-trash-alt"></i> </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div *dxTemplate="let d of 'deleteTemplate'">
                                        <div class="col-2" style="text-align: center;" (click)="deleteFile(d)">
                                            <span ><i class="fas fa-trash-alt"></i> </span>
                                        </div>
                                    </div>
                                </dx-data-grid> 
                                </dxi-item>
                            </dxi-item>
                            <!-- <div class="col-sm-5">
                                    <dx-button text="Scan document" type="success" icon="inactivefolder"
                                        (onClick)="toggleScanModule()" [elementAttr]="{ class: 'scanBtn' }"></dx-button>
                                </div> -->
                        </dxi-item>

                        <dxi-item itemType="group" caption="Thông tin khác" colCount="12">
                            <dxi-item [colSpan]="4" dataField="documentTypeId" editorType="dxSelectBox" [editorOptions]="{
                                dataSource: documentTypeOptions,
                                valueExpr: 'id',
                                displayExpr: 'typeName',
                                disabled: true
                                }">
                                <dxo-label text="Loại VB"></dxo-label>
                                <!-- onValueChanged: docTypeSelectionChange -->
                                <!-- <dxi-validation-rule type="required"></dxi-validation-rule> -->
                            </dxi-item>
                            <dxi-item [colSpan]="4" dataField="secretLevel" editorType="dxSelectBox" [editorOptions]="{
                                dataSource: data_secretLevel,
                                valueExpr: 'key',
                                displayExpr: 'value',
                                disabled: true
                                }">
                                <!-- <dxi-validation-rule type="required"></dxi-validation-rule> -->
                                <dxo-label text="Độ mật"></dxo-label>
                            </dxi-item>
                            <dxi-item [colSpan]="4" dataField="priority" editorType="dxSelectBox" [editorOptions]="{
                                dataSource: data_priority,
                                valueExpr: 'key',
                                displayExpr: 'value',
                                disabled: true
                            }">
                                <dxo-label text="Độ khẩn"></dxo-label>
                            </dxi-item>
                            <dxi-item [colSpan]="4" dataField="range" editorType="dxSelectBox" [editorOptions]="{
                                dataSource: data_range,
                                valueExpr: 'key',
                                displayExpr: 'value',
                                disabled: true
                                }">
                                <dxo-label text="Lĩnh vực"></dxo-label>
                            </dxi-item>
                            <dxi-item dataField="signer" [colSpan]="4" [editorOptions]="{ disabled: true }">
                                <dxo-label text="Người ký" ></dxo-label>
                            </dxi-item>
                            <dxi-item [colSpan]="4" dataField="position" editorType="dxSelectBox" [editorOptions]="{
                                dataSource: data_position,
                                valueExpr: 'key',
                                displayExpr: 'value',
                                disabled: true
                                }">
                                <dxo-label text="Chức vụ"></dxo-label>
                            </dxi-item>
                        </dxi-item>

                        <dxi-item itemType="group" caption="Xử lý văn bản" colCount="6" cssClass="item-bold" [colSpan]="12">
                            <dxi-item [colSpan]="2" dataField="numberOfDays" editorType="dxNumberBox" [editorOptions]="{ 
                                disabled: true
                             }">
                                <dxo-label text="Số ngày XL"></dxo-label>
                            </dxi-item>
                            <dxi-item [colSpan]="2" dataField="deadline" editorType="dxDateBox" [editorOptions]="{
                                format: 'dd/MM/yyyy', displayFormat: 'dd/MM/yyyy',
                                showClearButton: true, disabled: true
                            }"> 
                                <dxo-label text="Hạn xử lý"></dxo-label>
                            </dxi-item>
                            <dxi-item itemType="empty" [colSpan]="2"></dxi-item>
                            <dxi-item dataField="oldProcessingRecommended" [colSpan]="6" editorType="dxTextBox"
                                [editorOptions]="{ disabled: true }" [cssClass]="'borderLess'" >
                                <dxo-label text="Ý kiến xử lý CATP"></dxo-label>
                            </dxi-item>
                            <dxi-item dataField="ykxl" [colSpan]="6" editorType="dxTextArea"
                                [editorOptions]="{ autoResizeEnabled: true }">
                                <dxo-label text="Ý kiến xử lý"></dxo-label>
                                <dxi-validation-rule type="required"></dxi-validation-rule>
                            </dxi-item>
                            <dxi-item [label]="{text: 'CH phòng'}" [colSpan]="2" dataField="leaderDepartmentId"
                                editorType="dxSelectBox" [editorOptions]="{
                                dataSource: captain_department,
                                valueExpr: 'userId',
                                displayExpr: 'nameWithPosition',
                                searchEnabled: true,
                                searchExpr: 'fullName'
                                }">
                                <dxi-validation-rule type="required"></dxi-validation-rule>
                            </dxi-item>
                            <dxi-item itemType="empty" [colSpan]="4"></dxi-item>
                            <!-- <dxi-item [label]="{text: 'Trình BGĐ'}" [colSpan]="2" dataField="directorId"
                                editorType="dxSelectBox" [editorOptions]="{
                                dataSource: director_list,
                                valueExpr: 'userId',
                                displayExpr: 'nameWithPosition',
                                searchEnabled: true,
                                searchExpr: 'fullName'
                                }">
                                <dxi-validation-rule type="required"></dxi-validation-rule>
                            </dxi-item> -->
                            <dxi-item [colSpan]="4">
                                <dxo-label text="Đơn vị xử lý"></dxo-label>
                                <dx-data-grid #gridContainerOrg id="gridContainerOrg"
                                    [remoteOperations]="false" [allowColumnReordering]="true"
                                    [rowAlternationEnabled]="true" [allowColumnResizing]="true"
                                    columnResizingMode="widget" [showBorders]="true" [height]="250"
                                    (onRowUpdating)="onRowUpdating($event)" [width]="750"
                                    (onRowUpdated)="onRowUpdated($event)"
                                    [dataSource]="data_team">
                                    <dxo-paging [enabled]="false"></dxo-paging>
                                    <dxo-filter-row [visible]="true" placeholder="Nhập tên phòng..." >
                                    </dxo-filter-row>
                                    <dxi-column [allowFiltering]="true" [allowEditing]="false" [allowEditing]="false"
                                        caption="Danh sách đội" dataField="displayName" width="50%">
                                    </dxi-column>
                                    <dxi-column [allowFiltering]="true" [allowEditing]="false" [allowEditing]="false"
                                        caption="Kí hiệu" dataField="shortentCode" width="10%">
                                    </dxi-column>
                                    <dxi-column dataField="mainHandling" caption="Chủ trì" width="20%" [allowEditing]="false"
                                        cellTemplate="selectTemplate" alignment="center" [allowFiltering]="false">
                                    </dxi-column>
                                    <dxi-column dataField="coHandling" caption="Phối hợp xử lý" width="20%" [allowEditing]="false"
                                        cellTemplate="selectTemplate" alignment="center" [allowFiltering]="false">
                                    </dxi-column>
                                    <div *dxTemplate="let cell of 'selectTemplate'">
                                        <dx-check-box [value]="cell.value"
                                            (onValueChanged)="onCheckBoxChanged($event, cell)"></dx-check-box>
                                    </div>
                                    
                                </dx-data-grid>

                            </dxi-item>

                        </dxi-item>
                    </dx-form>
                    <div class="col-xl-12" style="padding-bottom: 17px;padding-left:0;">
                        <dx-button text="Trở về" type="success" icon="fa fa-arrow-left"
                            (onClick)="back()"></dx-button>
                    </div>

                    <dx-popup [width]="500" [height]="200" [showTitle]="true" title="Thêm mới nơi phát hành"
                        [dragEnabled]="false" [closeOnOutsideClick]="true" [(visible)]="publisherPopupVisible">
                        <!-- <app-dwt (getFileName) ="addItem($event)" (userId)="getAndSetId($event)" *ngIf="showScanModule"></app-dwt>

                    <buttonUI *ngIf="show"></buttonUI> -->
                        <dx-form #publisherForm [formData]="publisherData">
                            <dxi-item [label]="{text: 'Nơi PH'}" [colSpan]="2" dataField="publisherName"
                                editorType="dxTextBox">
                            </dxi-item>
                        </dx-form>
                        <br>
                        <div class="row">
                            <div style="display: block; margin-left: auto; margin-right: auto;">
                                <dx-button icon="save" text="Lưu" type="success" (onClick)="savepublisher()"></dx-button>
                            </div>
                        </div>
                        
                    </dx-popup>

                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .borderLess > .dx-field-item-content > .dx-textbox{
        border: none;
    }
</style>