<div bsModal #createPublisherModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createPublisherModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <form novalidate (ngSubmit)="savepublisher()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        Thêm mới nơi PH
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
					<dx-form #publisherForm>
                        <dxi-item [colSpan]="2" dataField="orgLevelId" editorType="dxSelectBox" [editorOptions]="{
                            dataSource: orgLevel,
                            displayExpr: 'name',
                            valueExpr: 'id',
                            searchEnabled: true,
                            searchExpr: ['name'],
                            onValueChanged:orgLevChanged
                        }">
                            <dxo-label text="Cấp gửi"></dxo-label>
                            <dxi-validation-rule type="required" message="Chưa chọn cấp PH"></dxi-validation-rule>
                        </dxi-item>
                        <dxi-item [colSpan]="19">
                            <dx-drop-down-box #publisherSelect dataField="publisher"
                                id="publisherSelect"
                                [dataSource]="datapublisher"
                                valueExpr="publishOrg.id"
                                displayExpr="publishOrg.name"
                                [(value)]="publisherForm.formData.publisher">
                                <div *dxTemplate="let data of 'content'">
                                    <dx-tree-view
                                        [dataSource]="datapublisher"
                                        dataStructure="plain"
                                        keyExpr="publishOrg.id"
                                        parentIdExpr="publishOrg.parentId"
                                        selectionMode="single"
                                        displayExpr="publishOrg.name"
                                        [selectByClick]="true"
                                        (onContentReady)="$event.component.selectItem(treeBoxValue)"
                                        (onItemSelectionChanged)="treeView_itemSelectionChanged($event)"
                                        [searchEnabled]="true"
                                        [searchExpr]="['publishOrg.name']"
                                    >
                                    </dx-tree-view>
                                </div>
                            </dx-drop-down-box>
                            <dxo-label text="Đơn vị cấp trên"></dxo-label>
                        </dxi-item>

                        <dxi-item [label]="{text: 'Nơi PH'}" [colSpan]="2" dataField="publisherName"
                            editorType="dxTextBox">
                            <dxi-validation-rule type="required" message="Chưa nhập nơi PH"></dxi-validation-rule>
                        </dxi-item>
                    </dx-form>
                    <!-- <br>
                    <div class="row">
                        <div style="display: block; margin: auto;">
                            <dx-button icon="cancel" text='{{l("Cancel")}}' type="normal" (onClick)="savepublisher()"></dx-button>
                            <dx-button icon="save" text="Lưu" type="success" (onClick)="savepublisher()"></dx-button>
                        </div>
                    </div> -->

                </div>
                <div class="modal-footer">
                    <div style="display: block; margin: auto;">
                        <dx-button icon="close" text='{{l("Cancel")}}' type="normal" (onClick)="close()" style="margin-right: .5rem"></dx-button>
                        <dx-button icon="save" text="Lưu" type="success" (onClick)="savepublisher()"></dx-button>
                    </div>
                    <!-- <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button> -->
                </div>
            </form>
        </div>
    </div>

</div>


<style>
    ::ng-deep .dx-row {
        font-size: 15px;
        white-space: normal;
    }

    /* ::ng-deep td[role="columnheader"]{
            text-align: center !important;
        }   */
</style>