<!-- <div [@routerTransition] (window:resize)="onResize($event)"> -->
<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>{{"Văn bản đến đội Đã phân xử lý"}}</span>
                    </h3>
                </div>
            </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="modal-body">
                    <div class="row align-items-center">
                        <!--<Primeng-TurboTable-Start>-->
                        <div class="col primeng-datatable-container">
                            <dx-data-grid #gridContainer id="gridContainer" [showColumnLines]="true"
                                [(selectedRowKeys)]="selectedRowsData" [remoteOperations]="false"
                                [allowColumnReordering]="true" [rowAlternationEnabled]="true" [showBorders]="true"
                                [allowColumnResizing]="true" [columnAutoWidth]="true" [(dataSource)]="initialData"
                                [cellHintEnabled]="true" (onToolbarPreparing)="onToolbarPreparing($event)">
                                <!-- <dxo-selection mode="multiple"> </dxo-selection> -->
                                <!-- <dxo-export [enabled]="true" fileName="Documents" [allowExportSelectedData]="true"></dxo-export> -->
                                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[50, 100]"
                                    [showInfo]="true"></dxo-pager>
                                <dxo-search-panel [visible]="true" placeholder="Nhập nội dung..." width="250">
                                </dxo-search-panel>
                                <!-- <dxo-header-filter [visible]="true"></dxo-header-filter> -->
                                <dxo-filter-row [visible]="false"></dxo-filter-row>
                                <!-- <dxo- <dxo-filter-panel [visible]="true"></dxo-filter-panel>column-chooser [enabled]="true"></dxo-column-chooser> -->
                                <dxo-paging [pageSize]="50"></dxo-paging>
                                <dxi-column dataField="Number" [visible]="false"></dxi-column>
                                <!-- <dxi-column type="selection" [width]="4+'%'"></dxi-column> -->
                                <dxi-column dataField="stt" columnIndex="1" caption="STT" alignment="center"
                                    cellTemplate="sttCellTemplate" [width]="5+'%'"></dxi-column>
                                <dxi-column columnIndex="9" alignment="center" [width]="6+'%'"
                                    cellTemplate="customTemplate" caption="Xử lý"></dxi-column>
                                <!-- <dxi-column dataField="action_button " columnIndex="2" cellTemplate="actionTemplate"
                                        caption="#" [width]="8+'%'" alignment="center"></dxi-column> -->
                                <dxi-column columnIndex="4" cellTemplate="diffCellTemplate1"
                                    headerCellTemplate="SoNgayDenHeader" alignment="center" [width]="9+'%'">
                                </dxi-column>
                                <dxi-column columnIndex="4" cellTemplate="IncommingNumberTemplate" datafield="IncommingNumberDV"
                                    caption="Số đến"  alignment="center" [width]="9+'%'">
                                </dxi-column>
                                <!-- <dxi-column cellTemplate="diffCellTemplate" [allowSearch]="true"
                                        headerCellTemplate="titleHeaderTemplate" columnIndex="3" [width]="10+'%'"
                                        dataType="date" format="d/M/yyyy"
                                        alignment="center">
                                    </dxi-column> -->
                                <dxi-column dataField="PublisherName" columnIndex="7"
                                    headerCellTemplate="titleHeaderTemplate2" [width]="12+'%'">
                                </dxi-column>

                                <dxi-column cellTemplate="diffCellTemplate3" columnIndex="5"
                                    headerCellTemplate="titleHeaderTemplate3" alignment="center" [width]="8+'%'"
                                    dataType="date" format="d/M/yyyy">

                                </dxi-column>
                                <dxi-column dataField="Summary" columnIndex="8" [width]="12+'%'" caption="Trích yếu">
                                </dxi-column>
                                <dxi-column caption="Chỉ đạo BGĐ" cellTemplate="BGDTemplate" columnIndex="6"
                                    [width]="14+'%'">
                                </dxi-column>
                                <dxi-column headerCellTemplate="BCHHeader" cellTemplate="BCHTemplate" columnIndex="6"
                                    [width]="13+'%'">
                                </dxi-column>
                                <dxi-column headerCellTemplate="dvthHeaderTemplate" [width]="9+'%'" cellTemplate="dvth"
                                    columnIndex="6">
                                </dxi-column>
                                <dxi-column caption="Chỉ đạo BCH Đội" cellTemplate="BCHDoiTemplate" columnIndex="6"
                                    [width]="12+'%'">
                                </dxi-column>
                                
                                <div *dxTemplate="let d of 'IncommingNumberTemplate'">
                                    <span style="font-weight: bold;" > {{d.data.IncommingNumberDV}}</span>
                                </div>
                                <div *dxTemplate="let info of 'dvthHeaderTemplate'">
                                    <div class="current-value">Đội</div>
                                    <div class="diff">phối hợp</div>
                                </div>
                                <div *dxTemplate="let d of 'dvth'">
                                    <div class="font-b">{{d.data.DoiPhoiHop}}</div>
                                </div>
                                <div *dxTemplate="let info of 'sttCellTemplate'">
                                    <div> {{info.rowIndex + 1}}</div>
                                </div>
                                <div *dxTemplate="let info of 'BCHHeader'">
                                    <div class="diff" style="text-align: center;">Chỉ đạo</div>
                                    <div class="diff">BCH P/BCH Q</div>
                                </div>
                                <div *dxTemplate="let info of 'SoNgayDenHeader'">
                                    <div class="current-value" style="text-align: center;">Số ký hiệu</div>
                                    <div class="diff" style="text-align: center;">Ngày VB đến</div>
                                    <!-- <div class="diff">Số VB đơn vị/Ngày</div> -->
                                </div>
                                <div *dxTemplate="let info of 'titleHeaderTemplate4'">
                                    <div class="current-value" style="text-align: center;">Chỉ đạo BGĐ</div>
                                </div>
                                <div *dxTemplate="let info of 'titleHeaderTemplate'">
                                    <div class="current-value">Số VB đến</div>
                                    <div class="diff">Ngày VB đến</div>
                                </div>
                                <div *dxTemplate="let info of 'titleHeaderTemplate3'">
                                    <div class="current-value">Hạn </div>
                                    <div class="diff"> giải quyết</div>
                                </div>
                                <div *dxTemplate="let info of 'titleHeaderTemplate2'"
                                    style="text-align: center !important">
                                    <div class="current-value">Nơi phát</div>
                                    <div class="diff">hành</div>
                                </div>
                                <div *dxTemplate="let info of 'titleHeaderTemplate1'">
                                    <div class="current-value">Số đến phòng</div>
                                    <div class="diff">Ngày đến phòng</div>
                                </div>
                                <div *dxTemplate="let d of 'customTemplate'">
                                    <div class="btn-group dropdown btn-smaller-padding" dropdown container="body">
                                        <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                            <i class="fa fa-cog"></i>
                                        </button>
                                        <ul class="dropdown-menu" *dropdownMenu>
                                            <li>
                                                <a href="javascript:;" (click)="view(d.data.Id)"><i class="fas fa-eye"
                                                        style="color: rgb(7, 88, 44);"></i>{{l('Xem')}}</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" (click)="editDvxl(d.data.Id)"><i
                                                        class="fas fa-edit"
                                                        style="color: rgb(7, 88, 44);"></i>{{l('Chỉnh sửa phân
                                                    công')}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div *dxTemplate="let d of 'actionTemplate'">
                                    <div class="row">
                                        <div class="col-6">
                                            <span (click)="viewProcess(d)" style="position: absolute; top: 10px"> <i
                                                    class="fas fa-share-alt"></i></span>
                                        </div>
                                        <div class="col-6">
                                            <span (click)="showListHistory(d)"><i class="fas fa-file-pdf"></i></span>
                                            <br>
                                            <span (click)="instaff(d)"><i
                                                    [ngStyle]="{'color' : d.data.star == true ? '#d41022e8': 'black'}"
                                                    class="fas fa-star" id=d.data.id></i></span>
                                        </div>
                                        <!-- <div class="col-4"    >
                                        </div> -->
                                    </div>
                                </div>
                                <div *dxTemplate="let d of 'diffCellTemplate3'">
                                    <div class="current-value" style="font-weight: bold;font-style: italic;">
                                        {{d.data.Deadline | date: "dd/MM/yyyy " }}</div>
                                </div>
                                <div *dxTemplate="let d of 'BGDTemplate'">
                                    <div class="font-b"> <b>{{d.data.DirectorName}}</b></div>
                                    <div *ngIf="d.data.ProcessingRecommended" class="font-i">PV01 đx:
                                        <i>{{d.data.ProcessingRecommended}}</i>
                                    </div>
                                    <div class="font-b font-i">{{d.data.ApprovingRecommended}}</div>
                                    <!-- <div>PDT: {{d.data.PDTProcessingRecommended}}</div> -->
                                </div>
                                <div *dxTemplate="let d of 'BCHTemplate'">
                                    <div *ngIf="d.data.TPProcessingRecommended"><b>Trưởng phòng:
                                            {{d.data.TPFullName}}</b><i>
                                            {{d.data.TPProcessingRecommended}}</i></div>
                                    <div *ngIf="d.data.PTPProcessingRecommended"> <b>PTP: {{d.data.PTPFullName}}</b> <i>
                                            {{d.data.PTPProcessingRecommended}} </i></div>
                                    <!-- <span *ngIf="d.data.ChiDaoPhong">({{d.data.ChiDaoPhong}})</span> -->
                                    <!-- <div class="current-value" style="font-weight: bold;">{{d.data.Number}}</div>
                                        <div class="diff">{{d.data.PublishDate | date: "dd/MM/yyyy " }}</div> -->
                                </div>
                                <div *dxTemplate="let d of 'BCHDoiTemplate'">
                                    <div *ngIf="d.data.DTProcessingRecommended"><b>Đội trưởng:
                                            {{d.data.DTFullName}}</b><i>
                                            {{d.data.DTProcessingRecommended}} </i></div>
                                    <div *ngIf="d.data.PDTProcessingRecommended"><b>PDT: {{d.data.PDTFullName}}</b><i>
                                            {{d.data.PDTProcessingRecommended}}</i></div>
                                    <!-- <span *ngIf="d.data.ChiDaoDoi">({{d.data.ChiDaoDoi}})</span> -->
                                </div>
                                <div *dxTemplate="let d of 'diffCellTemplate1'">
                                    <div class="current-value" style="font-weight: bold;" *ngIf="d.data.Number">
                                        {{d.data.Number}}</div>
                                    <div class="current-value" style="font-weight: bold;" *ngIf="!d.data.Number">-</div>
                                    <div class="diff">{{d.data.IncommingDateDV | date: "dd/MM/yyyy "}}</div>
                                </div>
                                <div *dxTemplate="let data of 'totalGroupCount'">
                                    <div style="font-style: italic;">
                                        <span>Có <b>{{totalCount}}</b> kết quả tìm kiếm</span>
                                    </div>
                                </div>
                            </dx-data-grid>
                            <!-- Xem lịch sử upload chi tiết -->
                            <dx-popup [width]="800" [height]="600" [showTitle]="true" title="Lịch sử upload file"
                                [dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="historyPopupVisible">
                                <dx-data-grid id="gridContainer" [dataSource]="history_Upload"
                                    [allowColumnReordering]="true" [allowColumnResizing]="true" [columnAutoWidth]="true"
                                    [showBorders]="true">
                                    <dxo-paging [pageSize]="10"></dxo-paging>
                                    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]"
                                        [showInfo]="true">
                                    </dxo-pager>

                                    <dxi-column dataField="file"></dxi-column>
                                    <dxi-column dataField="version"></dxi-column>
                                    <dxi-column type="buttons" dataField="Xem chi tiết">
                                        <dxi-button [onClick]="showDetail" icon="fab fa-buffer"></dxi-button>
                                    </dxi-column>

                                </dx-data-grid>
                            </dx-popup>
                            <dx-popup [width]="800" [height]="800" [showTitle]="true" title="Điều chỉnh phân công"
                                [dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="editCBXLPopupVisible">
                                <form novalidate autocomplete="off" style="bottom:30px;">
                                    <div>
                                        <dx-form [(formData)]="formData" [showValidationSummary]="true"
                                            validationGroup="formValidateGroup">
                                            <dxi-item itemType="group" [colSpan]="6" colCount="6">
                                                <dxi-item [colSpan]="6" [cssClass]="'custom-label'">
                                                    <label>Ý KIẾN CHỈ ĐẠO ĐỘI TRƯỞNG</label>
                                                </dxi-item>
                                                <dxi-item [label]="{text: 'Đồng chí'}" [colSpan]="3">
                                                    <dx-select-box id="tpSelect" [items]="doiTruong" valueExpr="userId"
                                                        displayExpr="displayName" [searchEnabled]="true"
                                                        [searchExpr]="['fullName']" [(value)]="doiTruongVal">
                                                    </dx-select-box>
                                                </dxi-item>
                                                <dxi-item caption="" [colSpan]="3">
                                                    <dx-date-box [(value)]="dtDate" type="date"
                                                        displayFormat="dd/MM/yyyy" format="dd/MM/yyyy"></dx-date-box>
                                                    <dxo-label text="Ngày chỉ đạo"></dxo-label>
                                                </dxi-item>
                                                <dxi-item dataField="" [colSpan]="6">
                                                    <dx-text-area [autoResizeEnabled]="true" [(value)]="dtComment">
                                                    </dx-text-area>
                                                    <dxo-label text="Nội dung chỉ đạo"></dxo-label>
                                                </dxi-item>
                                            </dxi-item>
                                            <dxi-item itemType="group" [colSpan]="6" colCount="6">
                                                <dxi-item [colSpan]="6" [cssClass]="'custom-label'">
                                                    <label>Ý KIẾN CHỈ ĐẠO PHÓ ĐỘI TRƯỞNG</label>
                                                </dxi-item>
                                                <dxi-item [label]="{text: 'Đồng chí'}" [colSpan]="3" dataField="">
                                                    <dx-select-box dataField="" id="ppSelect" [items]="doiPho"
                                                        valueExpr="userId" displayExpr="displayName"
                                                        [searchEnabled]="true" [searchExpr]="['fullName']"
                                                        [(value)]="doiPhoVal">
                                                    </dx-select-box>
                                                </dxi-item>
                                                <!-- <dxi-item caption="" [colSpan]="3" editorType="dxDateBox" dataField="tpDate"
                                                        [editorOptions]="initPtpDateOptions">
                                                        <dxo-label text="Ngày chỉ đạo"></dxo-label>
                                                </dxi-item> -->
                                                <dxi-item caption="" [colSpan]="3">
                                                    <dx-date-box [(value)]="dpDate" type="date"
                                                        displayFormat="dd/MM/yyyy" format="dd/MM/yyyy"></dx-date-box>
                                                    <dxo-label text="Ngày chỉ đạo"></dxo-label>
                                                </dxi-item>
                                                <dxi-item dataField="" [colSpan]="6">
                                                    <dx-text-area [autoResizeEnabled]="true" [(value)]="dpComment">
                                                    </dx-text-area>
                                                    <dxo-label text="Nội dung chỉ đạo"></dxo-label>
                                                </dxi-item>
                                            </dxi-item>
                                            <dxi-item>
                                                <dx-data-grid #gridContainerOrg id="gridContainerOrg"
                                                    [remoteOperations]="false" [allowColumnReordering]="true"
                                                    [rowAlternationEnabled]="true" [allowColumnResizing]="true"
                                                    columnResizingMode="widget" [showBorders]="true" [height]="300"
                                                    [dataSource]="data_department_initial">
                                                    <dxo-paging [enabled]="false"></dxo-paging>
                                                    <dxo-filter-row [visible]="true" placeholder="Nhập tên cán bộ...">
                                                    </dxo-filter-row>
                                                    <dxi-column [allowFiltering]="true" [allowEditing]="false"
                                                        caption="Cán bộ chiến sĩ" dataField="displayName" width="50%">
                                                    </dxi-column>
                                                    <!-- <dxi-column [allowFiltering]="true" [allowEditing]="false"
                                                    caption="Kí hiệu" dataField="shortentCode" width="10%">
                                                </dxi-column> -->
                                                    <dxi-column dataField="mainHandling" caption="Chủ trì" width="20%"
                                                        [allowEditing]="false" cellTemplate="selectTemplate"
                                                        alignment="center" [allowFiltering]="false">
                                                    </dxi-column>
                                                    <dxi-column dataField="coHandling" caption="Phối hợp" width="20%"
                                                        [allowEditing]="false" cellTemplate="selectTemplate"
                                                        alignment="center" [allowFiltering]="false">
                                                    </dxi-column>
                                                    <div *dxTemplate="let cell of 'selectTemplate'">
                                                        <dx-check-box [value]="cell.value"
                                                            (onValueChanged)="onCheckBoxChanged($event, cell)">
                                                        </dx-check-box>
                                                    </div>
                                                </dx-data-grid>
                                            </dxi-item>

                                        </dx-form>
                                    </div>
                                    <label style="color: red;">{{message1}}</label>
                                </form>
                                <div style="position: fixed; bottom:10px;right:10px">
                                    <dx-button icon="save" text="Lưu" type="success" [disabled]="saveButton"
                                        (onClick)="save()" style="margin-right: 0.5rem;"></dx-button>
                                    &nbsp;
                                    <dx-button icon="close" text="Đóng" type="normal" (onClick)="close()"></dx-button>
                                </div>
                            </dx-popup>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<style>
    ::ng-deep .dx-row {
        font-size: 16px;
        height: px;
        white-space: normal;
    }
</style>