.dx-group-panel-message{
    display: none !important;
}

::ng-deep body{
    overflow-x: hidden;
}

.btn-kcl-success {
    background-color: #0a518f;
    color: white;
}

::ng-deep .dx-treelist-headers .dx-treelist-table .dx-row>td {
    padding: 7px 0px 7px 0px !important;
    background-color: #4c75a3;
    color: white;
}

/*custom*/
::ng-deep div.dx-datagrid-headers {
    position: sticky;
    top: 0;
    z-index: 1000;
    /*z-index is applied so that this element appears in front*/
}

@media only screen and (max-width: 600px) {
    .card-body {
        padding: 0px;
    }
}

.form_filter_config {
    cursor: pointer;
    font-size: 19px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;

    :hover {
        font-weight: bold;
        font-size: 20px;
        transition-delay: 0.2s;
    }
}

.export-button-class {
    width: 100px;
}
