<div id="content_1" style="height: 100%;">
    <div class="card-component card-stats" style="height: 80%;position: relative;" [ngStyle]="si_widget_formatcss">
        <div class="card-header" [ngStyle]="si_frame_icon_formatcss" style="display: flex;">
            <i [ngClass]="si_icon" [ngStyle]="si_icon_formatcss" style="margin:auto"></i>
        </div>
        <div class="card-content" style="height: 100%; ">
            <p class="category" [ngStyle]="si_title_formatcss">{{si_title}}</p>
            <h3 class="title" [ngStyle]="si_value_formatcss">{{si_value}}
            </h3>
        </div>
        <div class="card-footer" style=" bottom: 0; position: absolute; width: 88%;" [ngStyle]="si_frame_link_formatcss">
            <div class="stats">
                <a [href]="si_link" [target]="si_open_link" [ngStyle]="si_link_formatcss">{{si_content_link}}</a>
            </div>
        </div>
    </div>
</div>