<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #publishOrgForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="publishOrg.id">{{l("EditPublishOrg")}}</span>
                        <span *ngIf="!publishOrg.id">{{l("CreateNewPublishOrg")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 


								<div class="form-group">
									<label for="PublishOrg_Code">{{l("Code")}}</label>
									<input type="text" id="PublishOrg_Code" class="form-control" [(ngModel)]="publishOrg.code" name="Code"    />
								</div>
					
								<div class="form-group">
									<label for="PublishOrg_Name">{{l("Name")}}</label>
									<input type="text" id="PublishOrg_Name" class="form-control" [(ngModel)]="publishOrg.name" name="Name"    />
                                </div>
                                
                                <div class="form-group">
									<label for="PublishOrg_OrgLevel">Cấp gửi</label>
                                    <dx-select-box #publisherLEVEL dataField="orgLevel"
                                        id="orgLevel"
                                        [items]="orgLevel" 
                                        valueExpr="id" 
                                        displayExpr="name" 
                                        [searchEnabled]="true" 
                                        [searchExpr]="['name']"
                                        [(value)]="publishOrg.orgLevelId"
                                        (onValueChanged)="onValueChanged($event)">
                                    </dx-select-box>
                                </div>
                                <div class="form-group">
									<label for="PublishOrg_identifyCode">Định danh</label>
									<input type="text" id="PublishOrg_identifyCode" class="form-control" [(ngModel)]="publishOrg.identifyCode" name="identifyCode"    />
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="PublishOrg_IsActive" class="kt-checkbox">
										<input id="PublishOrg_IsActive" type="checkbox" name="IsActive" [(ngModel)]="publishOrg.isActive"> 
										{{l("IsActive")}}
										<span></span>
									</label>
								</div>
					
								<!-- <div class="form-group">
									<label for="PublishOrg_OrgLevelId">{{l("OrgLevelId")}}</label>
									<input type="number" id="PublishOrg_OrgLevelId" class="form-control" [(ngModel)]="publishOrg.orgLevelId" name="OrgLevelId"  />
								</div> -->
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!publishOrgForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>