<div>
    <div
        class="
            kt-content
            kt-grid__item kt-grid__item--fluid
            kt-grid kt-grid--hor
        "
    >
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>{{"Số đến phòng"}}</span>
                    </h3>
                    <span
                        class="
                            kt-subheader__separator kt-subheader__separator--v
                        "
                    ></span>
                    <span class="kt-subheader__desc">
                        {{ "Sửa số đến văn bản phòng" }}
                    </span>
                </div>
                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper"></div>
                </div>
            </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body">
                    <div class="row align-items-center">
                        <form (submit)="TimKiemVanBan($event)" class="col-lg-12">
                            <dx-validation-group>
                            <div class="row">
                                <div class="col-lg-2">
                                    <dx-text-box [(value)]="idvanban" placeholder="Id văn bản cần tìm...">
                                        <dx-validator>
                                            <dxi-validation-rule type="required" message="Bắt buộc nhập"></dxi-validation-rule>
                                            <dxi-validation-rule type="pattern" pattern="^[0-9]+$" message="Chỉ được nhập số"></dxi-validation-rule>
                                        </dx-validator>
                                    </dx-text-box>
                                </div>
                                <div class="col-lg-4">
                                    <dx-button [useSubmitBehavior]="true" type="success" text="Tìm kiếm" icon="search"></dx-button>
                                </div>
                            </div>
                            <div classs="row">
                                <div class="col-lg-12"><dx-validation-summary></dx-validation-summary></div>
                            </div>
                            </dx-validation-group>
                        </form>
                    </div>

                    <div class="row align-items-center">

                        <div class="col-lg-12">
                            <div class="text-center" style="padding: 10px 0px;font-weight: 500;">
                                <h2>Thông tin văn bản</h2>
                            </div>
                        </div>
                        
                        <div class="col-lg-12">
                            <div class="row">
                                <form class="col-lg-12" (submit)="CapNhatSoDenPhong($event)">
                                    <dx-form #vanbanden [(formData)]="vanban" validationGroup="capNhatSoDenValidationGroup" [showValidationSummary]="true">
                                        <dxi-item itemType="group" [colCount]="3">
                                            <dxi-item dataField="id" [visible]="false" [editorOptions]="{readOnly: true}"></dxi-item>
                                            <dxi-item dataField="bookDV" editorType="dxSelectBox" [editorOptions]="bookDVOptions">
                                                <dxo-label text="Sổ đơn vị"></dxo-label>
                                                <dxi-validation-rule type="required" message="Sổ đơn vị bắt buộc nhập"></dxi-validation-rule>
                                            </dxi-item>
                                            <dxi-item dataField="incommingNumberDV">
                                                <dxo-label text="Số đến đơn vị"></dxo-label>
                                                <dxi-validation-rule type="required" message="Số đến đơn vị bắt buộc nhập"></dxi-validation-rule>
                                            </dxi-item>
                                            <dxi-item itemType="button" [buttonOptions]="saveBtnOptions" horizontalAlignment="left"></dxi-item>
                                        </dxi-item>
                                    </dx-form>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
