<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #roleMapperGroupForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="roleMapperGroup.id">{{l("EditRoleMapperGroup")}}</span>
                        <span *ngIf="!roleMapperGroup.id">{{l("CreateNewRoleMapperGroup")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <dx-form #roleMapperGroupForm [formData]="roleMapperGroup">
                        <dxi-item itemType="group" colCount="2">
                            <dxi-item [colSpan]="2" dataField="name">
                                <dxo-label text="Tên nhóm"></dxo-label>
                            </dxi-item>
                            <dxi-item [colSpan]="2" dataField="description">
                                <dxo-label text="Chú thích"></dxo-label>
                            </dxi-item>
                            <dxi-item [colSpan]="2" dataField="orgId" editorType="dxSelectBox" [editorOptions]="{
                                dataSource: organizationUnits,
                                displayExpr: 'displayName',
                                valueExpr: 'id',
                                searchEnabled: true,
                                searchExpr: ['displayName']
                            }">
                                <dxo-label text="Cơ cấu tổ chức"></dxo-label>
                            </dxi-item>
                        </dxi-item>
                    </dx-form>
                    <!-- <div class="form-group">
                        <label for="RoleMapperGroup_Name">{{l("Name")}}</label>
                        <input type="text" id="RoleMapperGroup_Name" class="form-control" [(ngModel)]="roleMapperGroup.name" name="Name"    />
                    </div>
        
                    <div class="form-group">
                        <label for="RoleMapperGroup_Description">{{l("Description")}}</label>
                        <input type="text" id="RoleMapperGroup_Description" class="form-control" [(ngModel)]="roleMapperGroup.description" name="Description"    />
                    </div>
        
                    <div class="form-group">
                        <label for="RoleMapperGroup_OrgId">{{l("Cơ cấu tổ chức")}}</label>
                        <input type="number" id="RoleMapperGroup_OrgId" class="form-control" [(ngModel)]="roleMapperGroup.orgId" name="OrgId"  />
                    </div> -->
                </div>
                <div class="modal-footer">
                    <dx-button [disabled]="saving" text="Đóng" (onClick)="close()"></dx-button>
					<dx-button text="Lưu" (onClick)="save()" type="success" icon="save"></dx-button>
                </div>
            </form>
        </div>
    </div>

</div>