<div class="row">
  <div class="col-12">
    <div class="card card-outline-info">
      <div class="card-body" id="content">
        <div class="pulse"></div>
        <div class='row'>
          <div class="col - 12 col - md - 6">
              <div [innerHTML]="html">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- <div class="col-sm-6 col-md-4 col-xl-4">
  <div class="card no-shadow rm-border bg-transparent widget-chart text-left">
    <div class="icon-wrapper rounded-circle">
      <div class="icon-wrapper-bg opacity-10 bg-warning">
      </div>
      <i class="pe-7s-album text-white opacity-8">
      </i>
    </div>
    <div class="widget-chart-content">
      <div class="widget-subheading">Cash Deposits</div>
      <div class="widget-numbers">1,7M</div>
      <div class="widget-description opacity-8 text-focus">
        <div class="d-inline text-danger pr-1">
          <a>Chi tiết</a>
        </div>
      </div>
      <div class="divider m-0 d-md-none d-sm-block">
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="col-sm-6 col-md-4 col-xl-4">
<div class="info-box">
  <div>
  <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>

  <div class="info-box-content">
    <span class="info-box-text">CPU Traffic</span>
    <span class="info-box-number">90<small>%</small></span>
    <a href="#" class="small-box-footer">
      More info <i class="fa fa-arrow-circle-right"></i>
    </a>
  </div>
  
  </div>
  
</div>
</div> -->