::ng-deep .dx-group-panel-message{
    display: none !important;
}

::ng-deep svg {
    /* //position: absolute; */
    margin-right: 10px;
    width: 100%;
    /* //padding: 0px; */
}

::ng-deep .dx-group-panel-message{
    display: none;
}

::ng-deep .dx-button-default {
    margin-left: 5px;
}

/*Custom*/

::ng-deep .dx-layout-manager .dx-field-item:not(.dx-first-row) {
    padding-top: 4px;
}

::ng-deep .dx-datagrid-rowsview .dx-row > .dx-master-detail-cell {
    padding: 0;
}

::ng-deep .dx-datagrid-rowsview .dx-select-checkboxes-hidden > tbody > tr > td > .dx-select-checkbox{
    display: flex;
}

::ng-deep .custom-hover-default:hover {
    text-decoration: none;
    color: white;
    background-color: #2f477a;
    border-color: #293e6b;
}

::ng-deep .custom-hover-success.dx-button-success {
    color: white;
}

::ng-deep .custom-hover-success:hover {
    text-decoration: none;
    color: white;
    background-color: #449d44;
    border-color: #398439;
}

::ng-deep .custom-hover-normal.dx-button-normal {
    color: #444;
}

::ng-deep .custom-hover-normal:hover {
    text-decoration: none;
    background-color: #e6e6e6;
    border-color: #bebebe;
}

::ng-deep .row-odd-style.table tr:nth-child(2n) {
    background-color: #f8f8f8;
}

/* Tự thêm */
/*  Căn chỉnh vertical vào giữa cho header DxDataGrid */
::ng-deep .dx-datagrid-headers .dx-datagrid-table .dx-row > td {
    vertical-align: middle !important;
    text-align: center !important;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}
/* Đổi màu khung checkbox*/
::ng-deep .dx-checkbox.dx-state-readonly .dx-checkbox-icon {
    border-color: #a9a9a98c;
}
/* Hiệu ứng box-shadow cho từng row DxDatagrid*/
::ng-deep .dx-row.dx-data-row:hover {
    box-shadow: 0 4px 22px #31313180;
    transform: scale(1);
    transition: ease-in 0.2s;
    -webkit-transition: ease-in 0.2s;
    -moz-transition: ease-in 0.2s;
}
/* Điều chỉnh padding cho row header DxDatagrid*/
::ng-deep .dx-datagrid-headers .dx-datagrid-table .dx-row > td {
    padding: 7px 0px 7px 0px !important;
    background-color: #4c75a3;
    color: white;
}
/* Căn chỉnh vertical cho nội dung từng cell của DxDataGrid vào giữa */
::ng-deep .dx-datagrid-rowsview .dx-row.dx-row-lines > td {
    vertical-align: middle !important;
}
/* Chỉnh font-size cho row group của DxDataGrid*/
::ng-deep .dx-datagrid-rowsview .dx-row.dx-group-row td {
    font-size: 14px;
    font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Verdana, sans-serif;
}

/* Chỉnh sửa background-color cho row khi hover */
::ng-deep .dx-row.dx-data-row:nth-child(2n+1) {
    background-color: #f5f8ff;
}

::ng-deep .dx-row.dx-data-row:nth-child(2n+2) {
    background-color: #fff;
}

::ng-deep .item-cursor:hover {
    color: blue;
}
/*----------------------------------------------------*/

/* Chỉnh màu border cho lưới tabs */
::ng-deep .dx-tabpanel .dx-multiview-wrapper {
    border: 1px solid #3b5999 !important;
}

::ng-deep .dx-item .dx-tab:hover .dx-icon {
    color: #444 !important;
}

::ng-deep .dx-tab .dx-icon:not(.dx-tab-state):not(.dx-state-hover) {
    color: white;
}

::ng-deep .dx-tab-selected .dx-icon {
    color: #444 !important;
}

::ng-deep .dx-item.dx-tab.dx-tab-selected.dx-icon {
    color: #444 !important;
}

::ng-deep .dx-item.dx-tab.dx-tab-selected {
    color: #444;
}

::ng-deep .dx-tabpanel .dx-tab:not(.dx-tab-selected):not(.dx-state-hover) {
    color: white;
}

::ng-deep .dx-item.dx-tab.dx-tab-selected.dx-state-focused {
    color: #444 !important;
}

::ng-deep .dx-item.dx-tab:hover {
    color: #444 !important;
}

// ::ng-deep .dx-tabpanel .dx-tabs {
//     background-color: #4c75a3 !important;
// }

// ::ng-deep span.dx-form-group-caption {
//     text-shadow: 2px 2px 3px #4c75a3b3 !important;
//     font-weight: bold;
//     color: #4c75a3;
// }
/*--------------------------------------------------------------------------------------------------------*/

::ng-deep svg {
    display: block;
    width: 100%;
}

::ng-deep g {
    display: block;
    width: 100%;
}

::ng-deep .dx-group-panel-message {
    display: none !important;
}

::ng-deep .dx-datagrid-group-panel .dx-group-panel-message{
    display: none !important;
}

::ng-deep .dx-command-select {  
    width: 40px !important;  
    min-width: 30px !important;  
}  


.invalidCell {
    border: 3px solid red!important;
}