<div [@routerTransition]>
  <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="kt-subheader kt-grid__item">
      <div [class]="containerClass">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                <span>Danh sách Hard Datasource</span>
            </h3>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
				<button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> {{l("ExportToExcel")}}</button>
                <button *ngIf="isGranted('Pages.HardDatasourceGroups.Create')" (click)="createHardDatasourceGroup()"
			class="btn btn-primary blue"><i class="fa fa-plus"></i>Tạo mới Nhóm Hard Datasource</button>
            </div>
        </div>
      </div>
    </div>
    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container col-12"
                         [busyIf]="primengTableHelper.isLoading">
                         <dx-data-grid
                                #gridContainer id="gridContainer"
                                [dataSource]="tableResult"
                                keyExpr="id"
                                [showRowLines]="true"
                                [allowColumnReordering]="true"
                                [showBorders]="true"
                                >
                                    <dxo-export [enabled]="true" fileName="DynamicDatasource" [allowExportSelectedData]="true"></dxo-export>
                                    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 25, 50, 100]"
                                        [showInfo]="true"></dxo-pager>
                                    <dxo-search-panel [visible]="true" placeholder="Nhập nội dung..." width="350">
                                    </dxo-search-panel>
                                    <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
                                    <dxi-column caption='#' cellTemplate='dropdown' [width]="8+'%'" alignment="center"></dxi-column>
                                    <dxi-column dataField='id' caption='Id' [visible]="false"></dxi-column>
                                    <dxi-column dataField='code' caption='Code' [width]="50+'%'"></dxi-column>
                                    <dxi-column dataField='description' caption='Mô tả' [width]="45+'%'"></dxi-column>
                                    <div *dxTemplate="let info of 'dropdown'">
                                        <div class="btn-group dropdown" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="fa fa-cog"></i><span class="caret"></span>
                                            </button>
											<ul class="dropdown-menu"  *dropdownMenu>
												<li>
													<a href="javascript:;" *ngIf="permission.isGranted('Pages.HardDatasourceGroups.Edit')"
                                                    (click)="createOrEditHardDatasourceGroupModal.show(info.data.id)">{{l('Edit')}}</a>
												</li>
												<li>
											        <a href="javascript:;" *ngIf="permission.isGranted('Pages.HardDatasourceGroups.Delete')"
                                                    (click)="deleteHardDatasourceGroup(info.data)">{{l('Delete')}}</a>
                                                </li>
                                                <li>
											        <a href="javascript:;" *ngIf="permission.isGranted('Pages.HardDatasourceGroups.Edit')"
                                                    (click)="viewData(info.data)">Cấu hình</a>
												</li>
                                            </ul>
                                        </div>
                                    </div>
                                </dx-data-grid>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <createOrEditHardDatasourceModal #createOrEditHardDatasourceModal></createOrEditHardDatasourceModal>
    <createOrEditHardDatasourceGroupModal #createOrEditHardDatasourceGroupModal (modalSave)="loadData()"></createOrEditHardDatasourceGroupModal>
    <!-- <viewHardDatasourceGroupModal #viewHardDatasourceGroupModal></viewHardDatasourceGroupModal> -->
    <dataHardDatasourceGroupModal #dataHardDatasourceGroupModal ></dataHardDatasourceGroupModal>
  </div>
</div>
