<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #roleMapperForm="ngForm" name="roleMapperForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="roleMapper.id">{{l("EditRoleMapper")}}</span>
                        <span *ngIf="!roleMapper.id">{{l("CreateNewRoleMapper")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="RoleMapper_RoleId">{{l("Role")}}</label>
                        <select id="RoleMapper_RoleId" class="form-control" [(ngModel)]="roleMapper.roleId" name="RolelId" >
                            <option *ngFor="let role of roleOptions" [value]="role.id">{{role.displayName}}</option>
                        </select>
                    </div>
        
                    <!-- <div class="form-group">
                        <label for="RoleMapper_LabelId">{{l("LabelId")}}</label>
                        <input type="number" id="RoleMapper_LabelId" class="form-control" [(ngModel)]="roleMapper.labelId" name="LabelId"  />
                    </div> -->
                    <!-- <div class="form-group">
                        <div class="form-check">
                            <input #op1 type="radio" class="form-check-input" name="toggleOptions" id="toggleOptions1" value="1" (onClick)="radioClick($event)" />
                            <label for="toggleOptions1">Menu</label>
                        </div>
                        <div class="form-check">
                            <input #op2 type="radio" class="form-check-input" name="toggleOptions" id="toggleOptions2" value="1" (onClick)="radioClick($event)" />
                            <label for="toggleOptions2">Label</label>
                        </div>
                    </div> -->

                    <div class="form-group" id="menuForm">
                        <label for="RoleMapper_MenuId">{{l("Menu")}}</label>
                        <select id="RoleMapper_MenuId" class="form-control" [(ngModel)]="roleMapper.menuId" name="MenuId" (click)="mouseClick($event, roleMapper.menuId)">
                            <option *ngFor="let menu of listmenu" [value]="menu.id">{{menu.name}}</option>
                        </select>
                    </div>



                    <!-- <div class="form-group" id="labelForm">
                        <label for="RoleMapper_LabelId">{{l("Label")}}</label>
                        <select id="RoleMapper_LabelId" class="form-control" [(ngModel)]="roleMapper.labelId" name="LabelId">
                            <option *ngFor="let label of listlabel" [value]="label.id">{{label.name}}</option>
                        </select>
                    </div> -->


                    <div class="dx-field">
                        <div class="dx-field-label">Chọn Label </div>
                        <div class="dx-field-value">
                            <!-- <dx-drop-down-box
                                [(value)]="treeBoxValue"
                                valueExpr="name"
                                displayExpr="name"
                                placeholder="Select a value..."
                                [showClearButton]="true"
                                [dataSource]="listlabel"
                              
                            >
                            <div *dxTemplate="let data of 'content'"> -->
                            <dx-tag-box
                                [dataSource]="listlabel"
                                dataStructure="plain"
                                keyExpr="id"
                                [(selectedItems)]="selectedItems"
                                displayExpr="name"
                            >
                            </dx-tag-box>
                            <!-- </div>
                            </dx-drop-down-box> -->
                        </div>
                    </div>
                   
        
                    <!-- <div class="form-group">
                        <label for="RoleMapper_MenuId">{{l("MenuId")}}</label>
                        <input type="text" id="RoleMapper_MenuId" class="form-control" [(ngModel)]="roleMapper.menuId" name="MenuId"    />
                    </div> -->
        
                    <br/><div class="m-checkbox-list">
                        <label for="RoleMapper_IsActive" class="kt-checkbox">
                            <input id="RoleMapper_IsActive" type="checkbox" name="IsActive" [(ngModel)]="roleMapper.isActive"> 
                            {{l("IsActive")}}
                            <span></span>
                        </label>
                    </div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!roleMapperForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"  (click)="save() "><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>

                     <!-- <button type="submit" class="btn btn-primary blue" [disabled]="!roleMapperForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" (click)="checkedVal=((op1.checked==true && op2.checked==false)?true:false);save()"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button> -->
                </div>
            </form>
        </div>
    </div>

</div>