.bg-selected {
    background-color: #ccc6b9;
}

.bg-droppable {
    background-color: #f4d99f;
}

::ng-deep .dx-tabpanel .dx-tabs {
    display: block;
    border-bottom: none;
    background-color: #1e88e5;
}