<div bsModal #chiTietPhanCongNVModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="chiTietPhanCongNVModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <form novalidate id="chiTietPhanCongNVModal" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        Chi tiết phân công nhiệm vụ 
                    </h4>
                </div>
                <div class="modal-header">
                    <dx-button icon="fas fa-arrow-left" text="Quay lại" type="normal" (onClick)="close()"></dx-button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <dx-data-grid #gridContainerOrg id="gridContainerOrg"
                                [remoteOperations]="false" [allowColumnReordering]="true"
                                [rowAlternationEnabled]="true" [allowColumnResizing]="true"
                                [dataSource]="planAssigns"
                                columnResizingMode="widget" [showBorders]="true">
                                <dxo-paging [enabled]="false"></dxo-paging>
                                <dxi-column dataField="stt" columnIndex="1" caption="STT" alignment="center"
                                [width]="5+'%'" cellTemplate="sttCellTemplate"></dxi-column>
                                <dxi-column [allowFiltering]="true" [allowEditing]="false" headerCellTemplate="actionHeaderTemplate"
                                    dataField="PCNV" [encodeHtml]="false" alignment="left" width="15%">
                                </dxi-column>
                                <dxi-column [allowFiltering]="true" [allowEditing]="false"
                                    caption="Nhiệm vụ phân công" dataField="AssignContent" width="20%">
                                </dxi-column>
                                <dxi-column [allowFiltering]="true" [allowEditing]="false" [encodeHtml]="false"
                                    caption="Hạn thực hiện" dataField="Deadline" alignment="center" width="10%">
                                </dxi-column>
                                <dxi-column [allowFiltering]="true" [allowEditing]="false"  headerCellTemplate="kqthHeaderTemplate"
                                    caption="Kết quả thực hiện" dataField="KQTH" [encodeHtml]="false" width="30%">
                                </dxi-column>
                                <dxi-column [allowFiltering]="true" [allowEditing]="false"
                                caption="Đánh giá kết quả" dataField="DGKQ" [encodeHtml]="false" alignment="left" width="15%">
                                </dxi-column>

                                <div *dxTemplate="let info of 'actionHeaderTemplate'">
                                    <div class="current-value" style="text-align: center;">Chỉ huy/</div>
                                    <div class="diff" style="text-align: center;">Đội thực hiện</div>
                                </div>

                                <div *dxTemplate="let info of 'kqthHeaderTemplate'">
                                    <div class="current-value" style="text-align: center;">Kết quả</div>
                                    <div class="diff" style="text-align: center;">thực hiện</div>
                                </div>

                                <!-- <div *dxTemplate="let info of 'dgkqHeaderTemplate'">
                                    <div class="current-value" style="text-align: center;">Đánh giá</div>
                                    <div class="diff" style="text-align: center;">kết quả</div>
                                </div> -->

                                <div *dxTemplate="let info of 'sttCellTemplate'">
                                    <div> {{info.rowIndex + 1}}</div>
                                </div>

                            </dx-data-grid>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>