<dx-popup #confirmPopUp id="confirmPopUp" [width]="950" [title]="'Danh sách VB trùng số kí hiệu'" [height]="550" [dragEnabled]="false"
    [closeOnOutsideClick]="true" [(visible)]="documentExistsVisible">
    <dx-data-grid #gridContainer id="gridContainer" [height]="400" [showColumnLines]="true" [remoteOperations]="false"
        [allowColumnReordering]="true" [rowAlternationEnabled]="true" [showBorders]="true" [allowColumnResizing]="true"
        [columnAutoWidth]="true" [(dataSource)]="initialData" [cellHintEnabled]="true">
        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 50, 100]" [showInfo]="true"></dxo-pager>

        <dxo-filter-row [visible]="false"></dxo-filter-row>
        <dxo-paging [pageSize]="5"></dxo-paging>

        <dxi-column cellTemplate="diffCellTemplate" [allowSearch]="true" headerCellTemplate="titleHeaderTemplate"
            columnIndex="3" [width]="12+'%'" dataType="date" format="d/M/yyyy" alignment="center">
        </dxi-column>
        <dxi-column dataField="PublisherName" columnIndex="7" headerCellTemplate="titleHeaderTemplate2"
            [width]="15+'%'"></dxi-column>
        <dxi-column dataField="IncommingNumber" [visible]="false"></dxi-column>
        <dxi-column dataField="Number" [visible]="false"></dxi-column>
        <dxi-column [allowSearch]="true" columnIndex="4" cellTemplate="diffCellTemplate1"
            headerCellTemplate="titleHeaderTemplate1" alignment="center" [width]="12+'%'">
        </dxi-column>
        <dxi-column dataField="Deadline" columnIndex="5" headerCellTemplate="titleHeaderTemplate3" alignment="center"
            [width]="10+'%'" dataType="date" format="d/M/yyyy">
        </dxi-column>
        <dxi-column dataField="Summary" columnIndex="8" [width]="20+'%'" caption="Trích yếu"></dxi-column>
        <dxi-column dataField="ProcessingRecommended" headerCellTemplate="titleHeaderTemplate4" columnIndex="6"
            [width]="15+'%'"></dxi-column>
        <dxi-column dataField="DirectorName" columnIndex="6" alignment="center" [width]="16+'%'" caption="BGĐ">
        </dxi-column>
        <div *dxTemplate="let info of 'titleHeaderTemplate4'">
            <div class="current-value" style="text-align: center;">Ý kiến đề</div>
            <div class="diff" style="text-align: center;">xuất PV01</div>
        </div>
        <div *dxTemplate="let info of 'titleHeaderTemplate'">
            <div class="current-value">Số VB đến</div>
            <div class="diff">Ngày VB đến</div>
        </div>
        <div *dxTemplate="let info of 'titleHeaderTemplate3'">
            <div class="current-value">Hạn </div>
            <div class="diff"> giải quyết</div>
        </div>
        <div *dxTemplate="let info of 'titleHeaderTemplate2'" style="text-align: center !important">
            <div class="current-value">Nơi phát</div>
            <div class="diff">hành</div>
        </div>
        <div *dxTemplate="let info of 'titleHeaderTemplate1'">
            <div class="current-value">Số đến</div>
            <div class="diff">Ngày đến</div>
        </div>
        <div *dxTemplate="let d of 'diffCellTemplate'">
            <div class="current-value" style="font-weight: bold;">{{d.data.Number}}</div>
            <div class="diff">{{d.data.PublishDate | date: "dd/MM/yyyy " }}</div>
        </div>
        <div *dxTemplate="let d of 'diffCellTemplate1'">
            <div class="current-value" style="font-weight: bold;">{{d.data.IncommingNumber}}</div>
            <div class="diff">{{d.data.IncommingDate | date: "dd/MM/yyyy "}}</div>
        </div>
    </dx-data-grid>

</dx-popup>

<style>
    ::ng-deep .dx-row {
        font-size: 15px;
        white-space: normal;
    }

    /* ::ng-deep td[role="columnheader"]{
            text-align: center !important;
        }   */
</style>