<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="keywordModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #memorizeKeywordForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>{{l("Bạn muốn lưu với tên gợi nhớ gì?")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="documentType_KeywordName">{{l("KeywordName")}}</label>
                        <input type="text" id="documentType_KeywordName" class="form-control" [(ngModel)]="memorizeKeyword.keyWord" name="documentType_KeywordName"    />
                    </div>
                    <!-- <div class="form-group">
                        <label for="documentType_IsActive">{{l("IsActive")}}</label>
                        <input type="checkbox" id="documentType_IsActive" class="form-control" [(ngModel)]="memorizeKeyword.isActive" name="documentType_IsActive"    />
                    </div> -->
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!memorizeKeywordForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>

            <!-- <dx-form *ngIf="active" [(formData)]="transferData" validationGroup="formValidateGroup" colCount="3">
                <dxi-item dataField="content" [colSpan]="3" >
                    <dxo-label text="Nội dung xử lý"></dxo-label>
                </dxi-item>
                <dxi-item dataField="endDate" [colSpan]="3" editorType="dxDateBox" [editorOptions]="{}" >
                    <dxo-label text="Hạn xử lý"></dxo-label>
                    <dx-button text="Chuyển" type="success" icon="email" (onClick)="save()" > </dx-button>
                </dxi-item>
                
            </dx-form> -->
            
        </div>
    </div>
</div>