<!-- <div [@routerTransition] (window:resize)="onResize($event)"> -->
    <div [@routerTransition]>
        <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
            <div class="kt-subheader kt-grid__item">
                <div [class]="containerClass">
                    <div class="kt-subheader__main">
                        <h3 class="kt-subheader__title">
                            <span>{{headerText}}</span>
                        </h3>
                    </div>
                </div>
            </div>
            <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
                <div class="kt-portlet kt-portlet--mobile">
                    <div class="modal-body">
                        <div class="row align-items-center">
                            <!--<Primeng-TurboTable-Start>-->
                            <div class="col primeng-datatable-container">
                                <dx-data-grid #gridContainer id="gridContainer" [showColumnLines]="true"
                                     [showBorders]="true" [allowColumnResizing]="true" [wordWrapEnabled]="true"
                                    [columnAutoWidth]="true" [(dataSource)]="initialData" [cellHintEnabled]="true">
                                    <dxo-scrolling mode="standard" [scrollByContent]="true" [scrollByThumb]="true"
                                        showScrollbar="always">
                                        <!-- or "virtual" | "infinite" -->
                                    </dxo-scrolling>
                                    <dxo-selection mode="multiple"> </dxo-selection>
                                    <dxo-export [enabled]="true" fileName="Documents" [allowExportSelectedData]="true">
                                    </dxo-export>
                                    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[50, 100]"
                                        [showInfo]="true" [showNavigationButtons]="true"></dxo-pager>
                                    <dxo-search-panel [visible]="true" placeholder="Nhập nội dung..." width="250">
                                    </dxo-search-panel>
                                    <!-- <dxo-header-filter [visible]="true"></dxo-header-filter> -->
                                    <dxo-filter-row [visible]="false"></dxo-filter-row>
                                    <dxo-paging [enabled]="true" [pageSize]="50"></dxo-paging>
                                    <!-- <dxi-column dataField="number_publishdate" caption="Số ký hiệu / Ngày phát hành" [visible]="false"></dxi-column> -->
                                    <dxi-column type="selection" [width]="3+'%'"></dxi-column>
                                    <dxi-column dataField="stt" columnIndex="1" caption="STT" alignment="center"
                                        [width]="5+'%'"></dxi-column>
                                    <dxi-column columnIndex="9" alignment="center" [width]="6+'%'" [allowExporting]="false"
                                        cellTemplate="customTemplate" caption="Xử lý"  ></dxi-column>
                                    <!-- <dxi-column dataField="action_button " columnIndex="2" cellTemplate="actionTemplate"
                                            caption="#" [width]="8+'%'" alignment="center"></dxi-column> -->
                                    <dxi-column dataField="PublishDate" [allowSearch]="true" [allowFiltering]="true"
                                        columnIndex="3" [width]="11+'%'" caption="Ngày phát hành"
                                        dataType="date" format="d/M/yyyy" alignment="center">
                                    </dxi-column>
                                    <dxi-column dataField="PublisherName" columnIndex="7" caption="Nơi phát hành"
                                        headerCellTemplate="titleHeaderTemplate2" [width]="10+'%'">
                                    </dxi-column>
                                    <dxi-column dataField="Summary" columnIndex="8" caption="Trích yếu">
                                    </dxi-column>
                                    <dxi-column dataField="ReplyNumber" [width]="15+'%'"   caption="Trả lời văn bản">
                                    </dxi-column>

                                    <div *dxTemplate="let info of 'titleHeaderTemplate4'">
                                        <div class="current-value" style="text-align: center;">Ý kiến đề</div>
                                        <div class="diff" style="text-align: center;">xuất PV01</div>
                                    </div>
                                    <!-- <div *dxTemplate="let info of 'titleHeaderTemplate'">
                                        <div class="current-value">Số VB</div>
                                        <div class="current-value">Ngày phát hành</div>
                                    </div> -->
                                    <div *dxTemplate="let info of 'titleHeaderTemplate2'"
                                        style="text-align: center !important">
                                        <div class="current-value">Nơi phát</div>
                                        <div class="diff">hành</div>
                                    </div>
                                    <div *dxTemplate="let d of 'customTemplate'">
                                        <div class="btn-group dropdown btn-smaller-padding" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="fa fa-cog"></i>
                                            </button>
                                            <ul class="dropdown-menu" *dropdownMenu>
                                                <li *ngIf="type == 1">
                                                    <a href="javascript:;" (click)="chuyen_VTCATP(d.data)"><i class="fas fa-edit"
                                                            style="color: rgb(7, 88, 44);"></i>Chuyển VTCATP</a>
                                                </li>
                                                <li *ngIf="type == 2">
                                                    <a href="javascript:;" (click)="reply(d.data)"><i class="fas fa-edit"
                                                            style="color: rgb(7, 88, 44);"></i>{{buttonText}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div *dxTemplate="let d of 'diffCellTemplate'">
                                        <div class="diff">{{d.data.PublishDate | date: "dd/MM/yyyy " }}</div>
                                    </div>
                                </dx-data-grid>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <style>
        ::ng-deep .dx-row {
            font-size: 15px;
            white-space: normal;
        }
    </style>
