<div class="si-pc card m-b-30">
    <div class="card-body" [ngStyle]="si_pc_widget_formatcss">
        <div class="xp-widget-box text-center">
            <div style="display:inline-block;height:100px;">
                <p [ngStyle]="si_pc_content1_formatcss">{{si_pc_content1}}</p>
                <!-- <p [ngStyle]="si_pc_content1_formatcss"><a [href]="si_pc_link" target="_blank">{{si_pc_content1}}</a></p> -->

                <!-- <canvas #canvas id="myCanvas" width="100" height="100"></canvas> -->
                <canvas #canvas id="myCanvas" ([width])="canvas_width" ([height])="canvas_height"></canvas>
                <!-- <input class="xp-knob" data-width="100" data-height="100" data-linecap="round" data-bgcolor="#e1e4e9" data-fgcolor="#4c7cf3" data-thickness=".1" readonly="readonly" [value]="si_pc_value1" style="width: 54px;height: 33px;position: absolute;vertical-align: middle;margin-top: 33px;margin-left: -77px;border: 0px;background: none;font: bold 20px Arial;text-align: center;color: rgb(76, 124, 243);padding: 0px;-webkit-appearance: none;"> -->
                <!-- <input class="xp-knob" [width]="canvas_width" [height]="canvas_height" data-linecap="round" data-bgcolor="#e1e4e9" data-fgcolor="#4c7cf3" data-thickness=".1" readonly="readonly" [value]="si_pc_value1" [ngStyle]="si_pc_value1_formatcss" style="position: absolute;vertical-align: middle;border: 0px;background: none;font: bold 20px Arial;text-align: center;padding: 0px;-webkit-appearance: none;"
                    [style.width.px]="border_width" [style.height.px]="border_height" [style.margin-top.px]="border_margin_top" [style.margin-left.px]="border_margin_left"> -->

                <a [href]="si_pc_link" target="_blank" class="xp-knob" [ngStyle]="si_pc_value1_formatcss" style="position: absolute;vertical-align: middle;border: 0px;background: none;font: bold 20px Arial;text-align: center;padding: 0px;-webkit-appearance: none;" [style.width.px]="border_width"
                    [style.height.px]="border_height" [style.margin-top.px]="border_margin_top" [style.margin-left.px]="border_margin_left">{{si_pc_value2}}</a>
                <!-- <h4 class="xp-counter text-primary m-t-20" [ngStyle]="si_pc_content1" style="color: rgb(76, 124, 243);">{{si_pc_value2}}</h4> -->
                <h4 class="xp-counter text-primary m-t-20" [ngStyle]="si_pc_value2_formatcss">{{si_pc_value2}}</h4>
                <p [ngStyle]="si_pc_content2_formatcss">{{si_pc_content2}}</p>
                <p class="mb-0 f-w-5 ">
                    <span class="badge" [ngStyle]="si_pc_frame_icon_formatcss">
                        <i [ngClass]="si_pc_icon" [ngStyle]="si_pc_icon_formatcss"></i>
                        <i [ngStyle]="si_pc_percent_content_formatcss"> {{si_pc_percent_content}}</i>
                    </span>
                    <!-- <span [ngStyle]="si_pc_percent_content_formatcss">{{si_pc_percent_content}}</span> -->
                </p>
            </div>
        </div>
    </div>
</div>