<div class="col-sm-12 btn-line">
    <dx-button id="submit_to_the_director" [elementAttr]="{ class: 'buttonUI' }" *ngIf="submit_to_the_director == true"
    text="Trình BGĐ" type="success" icon="fas fa-user-tie" (onClick)="click($event)"></dx-button>

    <dx-button id="hasReturn" *ngIf="hasReturn == true" text="Thu hồi" type="success" icon="fas fa-reply-all"
        (onClick)="click($event)" [elementAttr]="{ class: 'buttonUI' }"></dx-button>

    <dx-button id="hasCreate" *ngIf="hasCreate == true" text="Thêm mới" type="success" icon="fa fa-plus"
        (onClick)="click($event)" [elementAttr]="{ class: 'buttonUI' }"> </dx-button>

    <dx-button id="hasSave" [elementAttr]="{ class: 'buttonUI' }" *ngIf="hasSave == true" text="Cập nhật chỉ đạo" type="success"
        icon="save" (onClick)="click($event)">
    </dx-button>

    <dx-button id="hasSaveAndTransfer" [elementAttr]="{ class: 'buttonUI' }" *ngIf="hasSaveAndTransfer == true"
        text="Lưu và chuyển" type="success" icon="download" (onClick)="click($event)"> </dx-button>

    <dx-button id="hasReport" [elementAttr]="{ class: 'buttonUI' }" *ngIf="hasReport == true" text="Trình giám đốc"
        type="success" icon="comment" (onClick)="click($event)"></dx-button>

    <!-- <dx-button id="hasFinish" [elementAttr]="{ class: 'buttonUI' }" *ngIf="hasFinish == true" text="Xóa" type="success"
        icon="fas fa-trash-alt" (onClick)="click($event)"> </dx-button> -->
<!-- 
    <dx-button id="hasDelete" [elementAttr]="{ class: 'buttonUI' }"  text="Phiếu trình" type="success"
        icon="fa fa-arrow-left" (onClick)="click($event)"></dx-button> -->

    <dx-button id="hasSaveAndCreate" [elementAttr]="{ class: 'buttonUI' }" *ngIf="hasSaveAndCreate == true"
        text="Lưu và tạo mới" type="success" icon="save" (onClick)="click($event)"> </dx-button>

    <!-- <dx-button id="hasAssignWork" [elementAttr]="{ class: 'buttonUI' }" *ngIf="hasAssignWork == true" text="Phân công"
        type="success" icon="download" (onClick)="click($event)"> </dx-button> -->

    <dx-button id="add_Transfer_Vice_Team" [elementAttr]="{ class: 'buttonUI' }" *ngIf="add_Transfer_Vice_Team == true"
        text="Chuyển  bổ sung đội phó" type="success" icon="fas fa-id-card-alt" (onClick)="click($event)"></dx-button>

    <dx-button id="transfer_Vice_Team" [elementAttr]="{ class: 'buttonUI' }" *ngIf="transfer_Vice_Team == true"
        text="Chuyển đội phó" type="success" icon="fas fa-id-card-alt" (onClick)="click($event)"> </dx-button>

    <dx-button id="transfer_Organize" [elementAttr]="{ class: 'buttonUI' }" *ngIf="transfer_Organize == true"
        text="Chuyển Tổ" type="success" icon="fas fa-users" (onClick)="click($event)"> </dx-button>

    <dx-button id="add_Transfer_Team" [elementAttr]="{ class: 'buttonUI' }" *ngIf="add_Transfer_Team == true"
        text="Chuyển  bổ sung đội" type="success" icon="fas fa-synagogue" (onClick)="click($event)"> </dx-button>

    <dx-button id="add_Transfer_Deputy" [elementAttr]="{ class: 'buttonUI' }" *ngIf="add_Transfer_Deputy == true"
        text="Chuyển bổ sung phó phòng" type="success" icon="fas fa-user-tie" (onClick)="click($event)"> </dx-button>

    <dx-button id="transfer_Team" [elementAttr]="{ class: 'buttonUI' }" *ngIf="transfer_Team == true" text="Chuyển đội"
        type="success" icon="fas fa-synagogue" (onClick)="click($event)"></dx-button>

    <dx-button id="transfer_Deputy" [elementAttr]="{ class: 'buttonUI' }" *ngIf="transfer_Deputy == true"
        text=" Chuyển phó phòng" type="success" icon="fas fa-user-tiet" (onClick)="click($event)"> </dx-button>

    <dx-button id="add_Transfer_Department" [elementAttr]="{ class: 'buttonUI' }"
        *ngIf="add_Transfer_Department == true" text="Chuyển bổ sung phòng" type="success" icon="fas fa-hotel"
        (onClick)="click($event)"></dx-button>

    <dx-button id="add_Transfer_Vice_President" [elementAttr]="{ class: 'buttonUI' }"
        *ngIf="add_Transfer_Vice_President == true" text="Chuyển bổ sung PGD" type="success" icon="fas fa-user-tie"
        (onClick)="click($event)"> </dx-button>

    <dx-button id="transfer_Department" [elementAttr]="{ class: 'buttonUI' }" *ngIf="transfer_Department == true"
        text=" Chuyển phòng" type="success" icon="fas fa-hotel" (onClick)="click($event)"> </dx-button>

    <dx-button id="transfer_Vice_President" [elementAttr]="{ class: 'buttonUI' }"
        *ngIf="transfer_Vice_President == true" text=" Chuyển PGD" type="success" icon="fas fa-user-tie"
        (onClick)="click($event)"></dx-button>

    <dx-button id="transfer_Soldier_officer" [elementAttr]="{ class: 'buttonUI' }"
        *ngIf="transfer_Soldier_officer == true" text="Chuyển cán bộ chiến sĩ" type="success" icon="fas fa-address-book"
        (onClick)="click($event)"> </dx-button>

    <dx-button [elementAttr]="{ class: 'buttonUI' }" id="additional_Transfer_Soldier_officer"
         *ngIf="additional_Transfer_Soldier_officer == true"
        text="Chuyển bổ sung cán bộ chiến sĩ" type="success" icon="fas fa-chalkboard-teacher" (onClick)="click($event)"> </dx-button>

    <dx-button id="draft_the_text_away" [elementAttr]="{ class: 'buttonUI' }" *ngIf="draft_the_text_away == true"
        text="Dự thảo văn bản đi" type="success" icon="far fa-calendar-alt" (onClick)="click($event)"> </dx-button>

    <dx-button id="Report" [elementAttr]="{ class: 'buttonUI' }" *ngIf="report == true" text="Báo cáo" type="success"
        icon="fas fa-copy" (onClick)="click($event)"> </dx-button>

    <dx-button id="saveVB" [elementAttr]="{ class: 'buttonUI' }" *ngIf="saveVB == true" text="Lưu văn bản"
        type="success" icon="fas fa-envelope" (onClick)="click($event)"></dx-button>

    <dx-button id="submit_to_the_manager" [elementAttr]="{ class: 'buttonUI' }" *ngIf="submit_to_the_manager == true"
        text="Trình trưởng phòng" type="success" icon="fas fa-user-tie" (onClick)="click($event)"> </dx-button>

  
    <dx-button id="add_Transfer_Organize" [elementAttr]="{ class: 'buttonUI' }" *ngIf="add_Transfer_Organize == true"
        text="Chuyển bổ sung tổ" type="success" icon="fas fa-boxes" (onClick)="click($event)"></dx-button>
        <dx-button id="approve_Multiple" [elementAttr]="{ class: 'buttonUI' }" *ngIf="approve_Multiple == true"
        text="Duyệt" type="success" icon="fas fa-boxes" (onClick)="click($event)"></dx-button>
        
</div>
<style>
    .col-sm-12{
        padding-left: 0 !important;
    }
    .buttonUI {
        margin-right: 5px;
    }
</style>