<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>Chi tiết Roles</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row" style="margin : 10px">
                    

                    <dx-data-grid #dataGrid columnResizingMode="widget"
                                                [remoteOperations]="false" [allowColumnReordering]="false" [rowAlternationEnabled]="true"
                                                [showBorders]="true" [allowColumnResizing]="true" [columnAutoWidth]="true" [height]="400"
                                                [(dataSource)]="labelList" [cellHintEnabled]="true">
                                                <dxo-paging [enabled]="false"></dxo-paging>
                                                <!-- <dxo-filter-row [visible]="true"></dxo-filter-row> -->
                                                <!-- <dxo-header-filter [visible]="true"></dxo-header-filter> -->
                                                
                                                <dxi-column dataField="RoleName" columnIndex="1" caption="Tên Role" alignment="left"
                                                    [width]="40+'%'" [allowFiltering]="true" [allowEditing]="false">
                                                </dxi-column>
                                                <dxi-column dataField="MenuName" columnIndex="2" caption="Tên Menu" alignment="left"
                                                    [width]="30+'%'" [allowFiltering]="true" [allowEditing]="false">
                                                </dxi-column>
                                                <dxi-column dataField="LabelName" columnIndex="3" caption="Tên Label" alignment="left"
                                                    [width]="30+'%'" [allowFiltering]="true" [allowEditing]="false">
                                                </dxi-column>
                                            </dx-data-grid>
                </div>

            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-primary blue" (click)="close()">{{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>
