<!-- <div class="kt-login__form" [@routerTransition]>
    <div class="kt-login__title">
        <h3 class="m-0">
            {{ 'LogIn' | localize }}
        </h3>
    </div>

    <form #loginForm="ngForm" class="kt-form" method="post" novalidate (ngSubmit)="login()">

        <div class="form-group">
            <input #userNameOrEmailAddressInput="ngModel" [(ngModel)]="loginService.authenticateModel.userNameOrEmailAddress" autoFocus class="form-control m-input" type="text" autocomplete="new-password" placeholder="{{'UserNameOrEmail' | localize}} *" name="userNameOrEmailAddress" required />
            <validation-messages [formCtrl]="userNameOrEmailAddressInput" *ngIf="!userNameOrEmailAddressInput.touched"></validation-messages>
        </div>

        <div class="form-group">
            <input #passwordInput="ngModel" [(ngModel)]="loginService.authenticateModel.password" class="form-control m-input" type="password" autocomplete="new-password" placeholder="{{'Password' | localize}} *" name="password" required maxlength="32" />
            <validation-messages [formCtrl]="passwordInput" *ngIf="!passwordInput.touched"></validation-messages>
        </div>
      
        <div class="form-group mt-4">
            <label class="kt-checkbox">
                <input class="form-control" [(ngModel)]="loginService.rememberMe" type="checkbox" name="rememberMe" value="true" />{{"RememberMe" | localize}}
                <span></span>
            </label>
        </div>

        <p *ngIf="useCaptcha" class="mt-2 form-text text-muted">
            {{"Captha_Hint" | localize}}
        </p>
        
        <div *ngIf="useCaptcha" class="form-group mt-2 captcha-container">
            <re-captcha #recaptchaRef (resolved)="captchaResolved($event)" [siteKey]="recaptchaSiteKey"></re-captcha>
        </div>
        
        <div class="kt-login__actions">
            <a routerLink="/account/forgot-password" id="forget-password" class="kt-link kt-login__link-forgot">{{"ForgotPassword" | localize}}</a>
            <button type="submit" class="btn btn-primary btn-elevate kt-login__btn-primary" [disabled]="!loginForm.form.valid">{{"LogIn" | localize}}</button>
        </div>
    </form>

    <div class="kt-login__divider">
        <div class="kt-divider">
            <span></span>
            <span>{{"LoginWith" | localize}}</span>
            <span></span>
        </div>
    </div>

    <div class="kt-login__options" *ngIf="(multiTenancySideIsTeanant || !isMultiTenancyEnabled) && loginService.externalLoginProviders.length > 0">
        <a *ngFor="let provider of loginService.externalLoginProviders" class="btn btn-outline-secondary kt-btn btn-sm" (click)="externalLogin(provider)" title="{{provider.name}}">
            <i class="fab fa-{{provider.icon}}"></i>
            {{provider.name}}
        </a>
    </div>

</div>
<div class="kt-login__account">
    <span *ngIf="isSelfRegistrationAllowed">
        <a routerLink="/account/register">{{"CreateAnAccount" | localize}}</a>
        <span> | </span>
    </span>
    <span *ngIf="!multiTenancySideIsTeanant && isTenantSelfRegistrationAllowed">
        <a routerLink="/account/select-edition">{{"NewTenant" | localize}}</a>
        <span> | </span>
    </span>
    <a routerLink="/account/email-activation" id="email-activation-btn">{{"EmailActivation" | localize}}</a>
</div> -->







<!-- new -->

<div id="nentia-img" class="my-container">
    <!-- trong dong -->
    <div style="z-index: 1;height: 0px;position: relative;">
        <div class="my-row" id="trongdong-panel" style="overflow: hidden;width:100%;margin-left: 0px;">
            <div id="trongdong-img"></div>
        </div>
    </div>
    <!-- red-skin -->
    <div style="z-index: 3;height: 0px;position: relative;">
        <div id="red-header-1-panel" style="overflow: hidden;width:100%">
            <div id="red-header-1-img"></div>
        </div>
    </div>
    <div style="z-index: 3;height: 0px;position: relative;">
        <div id="red-header-2-panel" style="overflow: hidden;width:100%">
            <div id="red-header-2-img"></div>
        </div>
    </div>
    <div style="z-index: 4;height: 0px;position: relative;">
        <div id="red-footer-panel" style="overflow: hidden;width:100%">
            <div id="red-footer-img"></div>
        </div>
    </div>

    <div id="main-panel" style="z-index:5;position: relative;min-height: 600px;">
        <div class="login-panel" style="height:100vh;width:100%;margin: 0px;min-height: 600px">
            <div style="position: absolute;height: 100%;display: flex;width:100%;z-index: 999">
                <div class="my-row" style="margin: auto;margin-top:20px;">
                    <div style="display: flex;width:100%;margin:0px">
                        <img width="100px" src="../../assets/js/images/logo.png"
                            style="margin: auto; margin-top:0px; margin-bottom: 0px;width:100px;height:80.5px">
                    </div>
                    <div style="width:100%">
                        <p style="text-align: center;font-size: 18px;color: red; font-weight: bold;margin:0px">QUẢN LÝ VĂN BẢN - CATP</p>
                    </div>
                </div>
            </div>

            <!-- <div style="position: absolute;display: flex;height: 100%;width:100%;z-index: 999">
                <div class="my-row" style="margin:auto;margin-top: 20px;">
                    <div  style="width:100%">
                        <p style="text-align: center;font-size: 14px;color: rgb(77, 77, 248);font-weight: bold;">
                            CÔNG AN THÀNH PHỐ HỒ CHÍ MINH</p>
                    </div>
                </div>
            </div> -->

            <div style="position: absolute;display: flex;height: 100%;width: 100%;z-index: 1000;">
                <div class="my-row" style="margin: auto;width: 100%;max-width:500px">
                    <div style="width:100%">
                        <div
                            style="margin:5px;padding-left:5px;padding-right:5px;border-radius: 5px;">
                        <!-- <div
                            style="margin:5px;padding-left:5px;padding-right:5px;background-color:  rgba(238, 238, 238, 0.2);border-radius: 5px;"> -->
                            <form #loginForm="ngForm" class="kt-form" method="post" novalidate (ngSubmit)="login()"
                                style="padding: 10px">

                                <div class="form-group">
                                    <input #userNameOrEmailAddressInput="ngModel"
                                        [(ngModel)]="loginService.authenticateModel.userNameOrEmailAddress" autoFocus
                                        class="form-control m-input" type="text" autocomplete="new-password"
                                        placeholder="{{'UserNameOrEmail' | localize}} *" name="userNameOrEmailAddress"
                                        required />
                                    <validation-messages [formCtrl]="userNameOrEmailAddressInput"
                                        *ngIf="!userNameOrEmailAddressInput.touched"></validation-messages>
                                </div>

                                <div class="form-group">
                                    <input #passwordInput="ngModel"
                                        [(ngModel)]="loginService.authenticateModel.password"
                                        class="form-control m-input" type="password" autocomplete="new-password"
                                        placeholder="{{'Password' | localize}} *" name="password" required
                                        maxlength="32" />
                                    <validation-messages [formCtrl]="passwordInput" *ngIf="!passwordInput.touched">
                                    </validation-messages>
                                </div>

                                <!-- <div class="form-group mt-4">
                                    <label class="kt-checkbox">
                                        <input class="form-control" [(ngModel)]="loginService.rememberMe"
                                            type="checkbox" name="rememberMe" value="true" />{{"RememberMe" | localize}}
                                        <span></span>
                                    </label>
                                </div> -->

                                <p *ngIf="useCaptcha" class="mt-2 form-text text-muted">
                                    {{"Captha_Hint" | localize}}
                                </p>

                                <div *ngIf="useCaptcha" class="form-group mt-2 captcha-container">
                                    <re-captcha #recaptchaRef (resolved)="captchaResolved($event)"
                                        [siteKey]="recaptchaSiteKey"></re-captcha>
                                </div>

                                <div class="kt-login__actions" style="height: 50px">
                                    <!-- <a routerLink="/account/forgot-password" id="forget-password"
                                        class="kt-link kt-login__link-forgot">{{"ForgotPassword" | localize}}</a> -->
                                    <button style="float: right" type="submit"
                                        class="btn btn-primary btn-elevate kt-login__btn-primary"
                                        [disabled]="!loginForm.form.valid">{{"LogIn" | localize}}</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>

            <div style="position: absolute;display: flex;height: 100%;width:100%;z-index: 999">
                <div class="my-row" style="margin:auto;margin-bottom: 20px;">
                    <div style="width:100%">
                        <p style="text-align: center;font-size: 14px;color: rgb(77, 77, 248);font-weight: bold;">
                            CÔNG AN THÀNH PHỐ HỒ CHÍ MINH</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div (window:resize)="onResize($event)"></div>