/* @import "dhtmlx-gantt/codebase/dhtmlxgantt.css"; */
@import "./dhtmlxgantt.css";

.gantt-chart{
	position: relative;
	width: 100%;
	height: 600px;
}

.kt-container > .kt-subheader__main > .kt-subheader__title > span::before {
    content: "";
    display: block;
    background: url(/assets/images/list.png) no-repeat;
    background-size: cover;
    background-position: center;
    width: 25px;
    height: 25px;
    float: left;
    margin: -4px 5px 0px 0px;
}