<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #documentStatusForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="documentStatus.id">{{l("EditDocumentStatus")}}</span>
                        <span *ngIf="!documentStatus.id">{{l("CreateNewDocumentStatus")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 


								<div class="form-group">
									<label for="DocumentStatus_Key">{{l("Key")}}</label>
									<input type="text" id="DocumentStatus_Key" class="form-control" [(ngModel)]="documentStatus.key" name="Key"    />
								</div>
					
								<div class="form-group">
									<label for="DocumentStatus_Value">{{l("Value")}}</label>
									<input type="text" id="DocumentStatus_Value" class="form-control" [(ngModel)]="documentStatus.value" name="Value"    />
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!documentStatusForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>