<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #cA_OutDocumentHandlingDetailForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="cA_OutDocumentHandlingDetail.id">{{l("EditCA_OutDocumentHandlingDetail")}}</span>
                        <span *ngIf="!cA_OutDocumentHandlingDetail.id">{{l("CreateNewCA_OutDocumentHandlingDetail")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 


								<div class="form-group">
									<label for="CA_OutDocumentHandlingDetail_Type">{{l("Type")}}</label>
									<input type="number" id="CA_OutDocumentHandlingDetail_Type" class="form-control" [(ngModel)]="cA_OutDocumentHandlingDetail.type" name="Type"  />
								</div>
					
								<div class="form-group">
									<label for="CA_OutDocumentHandlingDetail_PersonalComment">{{l("PersonalComment")}}</label>
									<input type="text" id="CA_OutDocumentHandlingDetail_PersonalComment" class="form-control" [(ngModel)]="cA_OutDocumentHandlingDetail.personalComment" name="PersonalComment"    />
								</div>
					
								<div class="form-group">
									<label for="CA_OutDocumentHandlingDetail_DateHandle">{{l("DateHandle")}}</label>
									 <input class="form-control m-input" type="datetime" bsDatepicker [(ngModel)]="dateHandle" id="CA_OutDocumentHandlingDetail_DateHandle" name="CA_OutDocumentHandlingDetail_DateHandle">
								</div>
					
								<div class="form-group">
									<label for="CA_OutDocumentHandlingDetail_Note">{{l("Note")}}</label>
									<input type="text" id="CA_OutDocumentHandlingDetail_Note" class="form-control" [(ngModel)]="cA_OutDocumentHandlingDetail.note" name="Note"    />
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="CA_OutDocumentHandlingDetail_IsCurr" class="kt-checkbox">
										<input id="CA_OutDocumentHandlingDetail_IsCurr" type="checkbox" name="IsCurr" [(ngModel)]="cA_OutDocumentHandlingDetail.isCurr"> 
										{{l("IsCurr")}}
										<span></span>
									</label>
								</div>
					
								<div class="form-group">
									<label for="CA_OutDocumentHandlingDetail_ProcessingDate">{{l("ProcessingDate")}}</label>
									 <input class="form-control m-input" type="datetime" bsDatepicker [(ngModel)]="processingDate" id="CA_OutDocumentHandlingDetail_ProcessingDate" name="CA_OutDocumentHandlingDetail_ProcessingDate">
								</div>
					
								<div class="form-group">
									<label for="CA_OutDocumentHandlingDetail_ProcessingRecommended">{{l("ProcessingRecommended")}}</label>
									<input type="text" id="CA_OutDocumentHandlingDetail_ProcessingRecommended" class="form-control" [(ngModel)]="cA_OutDocumentHandlingDetail.processingRecommended" name="ProcessingRecommended"    />
								</div>
					
								<div class="form-group">
									<label for="CA_OutDocumentHandlingDetail_TypeHandling">{{l("TypeHandling")}}</label>
									<input type="number" id="CA_OutDocumentHandlingDetail_TypeHandling" class="form-control" [(ngModel)]="cA_OutDocumentHandlingDetail.typeHandling" name="TypeHandling"  />
								</div>
					
								<div class="form-group">
									<label for="CA_OutDocumentHandlingDetail_DocumentHandlingId">{{l("DocumentHandlingId")}}</label>
									<input type="number" id="CA_OutDocumentHandlingDetail_DocumentHandlingId" class="form-control" [(ngModel)]="cA_OutDocumentHandlingDetail.documentHandlingId" name="DocumentHandlingId"  />
								</div>
					
								<div class="form-group">
									<label for="CA_OutDocumentHandlingDetail_UserId">{{l("UserId")}}</label>
									<input type="number" id="CA_OutDocumentHandlingDetail_UserId" class="form-control" [(ngModel)]="cA_OutDocumentHandlingDetail.userId" name="UserId"  />
								</div>
					
								<div class="form-group">
									<label for="CA_OutDocumentHandlingDetail_UnitId">{{l("UnitId")}}</label>
									<input type="number" id="CA_OutDocumentHandlingDetail_UnitId" class="form-control" [(ngModel)]="cA_OutDocumentHandlingDetail.unitId" name="UnitId"  />
								</div>
					
								<div class="form-group">
									<label for="CA_OutDocumentHandlingDetail_ParentHandlingId">{{l("ParentHandlingId")}}</label>
									<input type="number" id="CA_OutDocumentHandlingDetail_ParentHandlingId" class="form-control" [(ngModel)]="cA_OutDocumentHandlingDetail.parentHandlingId" name="ParentHandlingId"  />
								</div>
					
								<div class="form-group">
									<label for="CA_OutDocumentHandlingDetail_ImpersonateUserId">{{l("ImpersonateUserId")}}</label>
									<input type="number" id="CA_OutDocumentHandlingDetail_ImpersonateUserId" class="form-control" [(ngModel)]="cA_OutDocumentHandlingDetail.impersonateUserId" name="ImpersonateUserId"  />
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!cA_OutDocumentHandlingDetailForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>