<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("Details")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{l("Type")}} :</h6>
                        {{ item.cA_OutDocumentHandlingDetail.type }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("PersonalComment")}} :</h6>
                        {{ item.cA_OutDocumentHandlingDetail.personalComment }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("DateHandle")}} :</h6>
                        {{ item.cA_OutDocumentHandlingDetail.dateHandle | momentFormat:'YYYY-MM-DD HH:mm:ss' }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Note")}} :</h6>
                        {{ item.cA_OutDocumentHandlingDetail.note }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("IsCurr")}} :</h6>
                        {{ item.cA_OutDocumentHandlingDetail.isCurr }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("ProcessingDate")}} :</h6>
                        {{ item.cA_OutDocumentHandlingDetail.processingDate | momentFormat:'YYYY-MM-DD HH:mm:ss' }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("ProcessingRecommended")}} :</h6>
                        {{ item.cA_OutDocumentHandlingDetail.processingRecommended }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("TypeHandling")}} :</h6>
                        {{ item.cA_OutDocumentHandlingDetail.typeHandling }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("DocumentHandlingId")}} :</h6>
                        {{ item.cA_OutDocumentHandlingDetail.documentHandlingId }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("UserId")}} :</h6>
                        {{ item.cA_OutDocumentHandlingDetail.userId }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("UnitId")}} :</h6>
                        {{ item.cA_OutDocumentHandlingDetail.unitId }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("ParentHandlingId")}} :</h6>
                        {{ item.cA_OutDocumentHandlingDetail.parentHandlingId }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("ImpersonateUserId")}} :</h6>
                        {{ item.cA_OutDocumentHandlingDetail.impersonateUserId }}
                    </div>


                </div>

            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-primary blue" (click)="close()">{{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>
