::ng-deep .dx-group-panel-message {
    display: none !important;
}

.CustomCSSGrouplabel {
    font-size: 14px;
    font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Verdana, sans-serif;
}

::ng-deep svg {
    /* //position: absolute; */
    margin-right: 10px;
    width: 100%;
    /* //padding: 0px; */
}

::ng-deep .dx-group-panel-message {
    display: none;
}

::ng-deep .dx-button-default {
    margin-left: 5px;
}

/*Custom*/
::ng-deep div.dx-datagrid-headers {
    position: sticky;
    top: 0;
    z-index: 1000;
    /*z-index is applied so that this element appears in front*/
}

// ::ng-deep .dx-datagrid-headers.dx-datagrid-nowrap {
//     position: sticky;
//     top: 70px;
//     background-color: white;
//     z-index: 1000;
// }

::ng-deep .dx-gantt .dx-gantt-tm.current-time {
    border-left: 1px solid red;
}

::ng-deep .dx-gantt .custom-task {
    max-height: 48px;
    height: 100%;
    display: block;
    overflow: hidden;
}

::ng-deep .dx-gantt .dx-row {
    height: 40px;
}

::ng-deep .custom-task {
    max-height: 48px;
    height: 100%;
    display: block;
    overflow: hidden;
}

::ng-deep .custom-task-wrapper {
    padding: 5px;
    color: #fff;
}

::ng-deep .custom-task-wrapper>* {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

::ng-deep .custom-task-img-wrapper {
    float: left;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: 8px;
    background-color: #fff;
    overflow: hidden;
}

::ng-deep .custom-task-img {
    width: 32px;
}

::ng-deep .custom-task-title {
    font-weight: 600;
    font-size: 13px;
}

::ng-deep .custom-task-row {
    font-size: 11px;
}

::ng-deep .custom-task-progress {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 4px;
    background: rgba(0, 0, 0, 0.3);
}

::ng-deep .dx-gantt .dx-header-row {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}

::ng-deep .dx-layout-manager .dx-field-item:not(.dx-first-row) {
    padding-top: 4px;
}

::ng-deep .dx-datagrid-rowsview .dx-row>.dx-master-detail-cell {
    padding: 0;
}

::ng-deep .dx-datagrid-rowsview .dx-select-checkboxes-hidden>tbody>tr>td>.dx-select-checkbox {
    display: flex;
}

::ng-deep .custom-hover-default:hover {
    text-decoration: none;
    color: white;
    background-color: #2f477a;
    border-color: #293e6b;
}

::ng-deep .custom-hover-success.dx-button-success {
    color: white;
}

::ng-deep .custom-hover-success:hover {
    text-decoration: none;
    color: white;
    background-color: #449d44;
    border-color: #398439;
}

::ng-deep .custom-hover-normal.dx-button-normal {
    color: #444;
}

::ng-deep .custom-hover-normal:hover {
    text-decoration: none;
    background-color: #e6e6e6;
    border-color: #bebebe;
}

::ng-deep .row-odd-style.table tr:nth-child(2n) {
    background-color: #f8f8f8;
}

/* Tự thêm */
/*  Căn chỉnh vertical vào giữa cho header DxDataGrid */
::ng-deep .dx-datagrid-headers .dx-datagrid-table .dx-row>td {
    vertical-align: middle !important;
    text-align: center !important;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}

/* Đổi màu khung checkbox*/
::ng-deep .dx-checkbox.dx-state-readonly .dx-checkbox-icon {
    border-color: #a9a9a98c;
}

/* Hiệu ứng box-shadow cho từng row DxDatagrid*/
::ng-deep .dx-row.dx-data-row:hover {
    box-shadow: 0 4px 22px #31313180;
    transform: scale(1);
    transition: ease-in 0.2s;
    -webkit-transition: ease-in 0.2s;
    -moz-transition: ease-in 0.2s;
}

/* Điều chỉnh padding cho row header DxDatagrid*/
::ng-deep .dx-datagrid-headers .dx-datagrid-table .dx-row>td {
    padding: 7px 0px 7px 0px !important;
    background-color: #4c75a3;
    color: white;
}

::ng-deep .dx-treelist-headers .dx-treelist-table .dx-row>td {
    padding: 7px 0px 7px 0px !important;
    background-color: #4c75a3;
    color: white;
}

::ng-deep .dx-gantt-main-wrapper {
    width: 100%;
}

::ng-deep .dx-gantt-view {
    width: 100%;
}

// ::ng-deep .dx-widget .dx-splitter-wrapper .dx-splitter-inactive {
//     left: 450px;
// }

/* Căn chỉnh vertical cho nội dung từng cell của DxDataGrid vào giữa */
::ng-deep .dx-datagrid-rowsview .dx-row.dx-row-lines>td {
    vertical-align: middle !important;
}

/* Chỉnh font-size cho row group của DxDataGrid*/
::ng-deep .dx-datagrid-rowsview .dx-row.dx-group-row td {
    font-size: 14px;
    font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Verdana, sans-serif;
}

/* Chỉnh sửa background-color cho row khi hover */
::ng-deep .dx-row.dx-data-row:nth-child(2n+1) {
    background-color: #f5f8ff;
}

::ng-deep .dx-gantt .dx-gantt-taskWrapper .dx-gantt-titleIn {
    color: black
}

::ng-deep .dx-gantt-touch-action {
    touch-action: pan-y;
}


::ng-deep .dx-gantt-treelist-wrapper {
    width: 450px
}

::ng-deep .dx-scrollable-wrapper {
    // left: 450px;
    // c.style.width = '2500px'
    width: 100%;
}

::ng-deep .dx-row.dx-data-row:nth-child(2n+2) {
    background-color: #fff;
}

::ng-deep .item-cursor:hover {
    color: blue;
}

/*----------------------------------------------------*/

/* Chỉnh màu border cho lưới tabs */
::ng-deep .dx-tabpanel .dx-multiview-wrapper {
    border: 1px solid #3b5999 !important;
}

::ng-deep .dx-item .dx-tab:hover .dx-icon {
    color: #444 !important;
}

::ng-deep .dx-tab .dx-icon:not(.dx-tab-state):not(.dx-state-hover) {
    color: white;
}

::ng-deep .dx-tab-selected .dx-icon {
    color: #444 !important;
}

::ng-deep .dx-item.dx-tab.dx-tab-selected.dx-icon {
    color: #444 !important;
}

::ng-deep .dx-item.dx-tab.dx-tab-selected {
    color: #444;
}

::ng-deep .dx-tabpanel .dx-tab:not(.dx-tab-selected):not(.dx-state-hover) {
    color: white;
}

::ng-deep .dx-item.dx-tab.dx-tab-selected.dx-state-focused {
    color: #444 !important;
}

::ng-deep .dx-item.dx-tab:hover {
    color: #444 !important;
}

// ::ng-deep .dx-tabpanel .dx-tabs {
//     background-color: #4c75a3 !important;
// }

// ::ng-deep span.dx-form-group-caption {
//     text-shadow: 2px 2px 3px #4c75a3b3 !important;
//     font-weight: bold;
//     color: #4c75a3;
// }
/*--------------------------------------------------------------------------------------------------------*/

::ng-deep svg {
    display: block;
    width: 100%;
}

::ng-deep g {
    display: block;
    width: 100%;
}

::ng-deep .dx-group-panel-message {
    display: none !important;
}

::ng-deep .dx-datagrid-group-panel .dx-group-panel-message {
    display: none !important;
}

::ng-deep .dx-command-select {
    width: 40px !important;
    min-width: 30px !important;
}

// custom btn success
::ng-deep .dx-button-success.btn-kcl-success {
    background-color: #0a518f;
    font-weight: bold;
}

::ng-deep .dx-button-mode-contained.dx-button-success.btn-kcl-success.dx-state-hover {
    background-color: #0a1e8f;
    border-color: transparent;
}

::ng-deep .dx-button-mode-contained.dx-button-success.btn-kcl-success.dx-state-focused {
    background-color: #0a1e8f;
    border-color: transparent;
}

.btn-kcl-success {
    background-color: #0a518f;
    color: white;
}


.form_filter_config {
    cursor: pointer;
    font-size: 19px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;

    :hover {
        font-weight: bold;
        font-size: 20px;
        transition-delay: 0.2s;
    }
}

.export-button-class {
    width: 100px;
}

.WrappedColumnClass {
    white-space: normal;
    word-wrap: break-word;
}

@media only screen and (max-width: 600px) {
    .card-body {
        padding: 0px;
    }

    .nav-link.dropdown-toggle:after,
    .btn.dropdown-toggle:after {
        display: none;
    }

    ::ng-deep .dx-datagrid-content .dx-datagrid-table .dx-row .dx-command-select {
        width: 10px !important;
        // max-width: 10px !important;
    }

    ::ng-deep .dx-datagrid-checkbox-size .dx-checkbox-icon {
        height: 12px;
        width: 12px;
    }

    ::ng-deep .dx-datagrid-checkbox-size.dx-checkbox-checked .dx-checkbox-icon {
        font-size: 6px;
    }

    ::ng-deep .dropdown-toggle.btn.btn-sm.btn-kcl-success.pointer {
        padding: 5px;
        padding-left: 8px;
    }
}

::ng-deep #file-import-container {
    border: 1px solid #d3d3d3;
    margin: 20px 20px 0 20px;
}


//   taskboard css


/*******************
Taskboard scss
******************/
