<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <!-- <span>{{l("Thêm mới văn bản đến")}}</span> -->
                        <span>Xem Chi tiết văn bản đến phòng</span>
                    </h3>
                </div>
            </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="modal-body">
                    <div class="col-xl-12" style="padding-bottom: 1rem;">
                        <dx-button text="Lưu" type="success" icon="save" (onClick)="save()"> </dx-button>
                        &nbsp;

                        <dx-button text="Trở về" type="success" icon="fa fa-arrow-left"
                            (onClick)="getCurrentTab()"></dx-button>
                    </div>
                    <dx-form #documentForm [formData]="documentData" [showValidationSummary]="true"
                        [showColonAfterLabel]="false" validationGroup="formValidateGroup">
                        <dxi-item itemType="group" caption="Thông tin văn bản" colCount="6">
                            <dxi-item [colSpan]="2" dataField="bookInDept" editorType="dxSelectBox" [editorOptions]="bookOptions">
                                <dxo-label text="Sổ phòng"></dxo-label>
                                <dxi-validation-rule type="required"></dxi-validation-rule>
                            </dxi-item>
                            <dxi-item itemType="group" [colSpan]="2" colCount="12">
                                <dxi-item [colSpan]="11" dataField="numberInDept" [(disabled)]="isNumberDisabled">
                                    <dxo-label text="Số đến phòng"></dxo-label>
                                    <!-- <dx-text-box dataField="number" [(value)]="soKyHieu" [(disabled)]="isNumberDisabled"></dx-text-box> -->
                                </dxi-item>
                                <dxi-item [colSpan]="1" editorType="dxCheckBox" alignment="right" [editorOptions]="numberOptions" [cssClass]="'autoChkBxClass'">
                                    <!-- <dx-check-box [rtlEnabled]="true" [(value)]="chkAutomaticNumberValue"
                                    (onValueChanged)="chkAutomaticNumber($event)"></dx-check-box> -->
                                </dxi-item>
                            </dxi-item>

                            <!-- <dxi-item [colSpan]="4" itemType="group" colCount="12">

                            </dxi-item> -->

                            <dxi-item [colSpan]="2" dataField="dateTime" editorType="dxDateBox" [editorOptions]="{
                                value: currentDate
                            }">
                                <dxo-label text="Ngày đến phòng"></dxo-label>
                            </dxi-item>

                            <dxi-item itemType="group" colCount="16" [colSpan]="2">
                                <dxi-item [colSpan]="14" >
                                    <dx-select-box #publisherSelect dataField="publisher" data
                                        id="publisherSelect"
                                        valueExpr="key"
                                        [items]="data_publisher"
                                        displayExpr="value"
                                        [searchEnabled]="true"
                                        [searchExpr]="['value']"
                                        [(value)]="publisherVal"
                                        [disabled]="true">
                                    </dx-select-box>
                                    <dxo-label text="Nơi gửi"></dxo-label>
                                    <dxi-validation-rule type="required"></dxi-validation-rule>
                                </dxi-item>
                                <dxi-item [colSpan]="2">
                                    <dx-button icon="plus" alignment="right" [elementAttr]="{class: 'btnAddPublisher'}" [disabled]="true"></dx-button>
                                </dxi-item>
                            </dxi-item>

                            <dxi-item dataField="number" [colSpan]="2" [disabled]="true">
                                <dxo-label text="Số kí hiệu"></dxo-label>
                            </dxi-item>
                            <!-- sửa thành publishDate mới đúng -->
                            <dxi-item dataField="publishDate" [colSpan]="2" [disabled]="true" editorType="dxDateBox"
                                [editorOptions]="{format: 'dd/MM/yyyy', displayFormat:'dd/MM/yyyy', showClearButton: true}">
                                <dxo-label text="Ngày PH"></dxo-label>
                                <dxi-validation-rule type="required"></dxi-validation-rule>
                                <!-- <dx-date-box  displayFormat="dd/MM/yyyy" type="date"></dx-date-box> -->
                            </dxi-item>
                            <dxi-item [colSpan]="2">
                                <dx-select-box
                                    [items]="dataBook"
                                    dataField="book"
                                    valueExpr="id"
                                    displayExpr="name"
                                    [searchEnabled]="true"
                                    [searchExpr]="['name']"
                                    [(value)]="bookVal"
                                    [disabled]="true">
                                </dx-select-box>
                                <dxo-label text="Sổ VB"></dxo-label>
                                <!-- onValueChanged: bookSelectionChange -->
                                <dxi-validation-rule type="required"></dxi-validation-rule>
                            </dxi-item>

                            <dxi-item itemType="group" colCount="12" [colSpan]="2">
                                <dxi-item [colSpan]="11">
                                    <dxo-label text="Số đến"></dxo-label>
                                    <dxi-validation-rule type="required"></dxi-validation-rule>
                                    <dx-text-box #incommingDateField dataField="incommingNumber" [(value)]="nextNumber" [disabled]="true"></dx-text-box>
                                </dxi-item>
                                <dxi-item [colSpan]="1" editorType="dxCheckBox" alignment="right" [cssClass]="'autoChkBxClass'" [disabled]="true">
                                </dxi-item>
                            </dxi-item>

                            <dxi-item [colSpan]="2">
                                <dxo-label text="Ngày đến"></dxo-label>
                                <dxi-validation-rule type="required"></dxi-validation-rule>
                                <dx-date-box #incommindDateBox dataField="incommingDate" [(value)]="currentDate" format="dd/MM/yyyy" [showClearButton]="true" [displayFormat]="'dd/MM/yyyy'"
                                 [disabled]="true"></dx-date-box>
                                <!-- <dx-date-box  displayFormat="dd/MM/yyyy" type="date"></dx-date-box> -->
                            </dxi-item>

                            <dxi-item dataField="summary" [colSpan]="6" editorType="dxTextArea"
                                [editorOptions]="{height: 60, readOnly: true}">
                                <dxo-label text="Trích yếu"></dxo-label>
                                <dxi-validation-rule type="required"></dxi-validation-rule>
                            </dxi-item>


                            <dxi-item itemType="group" [colSpan]="6" colCount="12" [visible]="true">
                                <dxi-item [colSpan]="6">
                                    <dxo-label text="Tập tin"></dxo-label>
                                    <dxi-validation-rule type="required"></dxi-validation-rule>
                                    <dx-file-uploader

                                        [multiple]="true"
                                        selectButtonText="Chọn file đính kèm"
                                        accept="*"
                                        icon="upload"
                                        [(value)]="value"
                                         uploadMode="useForm"
                                        [disabled]="true"
                                        (onValueChanged)="setFullNameFile($event)">
                                    </dx-file-uploader>

                                </dxi-item>
                                <dxi-item [colSpan]="6">
                                    <dx-data-grid id="gridContainer" [dataSource]="selectedRows" [allowColumnReordering]="true"
                                    [allowColumnResizing]="true" [columnAutoWidth]="true" [showBorders]="true" >
                                    <dxo-paging [pageSize]="10"></dxo-paging>
                                    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true">
                                    </dxo-pager>
                                    <dxi-column dataField="tepDinhKem" caption="Tệp đính kèm"></dxi-column>
                                    <dxi-column caption="Xem chi tiết" cellTemplate="detailTemplate" [width]="100">
                                    </dxi-column>
                                    <dxi-item caption="Xóa" cellTemplate="deleteTemplate">
                                    </dxi-item>

                                    <div *dxTemplate="let d of 'detailTemplate'">
                                        <div class="row">
                                            <div class="col-6" style="text-align: center;" (click)="showDetail(d)">
                                                <span><i class="fab fa-buffer"></i></span>
                                            </div>

                                        </div>
                                    </div>
                                    <div *dxTemplate="let d of 'deleteTemplate'">
                                        <div class="col-2" style="text-align: center;" (click)="deleteFile(d)">
                                            <span ><i class="fas fa-trash-alt"></i> </span>
                                        </div>
                                    </div>
                                </dx-data-grid>
                                </dxi-item>
                            </dxi-item>
                            </dxi-item>
                        <dxi-item itemType="group" caption="Thông tin khác" colCount="12">
                            <dxi-item [colSpan]="4" dataField="documentTypeId" editorType="dxSelectBox" [editorOptions]="{
                                dataSource: documentTypeOptions,
                                valueExpr: 'id',
                                displayExpr: 'typeName',
                                searchEnabled: true,
                                searchExpr: 'typeName',
                                readOnly: true
                                }">
                                <dxo-label text="Loại VB"></dxo-label>
                            </dxi-item>
                            <dxi-item [colSpan]="4" dataField="secretLevel" editorType="dxSelectBox" [editorOptions]="{
                                dataSource: data_secretLevel,
                                valueExpr: 'key',
                                displayExpr: 'value',
                                searchEnabled: true,
                                searchExpr: 'value',
                                value: secretVal,
                                readOnly: true
                                }">
                                <dxo-label text="Độ mật"></dxo-label>
                            </dxi-item>
                            <dxi-item [colSpan]="4" dataField="priority" editorType="dxSelectBox" [editorOptions]="{
                                dataSource: data_priority,
                                valueExpr: 'key',
                                displayExpr: 'value',
                                searchEnabled: true,
                                searchExpr: 'value',
                                value: priorityVal,
                                readOnly: true
                            }">
                                <dxo-label text="Độ khẩn"></dxo-label>
                            </dxi-item>
                            <dxi-item [colSpan]="4" dataField="range" editorType="dxSelectBox" [editorOptions]="{
                                dataSource: data_range,
                                valueExpr: 'key',
                                displayExpr: 'value',
                                searchEnabled: true,
                                searchExpr: 'value',
                                value: rangeVal,
                                readOnly: true
                                }">
                                <dxo-label text="Lĩnh vực"></dxo-label>

                            </dxi-item>
                            <dxi-item dataField="signer" [colSpan]="4" [editorOptions]="{
                                readOnly: true
                            }">

                                <dxo-label text="Người ký" ></dxo-label>
                            </dxi-item>
                            <dxi-item [colSpan]="4" dataField="position" editorType="dxSelectBox" [editorOptions]="{
                                dataSource: data_position,
                                valueExpr: 'key',
                                displayExpr: 'value',
                                searchEnabled: true,
                                searchExpr: 'value',
                                value: positionVal,
                                readOnly: true
                                }">
                                <dxo-label text="Chức vụ"></dxo-label>
                                <!-- <dxi-validation-rule type="required"></dxi-validation-rule> -->
                            </dxi-item>
                        </dxi-item>

                    <dxi-item itemType="group" caption="Xử lý văn bản" colCount="6" cssClass="item-bold" [colSpan]="6">
                        <dxi-item [colSpan]="2">
                            <dxo-label text="Số ngày XL"></dxo-label>
                            <!-- (onValueChanged)="numberOfDaysValueChanged($event)" -->
                            <dx-number-box dataField="numberOfDays" [(value)]="numberOfDaysByDocType"
                             [disabled]="true"></dx-number-box>
                            <!-- <dx-date-box dataField="endDate" [displayFormat]="dd/MM/yyyy"></dx-date-box> -->
                        </dxi-item>
                        <dxi-item [colSpan]="2">
                            <dxo-label text="Hạn xử lý"></dxo-label>
                            <dx-date-box #deadlineDateBox dataField="deadline" [displayFormat]="'dd/MM/yyyy'" format="dd/MM/yyyy"
                            [showClearButton]="true" [disabled]="true"></dx-date-box>
                        </dxi-item>
                        <dxi-item itemType="empty" [colSpan]="2"></dxi-item>
                        <dxi-item dataField="processingRecommended" [colSpan]="6" editorType="dxTextBox" [disabled]="true" [cssClass]="'borderLess'">
                            <dxo-label text="Ý kiến XL CATP"></dxo-label>
                            <dxi-validation-rule type="required"></dxi-validation-rule>
                        </dxi-item>
                        <dxi-item [label]="{text: 'CH phòng'}" [colSpan]="2" dataField="leaderDepartmentId"
                            editorType="dxSelectBox" [editorOptions]="{
                            dataSource: captain_department,
                            valueExpr: 'userId',
                            displayExpr: 'nameWithPosition',
                            searchEnabled: true,
                            searchExpr: 'fullName'
                            }">
                            <dxi-validation-rule type="required"></dxi-validation-rule>
                        </dxi-item>


                        <dxi-item itemType="empty" [colSpan]="4"></dxi-item>

                        <dxi-item dataField="" [colSpan]="6" editorType="dxTextArea" [editorOptions]="{
                            height: 90
                        }">
                            <dxo-label text="Ý kiến XL"></dxo-label>
                        </dxi-item>

                        <dxi-item [colSpan]="4">
                            <dxo-label text="Đơn vị xử lý"></dxo-label>


                        </dxi-item>

                    </dxi-item>
                </dx-form>
                </div>
            </div>
        </div>
    </div>
</div>

<style>

.column {
  float: left;
  width: 25%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
