::ng-deep #tasks {
  max-height: 540px;
}

::ng-deep #tasks .dx-treelist-rowsview td {
  vertical-align: middle;
}

::ng-deep .img,
::ng-deep .name {
  display: inline-block;
  vertical-align: middle;
}

::ng-deep .img {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 25px;
  border: 1px solid lightgray;
  background-color: #fff;
}

/*Custom*/

.dx-layout-manager .dx-field-item:not(.dx-first-row) {
  padding-top: 4px;
}

.dx-datagrid-rowsview .dx-row > .dx-master-detail-cell {
  padding: 0;
}

.custom-hover-default:hover {
  text-decoration: none;
  color: white;
  background-color: #2f477a;
  border-color: #293e6b;
}

.custom-hover-success.dx-button-success {
  color: white;
}

.custom-hover-success:hover {
  text-decoration: none;
  color: white;
  background-color: #449d44;
  border-color: #398439;
}

.custom-hover-normal.dx-button-normal {
  color: #444;
}

.custom-hover-normal:hover {
  text-decoration: none;
  background-color: #e6e6e6;
  border-color: #bebebe;
}

.row-odd-style.table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

/* Tự thêm */
/*  Căn chỉnh vertical vào giữa cho header DxDataGrid */
.dx-datagrid-headers .dx-datagrid-table .dx-row > td {
  vertical-align: middle !important;
  text-align: center !important;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}
/* Đổi màu khung checkbox*/
.dx-checkbox.dx-state-readonly .dx-checkbox-icon {
  border-color: #a9a9a98c;
}
/* Hiệu ứng box-shadow cho từng row DxDatagrid*/
.dx-row.dx-data-row:hover {
  box-shadow: 0 4px 22px #31313180;
  transform: scale(1);
  transition: ease-in 0.2s;
  -webkit-transition: ease-in 0.2s;
  -moz-transition: ease-in 0.2s;
}
/* Điều chỉnh padding cho row header DxDatagrid*/
.dx-datagrid-headers .dx-datagrid-table .dx-row > td {
  padding: 7px 0px 7px 0px !important;
  background-color: #4c75a3 !important;
  color: white !important;
}

.dx-treelist-headers .dx-treelist-table .dx-row > td{
  background-color: #4c75a3 !important;
  color: white !important;
  vertical-align: middle !important;
  text-align: center !important;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

/* Căn chỉnh vertical cho nội dung từng cell của DxDataGrid vào giữa */
.dx-datagrid-rowsview .dx-row.dx-row-lines > td {
  vertical-align: middle !important;
}
/* Chỉnh font-size cho row group của DxDataGrid*/
.dx-datagrid-rowsview .dx-row.dx-group-row td {
  font-size: 14px;
  font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Verdana, sans-serif;
}

/* Chỉnh sửa background-color cho row khi hover */
.dx-row.dx-data-row:nth-child(2n+1) {
  background-color: #f5f8ff;
}

.dx-row.dx-data-row:nth-child(2n+2) {
  background-color: #fff;
}

.item-cursor:hover {
  color: blue;
}
/*----------------------------------------------------*/

/* Chỉnh màu border cho lưới tabs */
.dx-tabpanel .dx-multiview-wrapper {
  border: 1px solid #3b5999 !important;
}

.dx-item .dx-tab:hover .dx-icon {
  color: #444 !important;
}

.dx-tab .dx-icon:not(.dx-tab-state):not(.dx-state-hover) {
  color: white;
}

.dx-tab-selected .dx-icon {
  color: #444 !important;
}

.dx-item.dx-tab.dx-tab-selected.dx-icon {
  color: #444 !important;
}

.dx-item.dx-tab.dx-tab-selected {
  color: #444;
}

.dx-tabpanel .dx-tab:not(.dx-tab-selected):not(.dx-state-hover) {
  color: white;
}

.dx-item.dx-tab.dx-tab-selected.dx-state-focused {
  color: #444 !important;
}

.dx-item.dx-tab:hover {
  color: #444 !important;
}

.dx-tabpanel .dx-tabs {
  background-color: #4c75a3 !important;
}

span.dx-form-group-caption {
  text-shadow: 2px 2px 3px #4c75a3b3 !important;
  font-weight: bold;
  color: #4c75a3;
}
/*--------------------------------------------------------------------------------------------------------*/