<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <!-- <span>{{l("Thêm mới văn bản đến")}}</span> -->
                        <span>Thêm mới văn bản đến phòng</span>
                    </h3>
                </div>
            </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="modal-body">
                    <div class="col-xl-12" style="padding-bottom: 1rem;">
                        <dx-button text="Lưu" type="success" icon="save" (onClick)="save()" [disabled]="saving">
                        </dx-button>
                        &nbsp;

                        <dx-button text="Trở về" (onClick)="back()" type="success" icon="fa fa-arrow-left"></dx-button>
                    </div>
                    <dx-popup #confirmPopUp id="confirmPopUp" [width]="500" [height]="350" [dragEnabled]="false"
                        [closeOnOutsideClick]="true" [(visible)]="confirmPopUpVisible">
                        <div class="swal2-icon swal2-warning swal2-animate-warning-icon" style="display: flex;"></div>
                        <h4 style="font-size: large; margin: auto;" class="swal2-title">{{confirmPopUpText}}</h4>
                        <div class="swal2-actions">
                            <button type="button" class="swal2-cancel swal2-styled" (click)="onViewConfirmPopUp()"
                                style="display: inline-block; background-color: #5CB85C !important;">Xem</button>
                            <button type="button" class="swal2-confirm swal2-styled" (click)="onYesConfirmPopUp()"
                                style="display: inline-block;border-left-color: rgb(48, 133, 214);border-right-color: rgb(48, 133, 214);">Có</button>
                            <button type="button" class="swal2-cancel swal2-styled" (click)="onCancelConfirmPopUp()"
                                style="display: inline-block;">Không</button>
                        </div>
                    </dx-popup>
                    <dx-form #documentForm [formData]="documentData" [showValidationSummary]="true"
                        [showColonAfterLabel]="false" validationGroup="formValidateGroup">
                        <dxi-item itemType="group" caption="Thông tin văn bản" colCount="12">
                            <dxi-item itemType="group" colCount="12" [colSpan]="12">
                                <dxi-item [colSpan]="4">
                                    <dx-select-box #publisherLEVEL dataField="orgLevelId" id="orgLevel"
                                        [items]="orgLevel" valueExpr="id" displayExpr="name" [searchEnabled]="true"
                                        [searchExpr]="['name']" (onValueChanged)="orgLevelChange()"
                                        [(value)]="documentData.orgLevelId">
                                    </dx-select-box>
                                    <dxo-label text="Cấp gửi"></dxo-label>
                                    <dxi-validation-rule type="required" message="Chưa chọn cấp gửi">
                                    </dxi-validation-rule>
                                </dxi-item>
                                <dxi-item itemType="group" [colSpan]="8" colCount="20">
                                    <dxi-item [colSpan]="19">
                                        <dx-select-box #publisherSelect dataField="publisher" id="publisherSelect"
                                            [dataSource]="publishOrgDataSource" valueExpr="id" displayExpr="name"
                                            (onContentReady)="blockBodyScrollSelectBox($event)"      
                                            [searchEnabled]="true" [searchExpr]="['name']"
                                            [(value)]="documentData.publisher">
                                        </dx-select-box>
                                        <dxo-label text="Nơi gửi"></dxo-label>
                                        <dxi-validation-rule type="required" message="Chưa chọn nơi gửi">
                                        </dxi-validation-rule>
                                        <!-- <dx-drop-down-box #publisherSelect dataField="publisher"
                                            id="publisherSelect"
                                            [dataSource]="data_publisher"
                                            valueExpr="id"
                                            displayExpr="name"
                                            [(value)]="documentData.publisher">
                                            <div *dxTemplate="let data of 'content'">
                                                <dx-tree-view
                                                    [dataSource]="publishOrgDataSource"
                                                    dataStructure="plain"
                                                    keyExpr="id"
                                                    parentIdExpr="parentId"
                                                    selectionMode="single"
                                                    displayExpr="name"
                                     
                                                    [selectByClick]="true"                                          
                                                    (onContentReady)="blockScrollTreeView($event)"                                                   
                                                    (onItemSelectionChanged)="treeView_itemSelectionChanged($event)"
                                                    [searchEnabled]="true"
                                                    [searchExpr]="['name']"
                                                >
                                                </dx-tree-view>
                                            </div>
                                        </dx-drop-down-box>
                                        <dxo-label text="Nơi gửi"></dxo-label>
                                        <dxi-validation-rule type="required" message="Chưa chọn nơi gửi"></dxi-validation-rule> -->
                                    </dxi-item>
                                    <dxi-item [colSpan]="1">
                                        <dx-button icon="plus" alignment="right" (onClick)="showPublisherPopup()"
                                            [elementAttr]="{class: 'btnAddPublisher'}"></dx-button>
                                    </dxi-item>
                                </dxi-item>


                                <!-- <dxi-item [colSpan]="3" [template]="btnTemplate">
                                    <div *dxTemplate="let item of 'btnTemplate'">
                                        <dx-button icon="plus" (onClick)="showPublisherPopup()"></dx-button>
                                    </div>
                                </dxi-item> -->

                            </dxi-item>
                            <dxi-item dataField="number" [colSpan]="4">
                                <dxo-label text="Số VB đến"></dxo-label>
                                <!-- <dxi-validation-rule type="required" message="Vui lòng nhập số kí hiệu">
                                </dxi-validation-rule> -->
                            </dxi-item>
                            <!-- sửa thành publishDate mới đúng -->
                            <dxi-item dataField="publishDate" [colSpan]="4" editorType="dxDateBox"
                                [editorOptions]="{ displayFormat:'dd/MM/yyyy', showClearButton: true}">
                                <dxo-label text="Ngày PH"></dxo-label>
                                <dxi-validation-rule type="required" message="Chưa chọn ngày PH"></dxi-validation-rule>
                                <!-- <dx-date-box  displayFormat="dd/MM/yyyy" type="date"></dx-date-box> -->
                            </dxi-item>
                            <!-- <dxi-item [colSpan]="4" dataField="linkedDocument" editorType="dxSelectBox" [editorOptions]="linkedDocumentOptions">
                                <dxo-label text="Phúc đáp CV"></dxo-label>
                            </dxi-item> -->
                            <dxi-item [colSpan]="4">
                                <dx-tag-box dataField="documentData.linkedDocument"
                                    [dataSource]="linkedDocumentDatasource" showClearButton=true displayExpr="Number"
                                    valueExpr="Id" [searchEnabled]="true" searchExpr="['Number']" [readOnly]="true">
                                </dx-tag-box>
                                <dxo-label text="Phúc đáp CV"></dxo-label>
                            </dxi-item>

                            <dxi-item [colSpan]="4">
                                <dx-select-box dataField="documentData.bookDV" [dataSource]="dataBook" dataField="book"
                                    valueExpr="id" displayExpr="name" [searchEnabled]="true" [searchExpr]="['name']"
                                    [(value)]="documentData.bookDV" (onValueChanged)="changeBookDV($event)">
                                </dx-select-box>
                                <dxo-label text="Sổ đến ĐV"></dxo-label>
                            </dxi-item>

                            <dxi-item itemType="group" colCount="16" [colSpan]="4">
                                <dxi-item [colSpan]="14">
                                    <dxo-label text="Số đến ĐV"></dxo-label>
                                    <!-- <dxi-validation-rule type="required" message="Số đến không được bỏ trống"></dxi-validation-rule> -->
                                    <dx-text-box #incommingNumberField [(value)]="nextNumber"
                                        [disabled]="incommingNumberDisabled"></dx-text-box>
                                </dxi-item>
                                <dxi-item [colSpan]="1">
                                    <dx-button icon="info" alignment="right"
                                        [elementAttr]="{id:'btnShowMissingNum', class: 'btnShowMissingNum'}"
                                        hint="{{missingNumber}}" (onClick)="showMissingNumberPopup()"></dx-button>
                                </dxi-item>
                                <dxi-item [colSpan]="1" editorType="dxCheckBox" alignment="right"
                                    [cssClass]="'autoChkBxClass'">
                                    <!-- <dxo-label text="Tự động"></dxo-label> -->
                                    <dx-check-box [rtlEnabled]="true" [(value)]="chkAutomaticValue"
                                        (onValueChanged)="chkAutomatic($event)"></dx-check-box>
                                </dxi-item>
                            </dxi-item>

                            <dxi-item [colSpan]="4" dataField="incommingDateDV" editorType="dxDateBox"
                                [editorOptions]="incommDateOptions">
                                <dxo-label text="Ngày đến ĐV"></dxo-label>
                                <!-- <dxi-validation-rule type="required" message="Ngày đến chưa được chọn"></dxi-validation-rule> -->
                                <!-- <dx-date-box  displayFormat="dd/MM/yyyy" type="date"></dx-date-box> -->
                            </dxi-item>


                            <dxi-item dataField="summary" [colSpan]="12" editorType="dxTextArea"
                                [editorOptions]="{ autoResizeEnabled: true }">
                                <dxo-label text="Trích yếu"></dxo-label>
                                <dxi-validation-rule type="required"></dxi-validation-rule>
                            </dxi-item>
                            <dxi-item dataField="approvingRecommended" [colSpan]="12" editorType="dxTextArea"
                                [editorOptions]="{ autoResizeEnabled: true }">
                                <dxo-label text="Ý kiến BGĐ"></dxo-label>
                            </dxi-item>

                            <dxi-item itemType="group" [colSpan]="12" colCount="12" [visible]="true">
                                <dxi-item itemType="group" [colSpan]="6" colCount="12">
                                    <dxi-item [colSpan]="12">
                                        <dxo-label text="Tập tin"></dxo-label>
                                        <!-- <dxi-validation-rule type="required"></dxi-validation-rule> -->
                                        <dx-file-uploader [multiple]="true" selectButtonText="Chọn file đính kèm"
                                            accept="*" icon="upload" [(value)]="value" uploadMode="useForm"
                                            (onValueChanged)="setFullNameFile($event)">
                                        </dx-file-uploader>
                                    </dxi-item>
                                    <dxi-item [colSpan]="6">
                                        <dxo-label text="Scan văn bản"></dxo-label>
                                        <dx-button [disabled]="saving" text="Scan" type="success" icon="search"
                                            (onClick)="scan()">
                                        </dx-button>
                                    </dxi-item>
                                    <dxi-item [colSpan]="6">
                                        <dx-radio-group [dataSource]="scanTypes" displayExpr="display" valueExpr="value"
                                            [(value)]="scanType" (onValueChanged)="onScanTypeChanged($event)">
                                        </dx-radio-group>
                                        <!-- <dx-check-box
                                            [(value)]="isDuplex"
                                            [width]="120"
                                            text="Scan 2 mặt">
                                        </dx-check-box> -->
                                    </dxi-item>
                                </dxi-item>
                                <dxi-item itemType="group" [colSpan]="6" colCount="12">
                                    <dx-data-grid id="gridContainer" [dataSource]="selectedRows"
                                        [allowColumnReordering]="true" [allowColumnResizing]="true"
                                        [columnAutoWidth]="true" [showBorders]="true">
                                        <dxo-paging [pageSize]="10"></dxo-paging>
                                        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]"
                                            [showInfo]="true">
                                        </dxo-pager>
                                        <dxi-column dataField="tepDinhKem" caption="Tệp đính kèm"></dxi-column>
                                        <dxi-column caption="Xem chi tiết" cellTemplate="detailTemplate" [width]="100">
                                        </dxi-column>
                                        <dxi-item caption="Xóa" cellTemplate="deleteTemplate">
                                        </dxi-item>

                                        <div *dxTemplate="let d of 'detailTemplate'">
                                            <div class="row">
                                                <div class="col-6" style="text-align: center;" (click)="showDetail(d)">
                                                    <span><i class="fab fa-buffer"></i></span>
                                                </div>
                                                <div class="col-6" style="text-align: center;" (click)="deleteFile(d)">
                                                    <span><i class="fas fa-trash-alt"></i> </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div *dxTemplate="let d of 'deleteTemplate'">
                                            <div class="col-2" style="text-align: center;" (click)="deleteFile(d)">
                                                <span><i class="fas fa-trash-alt"></i> </span>
                                            </div>
                                        </div>
                                    </dx-data-grid>
                                </dxi-item>
                            </dxi-item>
                        </dxi-item>
                        <dxi-item itemType="group" caption="Thông tin khác" colCount="12">
                            <dxi-item [colSpan]="4">
                                <dx-select-box dataField="documentTypeId" [dataSource]="documentTypeOptions"
                                    id="documentTypeSelect" valueExpr="id" displayExpr="typeName" [searchEnabled]="true"
                                    [searchExpr]="['typeName']" [(value)]="documentTypeIdVal"
                                    (onContentReady)='blockBodyScrollSelectBox($event)'>
                                </dx-select-box>
                                <dxo-label text="Loại VB"></dxo-label>
                            </dxi-item>
                            <dxi-item [colSpan]="4" dataField="secretLevel" editorType="dxSelectBox" [editorOptions]="{
                                dataSource: data_secretLevel,
                                valueExpr: 'key',
                                displayExpr: 'value',
                                searchEnabled: true,
                                searchExpr: 'value',
                                value: secretVal
                                }">
                                <dxo-label text="Độ mật"></dxo-label>
                            </dxi-item>
                            <dxi-item [colSpan]="4" dataField="priority" editorType="dxSelectBox" [editorOptions]="{
                                dataSource: data_priority,
                                valueExpr: 'key',
                                displayExpr: 'value',
                                searchEnabled: true,
                                searchExpr: 'value',
                                value: priorityVal
                            }">
                                <dxo-label text="Độ khẩn"></dxo-label>
                            </dxi-item>
                            <dxi-item [colSpan]="4" dataField="range" editorType="dxSelectBox" [editorOptions]="{
                                dataSource: data_range,
                                valueExpr: 'key',
                                displayExpr: 'value',
                                searchEnabled: true,
                                searchExpr: 'value',
                                value: rangeVal
                                }">
                                <dxo-label text="Lĩnh vực"></dxo-label>

                            </dxi-item>
                            <dxi-item dataField="signer" [colSpan]="4">
                                <dxo-label text="Người ký"></dxo-label>
                            </dxi-item>
                            <dxi-item [colSpan]="4" dataField="position" editorType="dxSelectBox" [editorOptions]="{
                                dataSource: data_position,
                                valueExpr: 'key',
                                displayExpr: 'value',
                                searchEnabled: true,
                                searchExpr: 'value',
                                value: positionVal
                                }">
                                <dxo-label text="Chức vụ"></dxo-label>
                                <!-- <dxi-validation-rule type="required"></dxi-validation-rule> -->
                            </dxi-item>
                        </dxi-item>

                        <dxi-item itemType="group" caption="Xử lý văn bản" colCount="6" cssClass="item-bold"
                            [colSpan]="6">
                            <!-- <dxi-item [colSpan]="2">
                            <dxo-label text="Số ngày XL"></dxo-label>
                            <dx-number-box dataField="numberOfDays" [(value)]="numberOfDaysByDocType" ></dx-number-box>
                        </dxi-item> -->
                            <dxi-item [colSpan]="2" editorType="dxDateBox" dataField="deadline"
                                [editorOptions]="{displayFormat: 'dd/MM/yyyy', format: 'dd/MM/yyyy', showClearButton: true}">
                                <dxo-label text="Hạn xử lý"></dxo-label>
                                <dxi-validation-rule type="range" [min]="previousDate"
                                    message="Hạn xử lý không được bé hơn ngày hiện tại"></dxi-validation-rule>
                            </dxi-item>
                            <!-- <dxi-item dataField="deadline" [colSpan]="2" editorType="dxDateBox"
                                    [editorOptions]="{ displayFormat:'dd/MM/yyyy', format:'dd/MM/yyyy', showClearButton: true}">
                            <dxo-label text="Ngày PH"></dxo-label>
                        </dxi-item> -->
                            <dxi-item [colSpan]="4" itemType="empty">
                                <!-- <label>Ý kiến chỉ đạo của BGĐ: </label> -->
                            </dxi-item>
                            <!-- <dxi-item itemType="empty" [colSpan]="2"></dxi-item>
                        <dxi-item dataField="processingRecommended" [colSpan]="6" editorType="dxTextBox" [disabled]="true" [cssClass]="'borderLess'">
                            <dxo-label text="Ý kiến XL CATP"></dxo-label>
                        </dxi-item> -->
                            <dxi-item itemType="group" [colSpan]="6" colCount="6">
                                <dxi-item [colSpan]="6" [cssClass]="'custom-label'">
                                    <label>Ý KIẾN CHỈ ĐẠO TRƯỞNG PHÒNG/TRƯỞNG QUẬN</label>
                                </dxi-item>
                                <dxi-item [label]="{text: 'Đồng chí: '}" [colSpan]="2">
                                    <dx-select-box dataField="" id="tpSelect" [items]="truongPhong" valueExpr="userId"
                                        displayExpr="displayName" [searchEnabled]="true" [searchExpr]="['fullName']"
                                        [(value)]="truongPhongVal">
                                    </dx-select-box>
                                    <!-- <dxi-validation-rule type="required" message="Chưa chọn Chỉ Huy Phòng/Quận"></dxi-validation-rule> -->
                                </dxi-item>
                                <dxi-item caption="" [colSpan]="2">
                                    <!-- <dxi-item caption="" [colSpan]="2" editorType="dxDateBox" dataField="tpDate"
                                    [editorOptions]="initTpDateOptions"> -->
                                    <dx-date-box [(value)]="tpDate" type="date" displayFormat="dd/MM/yyyy">
                                    </dx-date-box>
                                    <dxo-label text="Ngày chỉ đạo"></dxo-label>
                                </dxi-item>
                                <dxi-item itemType="empty" [colSpan]="2"></dxi-item>
                                <dxi-item dataField="" [colSpan]="4">
                                    <dx-text-area [autoResizeEnabled]="true" [(value)]="tpComment">
                                    </dx-text-area>
                                    <dxo-label text="Nội dung chỉ đạo"></dxo-label>
                                </dxi-item>
                            </dxi-item>
                            <dxi-item itemType="group" [colSpan]="6" colCount="6">
                                <dxi-item [colSpan]="6" [cssClass]="'custom-label'">
                                    <label>Ý KIẾN CHỈ ĐẠO PHÓ TRƯỞNG PHÒNG/PHÓ TRƯỞNG QUẬN</label>
                                </dxi-item>
                                <dxi-item [label]="{text: 'Đồng chí: '}" [colSpan]="2" dataField="">
                                    <dx-select-box dataField="" id="ppSelect" [items]="phoPhong" valueExpr="userId"
                                        displayExpr="displayName" [searchEnabled]="true" [searchExpr]="['fullName']"
                                        [(value)]="phoPhongVal">
                                    </dx-select-box>
                                </dxi-item>
                                <dxi-item caption="" [colSpan]="2">
                                    <dx-date-box [(value)]="ppDate" type="date" displayFormat="dd/MM/yyyy">
                                    </dx-date-box>
                                    <dxo-label text="Ngày chỉ đạo"></dxo-label>
                                </dxi-item>
                                <dxi-item itemType="empty" [colSpan]="2"></dxi-item>
                                <dxi-item dataField="" [colSpan]="4">
                                    <dx-text-area [autoResizeEnabled]="true" [(value)]="ppComment">
                                    </dx-text-area>
                                    <dxo-label text="Nội dung chỉ đạo"></dxo-label>
                                </dxi-item>
                            </dxi-item>

                            <!-- <dxi-item [label]="{text: 'Trình BGĐ'}" [colSpan]="2" dataField="directorId"
                            editorType="dxSelectBox" [editorOptions]="{
                            dataSource: director_list,
                            valueExpr: 'userId',
                            displayExpr: 'nameWithPosition',
                            searchEnabled: true,
                            searchExpr: 'fullName',
                            readOnly: true
                            }">
                            <dxi-validation-rule type="required"></dxi-validation-rule>
                        </dxi-item> -->

                            <!-- <dxi-item itemType="empty" [colSpan]="4"></dxi-item> -->

                            <!-- <dxi-item dataField="" [colSpan]="6" editorType="dxTextArea" [editorOptions]="{
                            height: 90
                        }">
                            <dxo-label text="Ý kiến XL"></dxo-label>
                        </dxi-item> -->

                            <dxi-item [colSpan]="4">
                                <dxo-label text="Đơn vị xử lý"></dxo-label>

                                <dx-data-grid #gridContainerOrg id="gridContainerOrg" [remoteOperations]="false"
                                    [allowColumnReordering]="true" [rowAlternationEnabled]="true"
                                    [allowColumnResizing]="true" columnResizingMode="widget" [showBorders]="true"
                                    [height]="250" [width]="760" [dataSource]="data_department"
                                    (onContentReady)="blockBodyScrollGrid($event)">

                                    <dxo-paging [enabled]="false"></dxo-paging>
                                    <!-- <dxo-editing [allowUpdating]="!isReadOnly" [allowAdding]="false" [allowDeleting]="false">
                                </dxo-editing> -->
                                    <dxo-filter-row [visible]="true" placeholder="Nhập tên đội...">
                                    </dxo-filter-row>
                                    <dxi-column [allowFiltering]="true" [allowEditing]="false" caption="Danh sách đội"
                                        dataField="displayName" width="50%">
                                    </dxi-column>
                                    <dxi-column [allowFiltering]="true" [allowEditing]="false" caption="Kí hiệu"
                                        dataField="shortentCode" width="10%">
                                    </dxi-column>
                                    <dxi-column dataField="mainHandling" caption="Chủ trì" width="20%"
                                        [allowEditing]="false" cellTemplate="selectTemplate" alignment="center"
                                        [allowFiltering]="false">
                                    </dxi-column>
                                    <dxi-column dataField="coHandling" caption="Phối hợp xử lý" width="20%"
                                        [allowEditing]="false" cellTemplate="selectTemplate" alignment="center"
                                        [allowFiltering]="false">
                                    </dxi-column>
                                    <div *dxTemplate="let cell of 'selectTemplate'">
                                        <dx-check-box [value]="cell.value"
                                            (onValueChanged)="onCheckBoxChanged($event, cell)"></dx-check-box>
                                    </div>
                                </dx-data-grid>
                            </dxi-item>

                        </dxi-item>
                    </dx-form>
                    <dx-popup [width]="1000" [height]="700" [showTitle]="true" title="Danh sách số bị khuyết"
                        [dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="missingNumberVisible">
                        <dx-data-grid id="gridContainer" [dataSource]="missingNumberSource"
                            [allowColumnReordering]="true" [allowColumnResizing]="true" [columnAutoWidth]="true"
                            [showBorders]="true" height="100%">
                            <dxo-paging [pageSize]="10"></dxo-paging>
                            <dxo-scrolling mode="virtual"></dxo-scrolling>
                            <dxo-load-panel [enabled]="true"></dxo-load-panel>
                            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true">
                            </dxo-pager>

                            <dxi-column dataField="" cellTemplate="bookValTemplate" caption="Loại sổ">
                            </dxi-column>
                            <dxi-column dataField="" cellTemplate="missingNumberTemplate" caption="Các số bị khuyết">
                            </dxi-column>
                            <div *dxTemplate="let d of 'bookValTemplate'">
                                <div class="current-value" style="font-weight: bold;">
                                    {{currentBookInMissingNumberPopup.name}}</div>
                            </div>
                            <div *dxTemplate="let d of 'missingNumberTemplate'">
                                <div class="current-value" style="font-weight: bold;">{{missingNumberSource}}</div>
                            </div>


                        </dx-data-grid>
                    </dx-popup>
                </div>
            </div>
        </div>
    </div>
    <createPublisher #createPublisher (saveSuccess)="getPublishOrg()"></createPublisher>
    <documentHaveNumberExists #documentHaveNumberExists></documentHaveNumberExists>
</div>

<style>
    .column {
        float: left;
        width: 25%;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>