<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <!-- <span>{{l("Thêm mới văn bản đến")}}</span> -->
                        <span>Sửa văn bản đến phòng</span>
                    </h3>
                </div>
            </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="modal-body">
                    <div class="col-xl-12" style="padding-bottom: 1rem;">
                        <dx-button text="Lưu" type="success" icon="save" (onClick)="save()"> </dx-button>
                        &nbsp;

                        <dx-button text="Trở về" type="success" icon="fa fa-arrow-left" (onClick)="back()"></dx-button>
                    </div>
                    <dx-form #documentForm [readOnly]="catp" [(formData)]="documentData" [showValidationSummary]="true"
                        [showColonAfterLabel]="false" validationGroup="formValidateGroup">
                        <dxi-item itemType="group" caption="Thông tin văn bản" colCount="12">
                            <dxi-item dataField="orgLevelId" [colSpan]="4" [disabled]="true">
                                <dx-select-box #publisherLEVEL dataField="orgLevelId"
                                id="orgLevel"
                                [items]="orgLevel"
                                valueExpr="id"
                                displayExpr="name"
                                [searchEnabled]="true"
                                [searchExpr]="['name']"
                                [disabled]="true"
                                [(value)]="documentData.orgLevelId">
                            </dx-select-box>
                                <dxo-label text="Cấp gửi"></dxo-label>
                            </dxi-item>
                            <dxi-item [colSpan]="8" dataField="publisherName" [disabled]="true">
                                <dxo-label text="Nơi gửi"></dxo-label>
                            </dxi-item>
                            <dxi-item dataField="number" [colSpan]="4">
                                <dxo-label text="Số kí hiệu"></dxo-label>
                            </dxi-item>
                            <!-- sửa thành publishDate mới đúng -->
                            <dxi-item dataField="publishDate" [colSpan]="4" editorType="dxDateBox"
                                [editorOptions]="{ displayFormat:'dd/MM/yyyy', showClearButton: true}">
                                <dxo-label text="Ngày PH"></dxo-label>
                                <!-- <dx-date-box  displayFormat="dd/MM/yyyy" type="date"></dx-date-box> -->
                            </dxi-item>
                            <dxi-item [colSpan]="4" itemType="empty"></dxi-item>
                            <dxi-item  [colSpan]="4">
                                <dx-select-box [items]="dataBook" dataField="bookDv"
                                    valueExpr="id" displayExpr="name" [searchEnabled]="true" [searchExpr]="['name']"
                                    [disabled]="true" [(value)]="documentData.bookDV">
                                </dx-select-box>
                                <dxo-label text="Sổ đến ĐV"></dxo-label>
                            </dxi-item>

                            <dxi-item [colSpan]="4" dataField="incommingNumberDV" [disabled]="true">
                                <dxo-label text="Số đến ĐV"></dxo-label>
                            </dxi-item>

                            <dxi-item dataField="incommingDateDV" [colSpan]="4" editorType="dxDateBox"
                                [editorOptions]="{ displayFormat:'dd/MM/yyyy', showClearButton: true, disabled: true}">
                                <dxo-label text="Ngày đến ĐV"></dxo-label>
                            </dxi-item>


                            <dxi-item dataField="summary" [colSpan]="12" editorType="dxTextArea"
                                [editorOptions]="{ autoResizeEnabled: true, disabled: true }">
                                <dxo-label text="Trích yếu"></dxo-label>
                            </dxi-item>
                            <dxi-item dataField="approvingRecommended" [colSpan]="12" editorType="dxTextArea"
                                [editorOptions]="{ autoResizeEnabled: true }">
                                <dxo-label text="Ý kiến BGĐ"></dxo-label>
                            </dxi-item>

                            <dxi-item itemType="group" [colSpan]="12" colCount="12" >
                                <dxi-item itemType="group"  [colSpan]="6"  colCount="12">
                                    <dxi-item [colSpan]="12">
                                        <dxo-label text="Tập tin"></dxo-label>
                                        <!-- <dxi-validation-rule type="required"></dxi-validation-rule> -->
                                        <dx-file-uploader

                                            [multiple]="true"
                                            selectButtonText="Chọn file đính kèm"
                                            accept="*"
                                            icon="upload"
                                            [(value)]="value"
                                             uploadMode="useForm"
                                            (onValueChanged)="setFullNameFile($event)">
                                        </dx-file-uploader>
                                    </dxi-item>
                                    <dxi-item [colSpan]="6">
                                        <dxo-label text="Scan văn bản"></dxo-label>
                                        <dx-button [disabled]="saving" text="Scan" type="success" icon="search"
                                            (onClick)="scan()">
                                        </dx-button>
                                    </dxi-item>
                                    <dxi-item [colSpan]="6">
                                        <dx-radio-group
                                            [dataSource]="scanTypes"
                                            displayExpr="display"
                                            valueExpr="value"
                                            [(value)]="scanType"
                                            (onValueChanged)="onScanTypeChanged($event)">
                                        </dx-radio-group>
                                        <!-- <dx-check-box
                                            [(value)]="isDuplex"
                                            [width]="120"
                                            text="Scan 2 mặt">
                                        </dx-check-box> -->
                                    </dxi-item>
                                </dxi-item>
                                <dxi-item [colSpan]="6">
                                    <dx-data-grid id="gridContainer" [dataSource]="selectedRows" [allowColumnReordering]="true"
                                    [allowColumnResizing]="true" [columnAutoWidth]="true" [showBorders]="true" >
                                    <dxo-paging [pageSize]="10"></dxo-paging>
                                    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true">
                                    </dxo-pager>
                                    <dxi-column dataField="tepDinhKem" caption="Tệp đính kèm"></dxi-column>
                                    <dxi-column caption="Xem chi tiết" cellTemplate="detailTemplate" [width]="100">
                                    </dxi-column>
                                    <!-- <dxi-column caption="Xóa" cellTemplate="deleteTemplate">
                                    </dxi-column> -->

                                    <div *dxTemplate="let d of 'detailTemplate'">
                                        <div class="row">
                                            <div class="col-6" style="text-align: center;" (click)="showDetail(d)">
                                                <span><i class="fab fa-buffer"></i></span>
                                            </div>
                                            <div class="col-6" style="text-align: center;" (click)="deleteFile(d)">
                                                <span><i class="fa fa-trash"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </dx-data-grid>
                                </dxi-item>
                            </dxi-item>
                            </dxi-item>
                        <dxi-item itemType="group" caption="Thông tin khác" colCount="12">
                            <dxi-item [colSpan]="4" dataField="documentTypeId" editorType="dxSelectBox" [editorOptions]="{
                                dataSource: documentTypeOptions,
                                valueExpr: 'id',
                                displayExpr: 'typeName',
                                searchEnabled: true,
                                searchExpr: 'typeName'
                                }">
                                <dxo-label text="Loại VB"></dxo-label>
                            </dxi-item>
                            <dxi-item [colSpan]="4" dataField="secretLevel" editorType="dxSelectBox" [editorOptions]="{
                                dataSource: data_secretLevel,
                                valueExpr: 'key',
                                displayExpr: 'value',
                                searchEnabled: true,
                                searchExpr: 'value',
                                value: secretVal
                                }">
                                <dxo-label text="Độ mật"></dxo-label>
                            </dxi-item>
                            <dxi-item [colSpan]="4" dataField="priority" editorType="dxSelectBox" [editorOptions]="{
                                dataSource: data_priority,
                                valueExpr: 'key',
                                displayExpr: 'value',
                                searchEnabled: true,
                                searchExpr: 'value',
                                value: priorityVal
                            }">
                                <dxo-label text="Độ khẩn"></dxo-label>
                            </dxi-item>
                            <dxi-item [colSpan]="4" dataField="range" editorType="dxSelectBox" [editorOptions]="{
                                dataSource: data_range,
                                valueExpr: 'key',
                                displayExpr: 'value',
                                searchEnabled: true,
                                searchExpr: 'value',
                                value: rangeVal
                                }">
                                <dxo-label text="Lĩnh vực"></dxo-label>

                            </dxi-item>
                            <dxi-item dataField="signer" [colSpan]="4">
                                <dxo-label text="Người ký" ></dxo-label>
                            </dxi-item>
                            <dxi-item [colSpan]="4" dataField="position" editorType="dxSelectBox" [editorOptions]="{
                                dataSource: data_position,
                                valueExpr: 'key',
                                displayExpr: 'value',
                                searchEnabled: true,
                                searchExpr: 'value',
                                value: positionVal
                                }">
                                <dxo-label text="Chức vụ"></dxo-label>
                                <!-- <dxi-validation-rule type="required"></dxi-validation-rule> -->
                            </dxi-item>
                        </dxi-item>

                        <dxi-item itemType="group" caption="Xử lý văn bản" colCount="6" cssClass="item-bold" [colSpan]="6">
                            <dxi-item dataField="deadline" [colSpan]="2" editorType="dxDateBox"
                                [editorOptions]="{ displayFormat:'dd/MM/yyyy', showClearButton: true}">
                                <dxo-label text="Hạn xử lý"></dxo-label>
                            </dxi-item>
                            <dxi-item [colSpan]="4">
                                <label *ngIf="documentData.directorName">Ý kiến chỉ đạo của BGĐ: {{documentData.directorName}} {{documentData.approvingRecommended}}</label>
                            </dxi-item>
                            <dxi-item itemType="group" [colSpan]="6" colCount="6">
                                <dxi-item [colSpan]="6" [cssClass]="'custom-label'">
                                    <label>Ý KIẾN CHỈ ĐẠO TRƯỞNG PHÒNG/TRƯỞNG QUẬN</label>
                                </dxi-item>
                                <dxi-item [label]="{text: 'Đồng chí: '}" [colSpan]="2">
                                    <dx-select-box dataField=""
                                        id="tpSelect"
                                        [items]="truongPhong"
                                        valueExpr="userId"
                                        displayExpr="displayName"
                                        [searchEnabled]="true"
                                        [searchExpr]="['fullName']"
                                        [(value)]="truongPhongVal">
                                    </dx-select-box>
                                </dxi-item>
                                <dxi-item caption="" [colSpan]="2">
                                    <dx-date-box [(value)]="tpDate" type="date"></dx-date-box>
                                    <dxo-label text="Ngày chỉ đạo"></dxo-label>
                                </dxi-item>
                                <dxi-item itemType="empty" [colSpan]="2"></dxi-item>
                                <dxi-item dataField="" [colSpan]="4">
                                    <dx-text-area
                                        [autoResizeEnabled]="true" [(value)]="tpComment">
                                    </dx-text-area>
                                    <dxo-label text="Nội dung chỉ đạo"></dxo-label>
                                </dxi-item>
                            </dxi-item>
                            <dxi-item itemType="group" [colSpan]="6" colCount="6">
                                <dxi-item [colSpan]="6" [cssClass]="'custom-label'">
                                    <label>Ý KIẾN CHỈ ĐẠO PHÓ TRƯỞNG PHÒNG/PHÓ TRƯỞNG QUẬN</label>
                                </dxi-item>
                                <dxi-item [label]="{text: 'Đồng chí: '}" [colSpan]="2" dataField="">
                                    <dx-select-box dataField=""
                                        id="ppSelect"
                                        [items]="phoPhong"
                                        valueExpr="userId"
                                        displayExpr="displayName"
                                        [searchEnabled]="true"
                                        [searchExpr]="['fullName']"
                                        [(value)]="phoPhongVal">
                                    </dx-select-box>
                                </dxi-item>
                                <dxi-item caption="" [colSpan]="2">
                                    <dx-date-box [(value)]="ppDate" type="date"></dx-date-box>
                                    <dxo-label text="Ngày chỉ đạo"></dxo-label>
                                </dxi-item>
                                <dxi-item itemType="empty" [colSpan]="2"></dxi-item>
                                <dxi-item dataField="" [colSpan]="4">
                                    <dx-text-area
                                        [autoResizeEnabled]="true"
                                        [(value)]="ppComment">
                                    </dx-text-area>
                                    <dxo-label text="Nội dung chỉ đạo"></dxo-label>
                                </dxi-item>
                            </dxi-item>
                            <dxi-item [colSpan]="4">
                                <dxo-label text="Đơn vị xử lý"></dxo-label>
                                <dx-data-grid #gridContainerOrg id="gridContainerOrg"
                                    [remoteOperations]="false" [allowColumnReordering]="true"
                                    [rowAlternationEnabled]="true" [allowColumnResizing]="true"
                                    columnResizingMode="widget" [showBorders]="true" [height]="250"
                                    [width]="760"

                                    [(dataSource)]="data_department">
                                    <dxo-paging [enabled]="false"></dxo-paging>
                                    <!-- <dxo-editing [allowUpdating]="!isReadOnly" [allowAdding]="false" [allowDeleting]="false">
                                    </dxo-editing> -->
                                    <dxo-filter-row [visible]="true" placeholder="Nhập tên đội..." >
                                    </dxo-filter-row>
                                    <dxi-column [allowFiltering]="true" [allowEditing]="false"
                                        caption="Danh sách đội" dataField="displayName" width="50%">
                                    </dxi-column>
                                    <dxi-column [allowFiltering]="true" [allowEditing]="false"
                                        caption="Kí hiệu" dataField="shortentCode" width="10%">
                                    </dxi-column>
                                    <dxi-column [allowEditing]="false" [allowFiltering]="false"
                                        dataField="mainHandling" cellTemplate="selectTemplateCT"
                                        caption="Chủ trì" width="20%" dataType="boolean" alignment="center">
                                    </dxi-column>
                                    <dxi-column cellTemplate="selectTemplatePHXL" [allowEditing]="false"
                                        [allowFiltering]="false" dataField="coHandling"
                                        caption="Phối hợp xử lý " width="20%" dataType="boolean" alignment="center">
                                    </dxi-column>
                                    <div *dxTemplate="let cell of 'selectTemplateCT'">
                                        <dx-check-box [value]="cell.value" [(disabled)]="!dvxl_canEdited"
                                            (onValueChanged)="onCheckBoxBoSungChanged($event, cell)">
                                        </dx-check-box>
                                    </div>
                                    <div *dxTemplate="let cell of 'selectTemplatePHXL'">
                                        <dx-check-box [value]="cell.value" [(disabled)]="!dvxl_canEdited"
                                            (onValueChanged)="onCheckBoxBoSungChanged($event, cell)">
                                        </dx-check-box>
                                    </div>

                                </dx-data-grid>

                            </dxi-item>

                        </dxi-item>
                    </dx-form>
                </div>
            </div>
        </div>
    </div>
</div>

<style>

.column {
  float: left;
  width: 25%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
