<div bsModal #yKienChiDaoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="yKienChiDaoModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form novalidate  autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        Cập nhật chỉ đạo
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="advanced-text">
                    <!-- <div>
                        <p style="display: inline-block;">SỐ CV: </p><p style="display: inline-block; font-weight: bold;"> &nbsp;{{incommingNumber}}</p>
                    </div> -->
                    <div *ngIf="!hideComment">
                        <label>Hạn xử lý:<b> {{deadline}} </b>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ý kiến chỉ đạo của BGĐ: <b> {{oldChiDao}} </b> </label>
                    </div>
                    <!-- <div *ngIf="!hideComment">
                        <span>Chỉ đạo của Trưởng phòng/Trưởng quận: <b> {{tpName}}</b> <span *ngIf="tpDateHandle">{{tpDateHandle | momentFormat:'DD-MM-YYYY'}}</span></span>
                        <br>
                        <span class="font-i"> <b>{{tpComment}} </b></span>
                        <br>
                        <span>Chỉ đạo của Phó Trưởng phòng/PhóTrưởng quận: <b> {{ppName}} </b> <span *ngIf="ppDateHandle">{{ppDateHandle | momentFormat:'DD-MM-YYYY'}}</span></span>
                        <br>
                        <span class="font-i"> <b>{{ppComment}}</b></span>
                    </div> -->
                    </div>
                    <dx-form [(formData)]="formData" [showValidationSummary]="true"
                        validationGroup="formValidateGroup">
                        <dxi-item itemType="group" [colSpan]="6" colCount="6">
                            <!-- Chỉ đạo của Trưởng phòng/Trưởng quận: Đ/C
                            Chỉ đạo của Phó Trưởng phòng/ PhóTrưởng quận: Đ/C  -->

                            <!-- <dxi-item [colSpan]="6" [cssClass]="'custom-label'">
                                <label>Ý KIẾN CHỈ ĐẠO ĐỘI TRƯỞNG</label>
                            </dxi-item> -->
                            <dxi-item [colSpan]="6" [cssClass]="'custom-label'">
                                <label>Ý KIẾN CHỈ ĐẠO ĐỘI TRƯỞNG</label>
                            </dxi-item>
                            <dxi-item [label]="{text: 'Đồng chí'}" [colSpan]="3">
                                <dx-select-box
                                    id="tpSelect"
                                    [items]="truongPhong"
                                    valueExpr="userId"
                                    displayExpr="displayName"
                                    [searchEnabled]="true"
                                    [searchExpr]="['fullName']"
                                    [(value)]="doiTruongVal">
                                </dx-select-box>
                            </dxi-item>
                            <!-- <dxi-item caption="" [colSpan]="3" editorType="dxDateBox" dataField="tpDate"
                                    [editorOptions]="initTpDateOptions">
                                    <dxo-label text="Ngày chỉ đạo"></dxo-label>
                            </dxi-item> -->
                            <dxi-item caption="" [colSpan]="3">
                                <dx-date-box [(value)]="dtDate" type="date" displayFormat="dd/MM/yyyy" format="dd/MM/yyyy"></dx-date-box>
                                <dxo-label text="Ngày chỉ đạo"></dxo-label>
                            </dxi-item>
                            <dxi-item dataField="" [colSpan]="6">
                                <dx-text-area
                                    [autoResizeEnabled]="true"
                                    [(value)]="dtComment">
                                </dx-text-area>
                                <dxo-label text="Nội dung chỉ đạo"></dxo-label>
                            </dxi-item>
                        </dxi-item>
                        <dxi-item itemType="group" [colSpan]="6" colCount="6">
                            <dxi-item [colSpan]="6" [cssClass]="'custom-label'">
                                <label>Ý KIẾN CHỈ ĐẠO PHÓ ĐỘI TRƯỞNG</label>
                            </dxi-item>
                            <dxi-item [label]="{text: 'Đồng chí'}" [colSpan]="3" dataField="">
                                <dx-select-box dataField=""
                                    id="ppSelect"
                                    [items]="phoPhong"
                                    valueExpr="userId"
                                    displayExpr="displayName"
                                    [searchEnabled]="true"
                                    [searchExpr]="['fullName']"
                                    [(value)]="phoDoiTruongVal">
                                </dx-select-box>
                            </dxi-item>
                            <!-- <dxi-item caption="" [colSpan]="3" editorType="dxDateBox" dataField="tpDate"
                                    [editorOptions]="initPtpDateOptions">
                                    <dxo-label text="Ngày chỉ đạo"></dxo-label>
                            </dxi-item> -->
                            <dxi-item caption="" [colSpan]="3">
                                <dx-date-box [(value)]="pdtDate" type="date" displayFormat="dd/MM/yyyy" format="dd/MM/yyyy"></dx-date-box>
                                <dxo-label text="Ngày chỉ đạo"></dxo-label>
                            </dxi-item>
                            <dxi-item dataField="" [colSpan]="6">
                                <dx-text-area
                                    [autoResizeEnabled]="true"
                                    [(value)]="pdtComment">
                                </dx-text-area>
                                <dxo-label text="Nội dung chỉ đạo"></dxo-label>
                            </dxi-item>
                            <dxi-item [colSpan]="6">
                                <dxo-label text="CHUYỂN CÁN BỘ CHIẾN SĨ"></dxo-label>
                                <dx-data-grid #gridContainerOrg id="gridContainerOrg"
                                    [remoteOperations]="false" [allowColumnReordering]="true"
                                    [rowAlternationEnabled]="true" [allowColumnResizing]="true"
                                    columnResizingMode="widget" [showBorders]="true" [height]="250"
                                    [dataSource]="data_department">
                                    <dxo-paging [enabled]="false"></dxo-paging>
                                    <dxo-filter-row [visible]="true" placeholder="Nhập tên cán bộ..." >
                                    </dxo-filter-row>
                                    <dxi-column [allowFiltering]="true" [allowEditing]="false"
                                        caption="Cán bộ chiến sĩ" dataField="displayName" width="50%">
                                    </dxi-column>
                                    <!-- <dxi-column [allowFiltering]="true" [allowEditing]="false"
                                        caption="Kí hiệu" dataField="shortentCode" width="10%">
                                    </dxi-column> -->
                                    <dxi-column dataField="mainHandling" caption="Chủ trì" width="20%" [allowEditing]="false"
                                        cellTemplate="selectTemplate" alignment="center" [allowFiltering]="false">
                                    </dxi-column>
                                    <dxi-column dataField="coHandling" caption="Phối hợp" width="20%" [allowEditing]="false"
                                        cellTemplate="selectTemplate" alignment="center" [allowFiltering]="false">
                                    </dxi-column>
                                    <div *dxTemplate="let cell of 'selectTemplate'">
                                        <dx-check-box [value]="cell.value"
                                            (onValueChanged)="onCheckBoxChanged($event, cell)"></dx-check-box>
                                    </div>
                                </dx-data-grid>
                            </dxi-item>
                        </dxi-item>

                        <!-- <dxi-item [label]="{ text: 'Ý kiến giải quyết' }" dataField="processingRecommended"
                            [colCount]="2" [colSpan]="4" editorType="dxTextArea"
                            [editorOptions]="{ height: 100 }">
                        </dxi-item> -->

                    </dx-form>
                    <!-- <br>
                    <div class="row">
                        <div style="display: block; margin: auto;">
                            <dx-button icon="cancel" text='{{l("Cancel")}}' type="normal" (onClick)="savepublisher()"></dx-button>
                            <dx-button icon="save" text="Lưu" type="success" (onClick)="savepublisher()"></dx-button>
                        </div>
                    </div> -->
                </div>
                <div class="modal-footer">
                    <div style="display: block; margin: auto;">
                        <dx-button icon="save" text="Cập nhật chỉ đạo" type="success" (onClick)="save()" [disabled]="disabled" style="margin-right: 0.5rem;"></dx-button>
                        <dx-button icon="close" text="Trở về" type="normal" (onClick)="close()"></dx-button>
                    </div>
                    <!-- <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button> -->
                </div>
            </form>
        </div>
    </div>
</div>

<style>
    ::ng-deep .dx-row {
        font-size: 15px;
        white-space: normal;
    }
    .advance-text{
        font-size: 1.1rem;
        font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Verdana, sans-serif;
        font-weight: 400;
    }
    .dx-field-item-label-text {
        white-space: unset !important;
    }  
    /* ::ng-deep td[role="columnheader"]{
            text-align: center !important;
        }   */
</style>
