<!-- <div [@routerTransition] (window:resize)="onResize($event)"> -->
<div bsModal #ketQuaCongTacDoiModal="bs-modal" class="modal fade" tabindex="1" role="dialog"
    aria-labelledby="ketQuaCongTacDoiModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-xl">
        <form class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">
                    Báo cáo kết quả
                </h3>
            </div>
            
            <div class="modal-body">
                <h5>BÁO CÁO KẾT QUẢ</h5>
                <div class="row btm_spacing">
                    <div class="col-md-2">
                        <label class="dx-texteditor-input" style="color: #646c9a">Đơn vị /CBCS được giao</label>
                    </div>
                    <div class="col-md-10">
                        <dx-text-box [(value)]="formData.userFullName" [visible]="formData.userId > 0" [readOnly]="true"></dx-text-box>
                        <dx-text-box [(value)]="formData.orgName" [visible]="formData.orgId > 0"  [readOnly]="true"></dx-text-box>
                    </div>
                </div>
                
                <div class="row btm_spacing">
                    <div class="col-md-2">
                        <label class="dx-texteditor-input" style="color: #646c9a">Nội dung công việc được giao</label>
                    </div>
                    <div class="col-md-10"> 
                            <dx-text-area [(value)]="formData.assignContent"  [readOnly]="true" [elementAttr]="{
                                    class: 'revealLine'
                            }" [autoResizeEnabled]="true"></dx-text-area>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label class="dx-texteditor-input" style="color: #646c9a">Hạn thực hiện</label>
                    </div>
                    <div class="col-md-10"> 
                        <dx-date-box [value]="formData.deadline" [displayFormat]="'dd/MM/yyyy'"  [readOnly]="true"></dx-date-box>
                    </div>
                </div>
                <br>
                <h4>Nội dung thực hiện</h4>
                <div class="row">
                    <div class="col-md-12">
                        
                        <dx-data-grid #gridContainerOrg id="gridContainerOrg"
                            [remoteOperations]="false" [allowColumnReordering]="true"
                            [rowAlternationEnabled]="true" [allowColumnResizing]="true"
                            [dataSource]="store"
                            columnResizingMode="widget" [showBorders]="true"
                            >
                            <dxo-editing mode="row" [allowAdding]="true" [allowUpdating]="true" [allowDeleting]="true" [texts]="{
                                editRow: 'Chỉnh sửa',
                                deleteRow: 'Xóa',
                                confirmDeleteMessage: 'Bạn có thực sự muốn xóa công việc đã chọn?',
                                confirmDeleteTitle: 'Cảnh báo!'
                            }" [useIcons]="true"></dxo-editing>
                            <dxo-paging [enabled]="false"></dxo-paging>
                            <dxi-column dataField="stt" columnIndex="1" caption="STT" alignment="center"
                            [width]="5+'%'" cellTemplate="sttCellTemplate" [allowEditing]="false"></dxi-column>
                            <dxi-column [allowFiltering]="true" [cssClass]="'bold'" [format]="'dd/MM/yyyy'"
                                caption="Ngày báo cáo" dataField="dateReport" dataType="date" width="15%">
                            </dxi-column>
                            <dxi-column [allowFiltering]="true"
                                caption="Nội dung đã thực hiện" dataField="contentReport" width="35%">
                            </dxi-column>

                            <dxi-column [allowFiltering]="true"
                                caption="Ghi chú" dataField="note" width="35%">
                            </dxi-column>
                            <!-- <dxi-column [allowFiltering]="true" headerCellTemplate="actionHeaderTemplate"
                                cellTemplate="actionTemplate"  width="10%">
                            </dxi-column> -->

                            <div *dxTemplate="let info of 'sttCellTemplate'">
                                <div> {{info.rowIndex + 1}}</div>
                            </div>
                            <div *dxTemplate="let d of 'actionHeaderTemplate'">
                                <span (click)="add()"><i class="fa fa-plus-circle"></i></span>
                            </div>
                        </dx-data-grid>
                    </div>
                </div>
                <br>
                <div class="row btm_spacing">
                    <div class="col-md-2">
                        <label class="dx-texteditor-input" style="color: #646c9a">Nhận xét kết quả công tác</label>
                    </div>
                    <div class="col-md-10">
                        <dx-text-area [(value)]="formData.evaluateContent" [autoResizeEnabled]="true" [readOnly]="true"></dx-text-area>
                    </div>
                </div>
                <div class="row btm_spacing">
                    <div class="col-md-2">
                        <label class="dx-texteditor-input" style="color: #646c9a">Trạng thái</label>
                    </div>
                    <div class="col-md-10">
                        <dx-select-box [(value)]="formData.status" [disabled]="true" [dataSource]="statusValues" valueExpr="type" displayExpr="name"></dx-select-box>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label class="dx-texteditor-input" style="color: #646c9a">Đánh giá kết quả</label>
                    </div>
                    <div class="col-md-10">
                        <dx-select-box
                            [dataSource]="status_dataSource" 
                            valueExpr="id" 
                            displayExpr="name" 
                            [(value)]="formData.evaluateLevelId"
                            [disabled]="true">
                        </dx-select-box>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <dx-button icon="save" text="Lưu" type="success" (onClick)="save()" [disabled]="saving" style="margin-right: 0.5rem;"></dx-button>
                <dx-button icon="close" text="Quay lại" type="normal" (onClick)="back()"></dx-button>
            </div>
            </form>
    </div>
</div>

<style>
    ::ng-deep .dx-row {
        font-size: 15px;
        white-space: normal;
    }

    /* ::ng-deep td[role="columnheader"]{
            text-align: center !important;
        }   */
</style>
