<div [@routerTransition]>
        <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
                <div class="kt-subheader kt-grid__item">
                        <div [class]="containerClass">
                                <div class="kt-subheader__main">
                                        <h3 class="kt-subheader__title">
                                                <span>{{ l("Quản lý các chức năng xử lý") }}</span>
                                        </h3>
                                </div>
                                <div class="kt-subheader__toolbar"></div>
                        </div>
                </div>
                <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
                        <div class="kt-portlet kt-portlet--mobile">
                                <div class="kt-portlet__body">
                                        <dx-form [showValidationSummary]="true" validationGroup="formValidateGroup">
                                                <dxi-item itemType="group" caption="1. Quản lý chức năng Button"
                                                        colCount="4" cssClass="item-bold">
                                                        <dxi-item [colSpan]="2">
                                                                <div class="dx-field">
                                                                        <div class="dx-field-label"
                                                                                style="font-size: 15px;font-weight: bold;">
                                                                                Chọn màn hình :</div>
                                                                        <div class="dx-field-value">

                                                                                <dx-select-box id="selectBox1"
                                                                                        [dataSource]="labels"
                                                                                        displayExpr="name"
                                                                                        valueExpr="id"
                                                                                        [searchEnabled]="true"
                                                                                        [searchExpr]="['name']"
                                                                                        (onSelectionChanged)="onValueChangedLabel($event)">
                                                                                </dx-select-box>
                                                                        </div>
                                                                </div>
                                                        </dxi-item>

                                                        &nbsp;
                                                        &nbsp;
                                                        <dxi-item [colSpan]="2">
                                                                <div class="dx-field">
                                                                        <div class="dx-field-label"
                                                                                style="font-size: 15px;font-weight: bold;">
                                                                                Chọn Role :</div>
                                                                        <div class="dx-field-value">
                                                                                <dx-select-box id="selectBox2"
                                                                                        [dataSource]="roles"
                                                                                        displayExpr="displayName"
                                                                                        valueExpr="id"
                                                                                        (onSelectionChanged)="onValueChangedRole($event)">
                                                                                </dx-select-box>
                                                                        </div>
                                                                </div>
                                                        </dxi-item>

                                                        &nbsp;
                                                        &nbsp;
                                                        <dxi-item [colSpan]="2">
                                                                <div class="dx-field">
                                                                        <div class="dx-field-label"
                                                                                style="font-size: 15px;font-weight: bold;">
                                                                                Chọn Tenant :</div>
                                                                        <div class="dx-field-value">
                                                                                <dx-select-box id="selectBox3"
                                                                                        [dataSource]="tenants"
                                                                                        displayExpr="name"
                                                                                        valueExpr="id"
                                                                                        (onSelectionChanged)="onValueChangedTenant($event)">
                                                                                </dx-select-box>
                                                                        </div>
                                                                </div>
                                                        </dxi-item>

                                                        &nbsp;
                                                        &nbsp;
                                                        <dxi-item [colSpan]="2">
                                                                <dx-button type="success" icon="fa fa-save" text="OK"
                                                                        (onClick)="okClick($event)"></dx-button>

                                                        </dxi-item>
                                                </dxi-item>
                                        </dx-form>

                                        <dx-data-grid id="gridContainer" [showRowLines]="true" [dataSource]="dataSource"
                                                [showBorders]="true" [showColumnLines]="true"
                                                (onSelectionChanged)="selectionChanged($event)">
                                                <dxo-paging [enabled]="false"></dxo-paging>
                                                <dxo-editing mode="cell" refreshMode="reshape" [allowUpdating]="true"
                                                        [allowDeleting]="true" [useIcons]="true">
                                                </dxo-editing>
                                                <!-- <dxo-selection mode="multiple"></dxo-selection> -->
                                                <dxo-pager [showPageSizeSelector]="true"
                                                        [allowedPageSizes]="[10, 25, 50, 100]">
                                                </dxo-pager>
                                                <dxi-column [allowFiltering]="false" dataField="hasSave"
                                                        caption="Xem" width="50" dataType="boolean">
                                                </dxi-column>
                                                <dxi-column [allowFiltering]="false" dataField="hasSave"
                                                        caption="Cập nhật chỉ đạo" width="50" dataType="boolean">
                                                </dxi-column>
                                                <dxi-column [allowFiltering]="false" dataField="hasAddNew"
                                                        caption="Thêm mới" width="100" dataType="boolean">
                                                </dxi-column>
                                                <dxi-column [allowFiltering]="false" dataField="hasReturn"
                                                        caption="Thu hồi" width="100" dataType="boolean">
                                                </dxi-column>
                                                <dxi-column [allowFiltering]="false" dataField="hasTransfer"
                                                        caption="Chuyển" width="100" dataType="boolean">
                                                </dxi-column>
                                                <dxi-column [allowFiltering]="false" dataField="hasSaveAndTransfer"
                                                        caption="Lưu và chuyển" width="100" dataType="boolean">
                                                </dxi-column>
                                                <dxi-column [allowFiltering]="false" dataField="hasFinish" caption="Xóa"
                                                        width="100" dataType="boolean">
                                                </dxi-column>
                                                <dxi-column [allowFiltering]="false" dataField="position"
                                                        caption="Vị trí" width="100" dataType="boolean">
                                                </dxi-column>
                                                <dxi-column [allowFiltering]="false" dataField="transfer_Vice_Team"
                                                        caption="Chuyển đội phó" width="100" dataType="boolean">
                                                </dxi-column>
                                                <dxi-column [allowFiltering]="false" dataField="add_Transfer_Vice_Team"
                                                        caption="Chuyển  bổ sung đội phó" width="250"
                                                        dataType="boolean">
                                                </dxi-column>
                                                <dxi-column [allowFiltering]="false" dataField="transfer_Organize"
                                                        caption="Chuyển tổ" width="100" dataType="boolean">
                                                </dxi-column>
                                                <dxi-column [allowFiltering]="false" dataField="add_Transfer_Organize"
                                                        caption=" Chuyển bổ sung tổ" width="200" dataType="boolean">
                                                </dxi-column>
                                                <dxi-column [allowFiltering]="false" dataField="add_Transfer_Team"
                                                        caption="Chuyển  bổ sung đội" width="120" dataType="boolean">
                                                </dxi-column>

                                                <dxi-column [allowFiltering]="false" dataField="add_Transfer_Deputy"
                                                        caption="Chuyển bổ sung phó phòng" width="250"
                                                        dataType="boolean">
                                                </dxi-column>
                                                <dxi-column [allowFiltering]="false" dataField="transfer_Team"
                                                        caption=" Chuyển đội" width="100" dataType="boolean">
                                                </dxi-column>
                                                <dxi-column [allowFiltering]="false" dataField="transfer_Deputy"
                                                        caption="Chuyển phó phòng" width="200" dataType="boolean">
                                                </dxi-column>

                                                <dxi-column [allowFiltering]="false" dataField="add_Transfer_Department"
                                                        caption="Chuyển bổ sung cho phòng" width="300"
                                                        dataType="boolean">
                                                </dxi-column>
                                                <dxi-column [allowFiltering]="false"
                                                        dataField="add_Transfer_Vice_President"
                                                        caption="Chuyển bổ sung cho phó giám đốc" width="350"
                                                        dataType="boolean">
                                                </dxi-column>
                                                <dxi-column [allowFiltering]="false" dataField="transfer_Department"
                                                        caption="Chuyển cho phòng" width="150" dataType="boolean">
                                                </dxi-column>

                                                <dxi-column [allowFiltering]="false"
                                                        dataField="transfer_Soldier_officer"
                                                        caption="Chuyển cán bộ chiến sĩ" width="300" dataType="boolean">
                                                </dxi-column>
                                                <dxi-column [allowFiltering]="false" dataField="transfer_Vice_President"
                                                        caption="Chuyển cho phó giám đốc" width="300"
                                                        dataType="boolean">
                                                </dxi-column>
                                                <dxi-column [allowFiltering]="false"
                                                        dataField="additional_Transfer_Soldier_officer"
                                                        caption="Chuyển bổ sung cán bộ chiến sĩ" width="350"
                                                        dataType="boolean">
                                                </dxi-column>

                                                <dxi-column [allowFiltering]="false" dataField="draft_the_text_away"
                                                        caption="Dự thảo văn bản đi" width="300" dataType="boolean">
                                                </dxi-column>
                                                <dxi-column [allowFiltering]="false" dataField="report"
                                                        caption="Báo cáo" width="100" dataType="boolean">
                                                </dxi-column>
                                                <dxi-column [allowFiltering]="false" dataField="saveVB"
                                                        caption="Lưu văn bản" width="100" dataType="boolean">
                                                </dxi-column>

                                                <dxi-column [allowFiltering]="false" dataField="submit_to_the_manager"
                                                        caption="Trình trưởng phòng" width="120" dataType="boolean">
                                                </dxi-column>

                                                <dxi-column [allowFiltering]="false" dataField="submit_to_the_director"
                                                        caption="Trình giám đốc" width="150" dataType="boolean">
                                                </dxi-column>

                                                <dxi-column [allowFiltering]="false" dataField="cellTemplate"
                                                        caption="CellTemplate" width="100" dataType="boolean">
                                                </dxi-column>
                                                <dxi-column [allowFiltering]="false" dataField="hasSaveAndCreate"
                                                        caption="Lưu và thêm mới" width="300" dataType="boolean">
                                                </dxi-column>
                                                <dxi-column [allowFiltering]="false" dataField="hasSaveAndTransfer"
                                                        caption="Lưu và trình giám đốc" width="300" dataType="boolean">
                                                </dxi-column>





                                                <!--                                                 
                                                <dxi-column [allowFiltering]="false" dataField="hasTransfer"
                                                        caption="Chuyển" width="200" dataType="string">
                                                        <dxo-lookup [dataSource]="data_hasTransfer"
                                                                valueExpr="hasTransfer" displayExpr="name">
                                                        </dxo-lookup>

                                                </dxi-column>
                                                <dxi-column [allowFiltering]="false" dataField="hasSaveAndTransfer"
                                                        caption="Lưu và chuyển" width="200" dataType="string">
                                                        <dxo-lookup [dataSource]="data_hasTransfer"
                                                                valueExpr="hasSaveAndTransfer" displayExpr="name">
                                                        </dxo-lookup>
                                                </dxi-column>
                                                <dxi-column [allowFiltering]="false" dataField="hasFinish"
                                                        caption="Kết thúc" width="70" dataType="boolean">
                                                </dxi-column>
                                                <dxi-column [allowFiltering]="false" dataField="hasReturn"
                                                        caption="Trả về" width="70" dataType="boolean">
                                                </dxi-column>
                                                <dxi-column [allowFiltering]="false" dataField="hasCreate"
                                                        caption="Thêm mới" width="100" dataType="boolean">
                                                </dxi-column>
                                                <dxi-column [allowFiltering]="false" dataField="hasDelete" caption="Xóa"
                                                        width="50" dataType="boolean">
                                                </dxi-column>
                                                <dxi-column [allowFiltering]="false" dataField="hasAssignWork"
                                                        caption="Giao việc" width="200" dataType="boolean">
                                                        <dxo-lookup [dataSource]="data_hasTransfer" valueExpr="name"
                                                                displayExpr="name">
                                                        </dxo-lookup>
                                                </dxi-column>
                                                <dxi-column [allowFiltering]="false" dataField="hasSaveAndCreate"
                                                        caption="Lưu và thêm mới" width="150" dataType="boolean">
                                                </dxi-column>
                                                <dxi-column [allowFiltering]="false" dataField="hasReport"
                                                        caption="Phiếu trình" width="100" dataType="boolean">
                                                </dxi-column>
                                                <dxi-column [allowFiltering]="false" dataField="hasAssignWork"
                                                        caption="Chuyển bổ sung" width="150" dataType="boolean">
                                                </dxi-column>
                                                <dxo-lookup [dataSource]="data_hasTransfer" valueExpr="hasAssignWork"
                                                        displayExpr="name">
                                                </dxo-lookup>
                                                <dxi-column [allowFiltering]="false" dataField="hasAssignWork"
                                                        caption="Nhập giống VB Trước" width="200" dataType="boolean">
                                                </dxi-column>
                                                <dxi-column [allowFiltering]="false" dataField="position"
                                                        caption="Vị trí" width="100" dataType="string">
                                                        <dxo-lookup [dataSource]="data_position" valueExpr="id"
                                                                displayExpr="position">
                                                        </dxo-lookup>
                                                </dxi-column>
                                                <dxi-column [allowFiltering]="false" dataField="submit_to_the_director"
                                                caption="Trình giám đốc" width="70" dataType="boolean">
                                        </dxi-column>
                                        <dxi-column [allowFiltering]="false" dataField="submit_to_the_manager"
                                                caption="Trình trưởng phòng" width="70" dataType="boolean">
                                        </dxi-column>
                                        <dxi-column [allowFiltering]="false" dataField="saveVB"
                                                caption="Lưu văn bản" width="100" dataType="boolean">
                                        </dxi-column> -->

                                        </dx-data-grid>

                                        <br>
                                        <br>
                                        <br>
                                        <dx-form [showValidationSummary]="true" validationGroup="formValidateGroup">
                                                <dxi-item itemType="group" caption="2. Quản lý chức năng Cell Template"
                                                        cssClass="item-bold">
                                                        <div class="dx-field">
                                                                <div class="dx-field-label"
                                                                        style="font-size: 15px;font-weight: bold;">Chọn
                                                                        Template: </div>
                                                                <div class="dx-field-value">

                                                                        <dx-tag-box [dataSource]="data_celltemplte"
                                                                                dataStructure="plain" keyExpr="id"
                                                                                [(selectedItems)]="selectedItems"
                                                                                displayExpr="celltemplte">
                                                                        </dx-tag-box>

                                                                </div>
                                                        </div>
                                                </dxi-item>
                                        </dx-form>

                                        <div class="dx-field-label">
                                                <dx-button type="success" icon="fa fa-save" text="Lưu"
                                                        (onClick)="save()"></dx-button>
                                        </div>

                                </div>
                        </div>
                </div>
        </div>
</div>