<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <!-- <span>{{l("Thêm mới văn bản đến")}}</span> -->
                        <span>{{"Thêm mới văn bản chuyển CATP phát hành"}}</span>
                    </h3>
                </div>
                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <!-- <button class="btn btn-outline-success"><i class="fa fa-file-excel"></i> {{l("ExportToExcel")}}</button> -->
                        <!-- <dx-button text="Scan document" type="success" icon="upload" (onClick)="scanDocument()" ></dx-button> -->

                    </div>
                </div>
            </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="modal-body">
                    <!-- <div style="max-height: 80vh; overflow: auto;" class="form-control">
                        <span *ngFor="let item of (labelDto | async)">{{item.name}} - {{item.countNum}}</span>
                    </div> -->
                    <div class="col-xl-12" style="padding-bottom: 17px;padding-left:0;">

                        <dx-button [disabled]="saving" text="Chuyển phát hành" type="success" icon="save" (onClick)="save()"> </dx-button>
                        &nbsp;
                        <dx-button text="Trở về" type="success" icon="fa fa-arrow-left"
                        (onClick)="back()"></dx-button>
                        <!-- <dx-button text="In phiếu trình" type="success" icon="download" [visible]="printRptVisible"
                            (onClick)="exportHTML()"> </dx-button>
                        &nbsp; -->


                    </div>
                    <dx-form #documentForm [formData]="documentData" [showValidationSummary]="true"
                        [showColonAfterLabel]="false" validationGroup="formValidateGroup">
                        <dxi-item itemType="group" colCount="6" caption="Thông tin văn bản">
                            <dxi-item dataField="publishDate" [colSpan]="3" editorType="dxDateBox"
                                [editorOptions]="{ displayFormat:'dd/MM/yyyy', showClearButton: true, value: currentDate}">
                                <dxo-label text="Ngày soạn"></dxo-label>
                                <dxi-validation-rule type="required"></dxi-validation-rule>
                                <!-- <dx-date-box  displayFormat="dd/MM/yyyy" type="date"></dx-date-box> -->
                            </dxi-item>

                            <dxi-item [colSpan]="3" dataField="documentTypeId" editorType="dxSelectBox" [editorOptions]="{
                                dataSource: documentTypeOptions,
                                valueExpr: 'id',
                                displayExpr: 'typeName',
                                searchEnabled: true,
                                searchExpr: ['typeName', 'signal'],
                                showClearButton: true
                                }">
                                <dxo-label text="Loại VB"></dxo-label>
                                <!-- onValueChanged: docTypeSelectionChange -->
                                <!-- <dxi-validation-rule type="required"></dxi-validation-rule> -->
                            </dxi-item>

                            <!-- <dxi-item [colSpan]="2" dataField="editorId" editorType="dxSelectBox" [editorOptions]="editorIdOptions">
                                <dxo-label text="Người soạn"></dxo-label>
                            </dxi-item> -->
<!--
                            <dxi-item dataField="editorId" [colSpan]="2">
                                <dxo-label text="Người soạn" ></dxo-label>
                            </dxi-item> -->

                            <dxi-item dataField="orgEditor" [colSpan]="3" editorType="dxSelectBox" [editorOptions]="{
                                dataSource: data_department,
                                valueExpr: 'id',
                                displayExpr: 'displayName',
                                disabled: true
                            }">
                                <dxo-label text="Đơn vị soạn thảo"></dxo-label>
                            </dxi-item>

                            <dxi-item [colSpan]="3" dataField="range" editorType="dxSelectBox" [editorOptions]="{
                                dataSource: data_range,
                                valueExpr: 'key',
                                displayExpr: 'value',
                                searchEnabled: true,
                                searchExpr: 'value',
                                showClearButton: true
                                }">
                                <dxo-label text="Lĩnh vực"></dxo-label>
                            </dxi-item>

                            <dxi-item [colSpan]="3" dataField="priority"
                                editorType="dxSelectBox" [editorOptions]="{
                                dataSource: data_priority,
                                valueExpr: 'key',
                                displayExpr: 'value',
                                searchEnabled: true,
                                searchExpr: 'value',
                                showClearButton: true
                            }">
                                <dxo-label text="Độ khẩn"></dxo-label>
                            </dxi-item>

                            <dxi-item [colSpan]="3" dataField="secretLevel" editorType="dxSelectBox" [editorOptions]="{
                                dataSource: data_secretLevel,
                                valueExpr: 'key',
                                displayExpr: 'value',
                                searchEnabled: true,
                                searchExpr: 'value',
                                showClearButton: true
                                }">
                                <!-- <dxi-validation-rule type="required"></dxi-validation-rule> -->
                                <dxo-label text="Độ mật"></dxo-label>
                            </dxi-item>


                            <dxi-item itemType="group" colCount="24" [colSpan]="6">
                                <dxi-item [colSpan]="12">
                                    <dx-tag-box #orgLevelTagBox
                                        id="orgLevelTagBox"
                                        [dataSource]="orgLevelSource"
                                        valueExpr="id"
                                        displayExpr="name"
                                        [searchEnabled]="true"
                                        [searchExpr]="['text']"
                                        [(value)]="selectedOrgLevels"
                                        (onValueChanged)="orgLevelValueChanged($event)">
                                    </dx-tag-box>
                                    <dxo-label text="Cấp nhận"></dxo-label>
                                </dxi-item>
                                <dxi-item [colSpan]="11">
                                    <dx-tag-box #publisherSelect dataField="publisher"
                                        id="publisherSelect"
                                        [items]="data_publisher"
                                        valueExpr="key"
                                        displayExpr="value"
                                        [searchEnabled]="true"
                                        [searchExpr]="['value']"
                                        [(value)]="publisherVal">
                                    </dx-tag-box>
                                    <dxo-label text="Nơi nhận"></dxo-label>
                                    <dxi-validation-rule type="required"></dxi-validation-rule>
                                </dxi-item>
                                <dxi-item [colSpan]="1">
                                    <dx-button icon="plus" alignment="right" (onClick)="showSearchPopUp()" [elementAttr]="{class: 'btnAddPublisher'}"></dx-button>
                                </dxi-item>
                            </dxi-item>

                            <dxi-item itemType="group" [colSpan]="6" colCount="24">
                                <dxi-item dataField="" [colSpan]="23">
                                    <dxo-label text="Trả lời VB" ></dxo-label>
                                </dxi-item>
                                <dxi-item dataField="" [colSpan]="1">
                                    <dx-button icon="search" alignment="right" (onClick)="selectReplyDocument()" [elementAttr]="{class: 'btnAddPublisher'}"></dx-button>
                                </dxi-item>
                            </dxi-item>

                            <dxi-item dataField="summary" [colSpan]="12" editorType="dxTextArea"
                                [editorOptions]="{height: 90}">
                                <dxo-label text="Trích yếu"></dxo-label>
                                <dxi-validation-rule type="required"></dxi-validation-rule>
                            </dxi-item>

                            <dxi-item itemType="group" [colSpan]="12" colCount="12" [visible]="true">
                                <dxi-item [colSpan]="6">
                                    <dxo-label text="Tập tin"></dxo-label>
                                    <!-- <dxi-validation-rule type="required"></dxi-validation-rule> -->
                                    <dx-file-uploader

                                        [multiple]="true"
                                        selectButtonText="Chọn file đính kèm"
                                        accept="*"
                                        icon="upload"
                                        [(value)]="value"
                                         uploadMode="useForm"
                                        (onValueChanged)="setFullNameFile($event)">
                                    </dx-file-uploader>

                                </dxi-item>
                                <dxi-item [colSpan]="6">
                                    <dx-data-grid id="gridContainer" [dataSource]="selectedRows" [allowColumnReordering]="true"
                                        [allowColumnResizing]="true" [columnAutoWidth]="true" [showBorders]="true">
                                        <dxo-paging [pageSize]="10"></dxo-paging>
                                        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true">
                                        </dxo-pager>
                                        <dxi-column dataField="tepDinhKem" caption="Tệp đính kèm"></dxi-column>
                                        <dxi-column caption="Xem chi tiết" cellTemplate="detailTemplate" [width]="100">
                                        </dxi-column>
                                        <dxi-item caption="Xóa" cellTemplate="deleteTemplate">
                                        </dxi-item>

                                        <div *dxTemplate="let d of 'detailTemplate'">
                                            <div class="row">
                                                <div class="col-6" style="text-align: center;" (click)="showDetail(d)">
                                                    <span><i class="fab fa-buffer"></i></span>
                                                </div>
                                                <div class="col-6" style="text-align: center;" (click)="deleteFile(d)">
                                                    <span><i class="fas fa-trash-alt"></i> </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div *dxTemplate="let d of 'deleteTemplate'">
                                            <div class="col-2" style="text-align: center;" (click)="deleteFile(d)">
                                                <span ><i class="fas fa-trash-alt"></i> </span>
                                            </div>
                                        </div>
                                    </dx-data-grid>
                                </dxi-item>
                            </dxi-item>
                            <dxi-item itemType="group" [colSpan]="12" >
                                <dxo-label text="Người ký " ></dxo-label>
                                <dx-radio-group
                                    [dataSource]="priorities"
                                    [(value)]="priority_value"
                                    displayExpr="name"
                                    valueExpr="id"
                                    (onValueChanged)="radio_nguoi_ky()"
                                    layout="horizontal">
                                </dx-radio-group>
                            </dxi-item>
                            <dxi-item [colSpan]="12" dataField="" editorType="dxSelectBox" [editorOptions]="{
                                dataSource: nguoi_ky,
                                valueExpr: 'userId',
                                displayExpr: 'nameWithPosition',
                                searchEnabled: true,
                                searchExpr: 'nameWithPosition',
                                value: rangeVal,
                                showClearButton: true
                                }">
                                <!-- <dxo-label text="Lĩnh vực"></dxo-label> -->
                            </dxi-item>
                            <!-- <dxi-item dataField="sign" [colSpan]="12">
                                <dxo-label text="Trích yếu"></dxo-label>
                                <div class="dx-field-value">
                                    <dx-radio-group
                                        [items]="priorities"
                                        [value]="priorities[0]"
                                        layout="horizontal">
                                    </dx-radio-group>
                                </div>
                            </dxi-item> -->

                            <dxi-item dataField="processingRecommended" [colSpan]="12" editorType="dxTextArea"
                                [editorOptions]="{height: 90}">
                                <dxo-label text="Ý kiến xử lý " ></dxo-label>
                            </dxi-item>
                        </dxi-item>
                        <!-- <dxi-item itemType="group" colCount="12" caption="Thông tin xử lý">
                            <dxi-item [label]="{text: 'Trình CH'}" [colSpan]="12" dataField="leaderDepartmentId"
                                editorType="dxSelectBox" [editorOptions]="{
                                dataSource: captain_department,
                                valueExpr: 'userId',
                                displayExpr: 'nameWithPosition',
                                searchEnabled: true,
                                searchExpr: 'fullName'
                                }">
                                <dxi-validation-rule type="required"></dxi-validation-rule>
                            </dxi-item>
                            <dxi-item dataField="processingRecommended" [colSpan]="12" editorType="dxTextArea" [editorOptions]="{
                                height: 90
                            }">
                            <dxo-label text="Ý kiến xử lý "></dxo-label>
                            </dxi-item>
                        </dxi-item> -->
                </dx-form>

                <dx-popup [width]="500" [height]="200" [showTitle]="true" title="Thêm mới nơi phát hành"
                    [dragEnabled]="false" [closeOnOutsideClick]="true" [(visible)]="publisherPopupVisible">
                    <!-- <app-dwt (getFileName) ="addItem($event)" (userId)="getAndSetId($event)" *ngIf="showScanModule"></app-dwt>

                <buttonUI *ngIf="show"></buttonUI> -->
                    <dx-form #publisherForm [formData]="publisherData">
                        <dxi-item [label]="{text: 'Nơi nhận'}" [colSpan]="2" dataField="publisherName"
                            editorType="dxTextBox">
                        </dxi-item>
                    </dx-form>
                    <br>
                    <div class="row">
                        <div style="display: block; margin-left: auto; margin-right: auto;">
                            <dx-button icon="save" text="Lưu" type="success" (onClick)="savepublisher()"></dx-button>
                        </div>
                    </div>

                </dx-popup>

                <dx-popup [width]="800" [height]="600" [showTitle]="true" title="Nơi nhận văn bản"
                    [dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="receiverPopupVisible">

                    <div class="col-xl-12 col-md-12 col-xs-12" style="padding-bottom: 17px;padding-left:0;">
                        <dx-button text="Trở về" type="success" icon="fa fa-arrow-left"
                            (onClick)="back()"></dx-button>
                        &nbsp;
                        <dx-button [disabled]="saving" text="Chọn" type="success" icon="save"> </dx-button>
                        &nbsp;
                        <dx-button [disabled]="saving" text="Xóa" type="success" icon="fa fa-trash"></dx-button>
                    </div>
                    <div class="col-xl-12 col-md-12 col-xs-12">
                        <dx-form #documentForm [showValidationSummary]="true"
                            [showColonAfterLabel]="false" validationGroup="formValidateGroup">
                            <dxi-item itemType="group" colCount="20">
                                <dxi-item [colSpan]="19" editorType="dxTextBox">
                                    <dxo-label text="Tìm kiếm gợi nhớ"></dxo-label>
                                </dxi-item>
                                <dxi-item [colSpan]="1">
                                    <dx-button icon="plus" alignment="right" [elementAttr]="{class: 'btnAddPublisher'}"></dx-button>
                                </dxi-item>
                                <dxi-item [colSpan]="20" editorType="dxTextBox">
                                    <dxo-label text="Tên gợi nhớ"></dxo-label>
                                </dxi-item>
                                <dxi-item itemType="empty" [colSpan]="16"></dxi-item>
                                <dxi-item [colSpan]="4">
                                    <dx-check-box text="Lưu gợi nhớ"></dx-check-box>
                                </dxi-item>
                            </dxi-item>


                        </dx-form>
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <fieldset style="border: 1px solid; padding: 10px">
                                    <legend style="font-weight: bold; width: 180px;">Danh sách đơn vị</legend>
                                    <dx-tree-view #treeView
                                        [dataSource]="data_receiver"
                                        [width]="300"
                                        displayExpr="displayName"
                                        valueExpr="id"
                                        [searchEnabled]="true"
                                        [searchExpr]="['displayName']"
                                        [showCheckBoxesMode]="'selectAll'"
                                        [selectionMode]="'multiple'"
                                        [selectNodesRecursive]="true"
                                        [selectByClick]="true"
                                        (onSelectionChanged)="onSelectionChanged($event)"
                                    >
                                    </dx-tree-view>

                                </fieldset>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <fieldset style="padding: 10px">
                                    <legend style="font-weight: bold; width: 100px;">Đã chọn</legend>
                                    <dx-tree-view #treeView
                                        [(dataSource)]="selectedReceivers"
                                        [width]="300"
                                        displayExpr="displayName"
                                        valueExpr="id"
                                    >

                                    </dx-tree-view>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </dx-popup>

                </div>
            </div>
        </div>
    </div>
</div>
