<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>CHI TIẾT VĂN BẢN</span>
                    </h3>
                </div>
            </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="modal-body">
                    <!-- form data -->
                    <dx-form #documentForm [formData]="documentOldData" [showValidationSummary]="true" 
                        [showColonAfterLabel]="false" validationGroup="formValidateGroup">
                        <dxi-item itemType="group" caption="THÔNG TIN VĂN BẢN" [colCount]="2">
                                                        
                            <dxi-item dataField="numberdocumentreceipt" editorType="dxTextBox" [colSpan]="1">
                                <dxo-label text="Số đến theo sổ"></dxo-label>
                                <!-- <dxi-validation-rule type="required" message="Chưa nhập số"></dxi-validation-rule> -->
                            </dxi-item>
                            <dxi-item dataField="documentreference" editorType="dxTextBox" [colSpan]="1">
                                <dxo-label text="Số ký hiệu gốc"></dxo-label>
                            </dxi-item>
                            <dxi-item dataField="documenttypename" editorType="dxTextBox" [colSpan]="1">
                                <dxo-label text="Loại văn bản"></dxo-label>
                            </dxi-item>
                            <dxi-item dataField="donvisaoy" editorType="dxTextBox" [colSpan]="1">
                                <dxo-label text="Đơn vị sao y"></dxo-label>
                            </dxi-item>
                            <dxi-item dataField="levelsendname" editorType="dxTextBox" [colSpan]="1">
                                <dxo-label text="Cấp gửi"></dxo-label>
                            </dxi-item>
                            <dxi-item dataField="issuingplacename" editorType="dxTextBox" [colSpan]="1">
                                <dxo-label text="Nơi phát hành"></dxo-label>
                            </dxi-item>
                            <dxi-item [colSpan]="1">
                            </dxi-item>
                            <dxi-item dataField="issuingplaceothername" editorType="dxTextBox" [colSpan]="1">
                                <dxo-label text="Khác"></dxo-label>
                            </dxi-item>
                            <dxi-item dataField="issuingdate" editorType="dxTextBox" [colSpan]="1">
                                <dxo-label text="Ngày phát hành"></dxo-label>
                            </dxi-item>
                            <dxi-item dataField="datearrive" editorType="dxTextBox" [colSpan]="1">
                                <dxo-label text="Ngày đến"></dxo-label>
                            </dxi-item>
                            <!-- <dxi-item dataField="thoigiannhancvden" editorType="dxTextBox" [colSpan]="1">
                                <dxo-label text="Giờ"></dxo-label>
                            </dxi-item> -->
                            <dxi-item dataField="briefcontent" editorType="dxTextArea" [colSpan]="2" [editorOptions]="{ height: 90 }">
                                <dxo-label text="Trích yếu"></dxo-label>
                            </dxi-item>
                            <dxi-item dataField="signer" editorType="dxTextBox" [colSpan]="1">
                                <dxo-label text="Người ký"></dxo-label>
                            </dxi-item>
                            <dxi-item dataField="socongvandiphucdap" editorType="dxTextBox" [colSpan]="1">
                                <dxo-label text="Số văn bản đi phúc đáp"></dxo-label>
                            </dxi-item>
                            <dxi-item dataField="privilegelevelname" editorType="dxTextBox" [colSpan]="1">
                                <dxo-label text="Độ khẩn"></dxo-label>
                            </dxi-item>
                            <dxi-item dataField="confidentiallevelname" editorType="dxTextBox" [colSpan]="1">
                                <dxo-label text="Độ mật"></dxo-label>
                            </dxi-item>
                        </dxi-item>
                    </dx-form>

                    <div class="col-xl-12" style="padding-bottom: 1rem; text-align: center;">
                        <dx-button text="Trở về" (onClick)="back()" type="success" icon="fa fa-arrow-left"></dx-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>