<!-- <div [@routerTransition] (window:resize)="onResize($event)"> -->
    <div [@routerTransition]>
        <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
            <div class="kt-subheader kt-grid__item">
                <div [class]="containerClass">
                    <div class="kt-subheader__main">
                        <h3 class="kt-subheader__title">
                            <span>Danh sách văn bản chưa phúc đáp từ đơn vị khác</span>
                        </h3>
                    </div>
                </div>
            </div>
            <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
                <div class="kt-portlet kt-portlet--mobile">
                    <div class="modal-body">
                        <div class="row align-items-center">
                            <!--<Primeng-TurboTable-Start>-->
                            <div class="col primeng-datatable-container">
                                <dx-data-grid #gridContainer id="gridContainer" [showColumnLines]="true"
                                    [showBorders]="true" [allowColumnResizing]="true" [columnAutoWidth]="true"
                                    [(dataSource)]="initialData" [cellHintEnabled]="true">
                                    <dxo-scrolling
                                        mode="standard"
                                        [scrollByContent]="true"
                                        [scrollByThumb]="true"
                                        showScrollbar="always"> <!-- or "virtual" | "infinite" -->
                                    </dxo-scrolling>
                                    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[50, 100]"
                                        [showInfo]="true" [showNavigationButtons]="true"></dxo-pager>
                                    <dxo-search-panel [visible]="true" placeholder="Nhập nội dung..." width="250">
                                    </dxo-search-panel>                            
                                    <dxo-filter-row [visible]="false"></dxo-filter-row>
                                    <dxo-paging [enabled]="true" [pageSize]="50"></dxo-paging>
                                    <dxi-column dataField="stt" columnIndex="1" caption="STT" alignment="center" cellTemplate="sttCellTemplate"
                                        [width]="5+'%'"></dxi-column>
                                    <dxi-column columnIndex="9" alignment="center" [width]="6+'%'"
                                        cellTemplate="customTemplate" caption="Xử lý"></dxi-column>
                                    <dxi-column cellTemplate="diffCellTemplate" [allowSearch]="true"
                                        headerCellTemplate="titleHeaderTemplate" columnIndex="3" [width]="10+'%'"
                                        dataType="date" format="d/M/yyyy"alignment="center">
                                    </dxi-column>
                                    <dxi-column dataField="PublisherName" columnIndex="7" headerCellTemplate="titleHeaderTemplate2" [width]="15+'%'"></dxi-column>
                                    <dxi-column dataField="IncommingNumber" [visible]="false"></dxi-column>
                                    <dxi-column dataField="Number" [visible]="false"></dxi-column>
                                    <dxi-column dataField="Deadline"  columnIndex="5" cellTemplate="diffCellTemplate3"
                                        headerCellTemplate="titleHeaderTemplate3" alignment="center" [width]="10+'%'"
                                        dataType="date" format="d/M/yyyy" ></dxi-column>
                                    <dxi-column dataField="Summary" columnIndex="8"  [width]="20+'%'"
                                        caption="Trích yếu"></dxi-column>
                                    <dxi-column headerCellTemplate="chiDaoHeaderTemplate" cellTemplate="chiDaoNoiDung"
                                        columnIndex="6" [width]="20+'%'" >
                                    </dxi-column>


                                    <div *dxTemplate="let info of 'chiDaoHeaderTemplate'">
                                        Chỉ đạo BCH P/BCH Q
                                    </div>
                                    <div *dxTemplate="let info of 'sttCellTemplate'">
                                        <div> {{info.component.pageIndex() * info.component.pageSize() + info.rowIndex + 1}}</div>
                                    </div>
                                    <div *dxTemplate="let info of 'titleHeaderTemplate'">
                                        <div class="current-value">Số VB đến</div>
                                        <div class="diff">Ngày VB đến</div>
                                    </div>
                                    <div *dxTemplate="let info of 'titleHeaderTemplate3'">
                                        <div class="current-value">Hạn </div>
                                        <div class="diff"> giải quyết</div>
                                    </div>
                                    <div *dxTemplate="let info of 'titleHeaderTemplate2'" style="text-align: center !important">
                                        <div class="current-value">Nơi phát</div>
                                        <div class="diff">hành</div>
                                    </div>
                                    <div *dxTemplate="let d of 'diffCellTemplate3'">
                                        <div class="current-value" style="font-weight: bold;font-style: italic;">{{d.data.Deadline | date: "dd/MM/yyyy " }}</div>
                                    </div>
                                    <div *dxTemplate="let d of 'customTemplate'">
                                        <div class="btn-group dropdown btn-smaller-padding" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="fa fa-cog"></i>
                                            </button>
                                            <ul class="dropdown-menu" *dropdownMenu>
                                                <li>
                                                    <a href="javascript:;" (click)="reply(d.data)"><i class="fas fa-eye"
                                                            style="color: rgb(7, 88, 44);"></i>Phúc đáp</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                    <div *dxTemplate="let d of 'diffCellTemplate'">
                                        <div class="current-value" style="font-weight: bold;" *ngIf="d.data.Number">{{d.data.Number}}</div>
                                        <div class="current-value" style="font-weight: bold;" *ngIf="!d.data.Number">-</div>
                                        <div class="diff">{{d.data.IncommingDateDV | date: "dd/MM/yyyy " }}</div>
                                    </div>
                                    <div *dxTemplate="let d of 'chiDaoNoiDung'">
                                        <span *ngIf="d.data.TPProcessingRecommended">Trưởng phòng: {{d.data.TPProcessingRecommended}}</span>
                                        <br>
                                        <!-- <span *ngIf="!d.data.PTPProcessingRecommended">PTP: {{d.data.PTPFullName}}</span> -->
                                        <span *ngIf="d.data.PTPProcessingRecommended">PTP: {{d.data.PTPFullName}}: {{d.data.PTPProcessingRecommended}}</span>
                                    </div>
                                </dx-data-grid>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        ::ng-deep .dx-row {
            font-size: 15px;
            white-space: normal;
        }
    </style>


