<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
          <div [class]="containerClass">
            <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                            <span>{{l("Tiếp nhận văn bản")}}</span>
                         </h3>
                <!-- <span class="kt-subheader__separator kt-subheader__separator--v"></span> -->
                <!-- <span class="kt-subheader__desc">
                    {{l("SchedulesHeaderInfo")}}
                </span> -->
                <!-- <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Tiếp nhận văn bản</li>
                    </ol>
                </nav> -->
            </div>
            <!-- <div class="kt-subheader__toolbar">
                <div class="kt-subheader__wrapper">
                    <button class="btn btn-outline-success"><i class="fa fa-file-excel"></i> {{l("ExportToExcel")}}</button>
                
                </div>
            </div> -->
          </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="modal-body">

                    <div class="col-xl-12" style = "padding-bottom: 17px;padding-left:0;">
                        <dx-button text="Trở về" type="success" icon="fa fa-arrow-left" onclick="window.history.go(-1); return false;"></dx-button>
                        &nbsp; 
                        <!-- <dx-button text="Lưu" type="success" icon="save" (onClick)="save()"></dx-button>  -->
                            <!-- <dx-button text="Bỏ qua" type="success" icon="fa fa-plus" onclick="window.history.go(-1); return false;"></dx-button> 
                        &nbsp;
                        <dx-button text="B1" type="success" icon="email" (onClick)="addMove()" > </dx-button>
                        &nbsp;
                        <dx-button text="B2" type="success" icon="email" (onClick)="addMove()" > </dx-button>
                        &nbsp;
                        <dx-button text="B3" type="success" icon="email" (onClick)="addMove()" > </dx-button>
                        &nbsp;
                        <dx-button text="Tác vụ khác" type="success" icon="check" (onClick)="updateProgress()" > </dx-button> -->
                            
                                                        
                    </div>

                                
                    <dx-form #detailForm [formData]="documentData" validationGroup="formValidateGroup" colCount="2" [items]="formItems" [readOnly]="true">
                        <dxi-item dataField="number" [colSpan]="1">
                            <dxo-label text="Số / Ký hiệu"></dxo-label>
                            
                        </dxi-item>
                        <dxi-item dataField="incommingNumber" [colSpan]="1">
                            <dxo-label text="Số đến "></dxo-label>
                        
                        </dxi-item>
                        
                        <dxi-item dataField="startDate" [colSpan]="1" editorType="dxDateBox" [editorOptions]="{type: 'date', displayFormat: 'dd/MM/yyyy'}">
                            <dxo-label text="Ngày ban hành"></dxo-label>
                            
                            </dxi-item>
                        <dxi-item [label]="{text: 'Ngày đến'}" dataField="incommingDate" [colSpan]="1" editorType="dxDateBox" [editorOptions]="{type: 'date', displayFormat: 'dd/MM/yyyy'}">
                        
                        </dxi-item>
                        <dxi-item [colSpan]="1" dataField="documentTypeId" editorType="dxSelectBox"
                            [editorOptions]="{ 
                                dataSource: documentTypeOptions,
                                valueExpr: 'id',
                                displayExpr: 'typeName',
                                value: oldDocType
                                }" >
                            <dxo-label text="Tên loại văn bản"></dxo-label>
                            <dxi-validation-rule type="required" message="Vui lòng chọn loại văn bản"></dxi-validation-rule>
                        </dxi-item>
                        <dxi-item dataField="book" [colSpan]="1">
                            <dxo-label text="Vào sổ "></dxo-label>
                        </dxi-item>
                        
                        <dxi-item dataField="publisher" [colSpan]="1">
                            <dxo-label text="Nơi ban hành"></dxo-label>
                        
                        </dxi-item>
                        <dxi-item [label]="{text:'Độ khẩn'}" [colSpan]="2" dataField="priority" editorType="dxSelectBox" 
                        [editorOptions]="{
                            dataSource: priorityOptions, 
                            valueExpr: 'value',
                            displayExpr: 'key',
                            value: oldPriority
                            }">
                        </dxi-item>
                            <dxi-item dataField="approvedBy" [colSpan]="1">
                            <dxo-label text="Người ký"></dxo-label>
                            
                        </dxi-item>
                        <!-- <dxi-item dataField="attachment" [colSpan]="1">
                            <dxo-label text="File đính kèm "></dxo-label>
                            
                        </dxi-item> -->
                        
                        <!-- <dxi-item [colSpan]="1" dataField="typeReceive" editorType="dxSelectBox" 
                            [editorOptions]="{dataSource: typeReceiveOptions, value: oldTypeReceive }" >
                            <dxo-label text="Phương thức nhận"></dxo-label>
                        </dxi-item> -->
                        <dxi-item dataField="endDate" [colSpan]="2" editorType="dxDateBox" [editorOptions]="{type:'date', displayFormat: 'dd/MM/yyyy', showClearButton: true}">
                            <dxo-label text="Hạn xử lý"></dxo-label>
                        </dxi-item>

                        <dxi-item itemType="group" [colSpan]="2">
                            <div [innerHTML]="dynamicFields" class="row"></div>
                        </dxi-item>
                    </dx-form>
                    <br>
                    <dx-data-grid
                    id="gridContainer"
                    [dataSource]="historyUpload"
                    [allowColumnReordering]="true"
                    [allowColumnResizing]="true"
                    [columnAutoWidth]="true"
                    [showBorders]="true">
                    <dxo-paging [pageSize]="10"></dxo-paging>
                    <dxo-pager 
                        [showPageSizeSelector]="true"
                        [allowedPageSizes]="[5, 10, 20]"
                        [showInfo]="true">
                    </dxo-pager>
                
                 
                    <!-- <dxi-column dataField="Id" ></dxi-column> -->
                    <!-- <dxi-column dataField="documentID" ></dxi-column> -->
                    <dxi-column dataField="file"  width = "500"></dxi-column>
                    <dxi-column dataField="version" width = "100"></dxi-column>
                    <dxi-column type="buttons" dataField="Xem chi tiết" >
                        <dxi-button  [onClick]="showDetail" icon="fab fa-buffer"></dxi-button>
                    </dxi-column>
                    <!-- <dxi-column dataField="CreationTime"  dataType="date" [format]="{ date: 'dd.MM.yyyy' }"></dxi-column> -->
                 
                    <!-- <dxi-column type="buttons" dataField="Chi tiết">
                        <dxi-button icon="fa fa-list-alt"></dxi-button>
                    </dxi-column> -->
                    <!-- <dxi-column type="buttons" dataField="Xóa" >
                        <dxi-button (onClick)="delete()" icon="fas fa-trash-alt"></dxi-button>
                    </dxi-column> -->
                   
                    </dx-data-grid>
                    <!-- <div class="col-xl-12" style = "padding-bottom: 17px;padding-left:0;">
                            <dx-button text="Xử lý" type="success" icon="event" (onClick)="updateProgress()" ></dx-button> 
                            &nbsp;
                            <dx-button text="Biểu đồ" type="success" icon="chart " onclick="window.history.go(-1); return false;"></dx-button>

                                                        
                    </div> -->
                    <br>
               
           
                    
                    <dx-data-grid [dataSource]="listHistoryHandling" [showBorders]="true">
                        <dxi-column caption="Ngày" dataField="creationTime" dataType="date" format="d/M/yyyy">
                        </dxi-column>
                        <dxi-column caption="Nơi gửi" dataField="handler">
                        </dxi-column>
                        <dxi-column caption="Nơi nhận" dataField="placeReceive">
                        </dxi-column>
                        <dxi-column caption="Nội dung" dataField="content" width="300">

                        </dxi-column>
                       
                    </dx-data-grid>

                           
                </div>
            </div>
        </div>
    </div>
</div>
