<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #wordProcessingForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="wordProcessing.id">{{l("EditWordProcessing")}}</span>
                        <span *ngIf="!wordProcessing.id">{{l("CreateNewWordProcessing")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 


								<div class="form-group">
									<label for="WordProcessing_ReceivePlace">{{l("ReceivePlace")}}</label>
									<input type="text" id="WordProcessing_ReceivePlace" class="form-control" [(ngModel)]="wordProcessing.receivePlace" name="ReceivePlace"    />
								</div>
					
								<div class="form-group">
									<label for="WordProcessing_Name">{{l("Name")}}</label>
									<input type="text" id="WordProcessing_Name" class="form-control" [(ngModel)]="wordProcessing.name" name="Name"    />
								</div>
					
								<div class="form-group">
									<label for="WordProcessing_Content">{{l("Content")}}</label>
									<input type="text" id="WordProcessing_Content" class="form-control" [(ngModel)]="wordProcessing.content" name="Content"    />
								</div>
					
								<div class="form-group">
									<label for="WordProcessing_Status">{{l("Status")}}</label>
									<input type="text" id="WordProcessing_Status" class="form-control" [(ngModel)]="wordProcessing.status" name="Status"    />
								</div>
					
								<div class="form-group">
									<label for="WordProcessing_Comment">{{l("Comment")}}</label>
									<input type="text" id="WordProcessing_Comment" class="form-control" [(ngModel)]="wordProcessing.comment" name="Comment"    />
								</div>
					
								<div class="form-group">
									<label for="WordProcessing_KeyWordId">{{l("KeyWordId")}}</label>
									<input type="number" id="WordProcessing_KeyWordId" class="form-control" [(ngModel)]="wordProcessing.keyWordId" name="KeyWordId"  />
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!wordProcessingForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>