<div class="kt-portlet kt-portlet--height-fluid ">
    <div class="row">
        <div class="col-12">
            <div class="card card-outline-info">
                <div class="card-body">
                    <h3>{{reportName}}</h3>
                    <div class="row">
                        <div class="col-md-12" *ngIf="existForm">
                            <form style="margin:0px 20px" (submit)="viewreport()">
                                <dx-form [(formData)]="formData" #form [items]="listItem"
                                    validationGroup="formValidateGroup" [colCount]="formCol">
                                </dx-form>
                                <div class="row justify-content-center" style="text-align: center;margin-top: 5px;">
                                    <dx-button text="Xem" icon="fa fa-eye" type="success" [useSubmitBehavior]="true"
                                        validationGroup="formValidateGroup"></dx-button>
                                    <!-- <dx-button text="Hủy" icon="fa fa-arrow-left" (onClick)="back()"></dx-button> -->
                                </div>
                            </form>
                        </div>

                        <div class="col-md-12" [style.visibility]="tableVisibility" [style.display]="tableDisplay"
                            id="table">
                            <dx-data-grid #data [columns]='column' height='400px' [dataSource]="dataSourceTest3"
                                [showRowLines]="true" [showBorders]="true" [allowColumnResizing]="true"
                                [columnAutoWidth]="true" [allowColumnReordering]="true" [summary]='sumary'
                                [wordWrapEnabled]="true">
                                <dxo-export [enabled]="true" [fileName]="reportName" [allowExportSelectedData]="false"
                                    (onExporting)="onExporting($event)"></dxo-export>
                                <dxo-group-panel [visible]="true"></dxo-group-panel>
                                <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
                                <dxo-paging [pageSize]="pageSize" [pageIndex]="pageIndex"></dxo-paging>
                                <dxo-pager visible="true" infoText="Trang {0} trên {1} ({2} dòng)"
                                    [allowedPageSizes]="[20, 50, 100]" [showPageSizeSelector]="true" [showInfo]="true">
                                </dxo-pager>
                            </dx-data-grid>
                        </div>

                        <div id="dx-grid" style="display: none"></div>

                        <div class="col-md-12" [style.visibility]="barChartVisibility" [style.display]="barChartDisplay"
                            id="barChart">
                            <dx-chart #barchart [dataSource]="barChartDataSource">
                                <dxo-series-template [nameField]="seriesField"></dxo-series-template>
                                <dxo-common-series-settings [argumentField]="ArgumentField" type="bar"
                                    [valueField]="ValueField">
                                    <dxo-label [visible]="true" [format]="{ formatter: formatService.formatNumber }"
                                        backgroundColor="transparent">
                                        <dxo-font [size]="11" color="green"></dxo-font>
                                    </dxo-label>
                                </dxo-common-series-settings>
                                <dxi-value-axis
                                    [allowDecimals]="false">
                                </dxi-value-axis>
                                <dxo-legend verticalAlignment="bottom" horizontalAlignment="center">
                                </dxo-legend>
                                <!-- <dxo-export [enabled]="true"></dxo-export> -->
                            </dx-chart>
                        </div>
                        <div class="col-md-12" [style.visibility]="pieChartVisibility" [style.display]="pieChartDisplay"
                            id="pieChart">
                            <dx-pie-chart #piechart id="pie" palette="bright" [dataSource]="pieChartDataSource" [resolveLabelOverlapping]="resolveOverlappingTypes[0]">
                                <dxi-series [argumentField]="ArgumentField" [valueField]="ValueField">
                                    <dxo-label [visible]="true">
                                        <dxo-connector [visible]="true" [width]="1"></dxo-connector>
                                    </dxo-label>
                                </dxi-series>
                                <!-- <dxo-size [width]="500"></dxo-size> -->
                                <!-- <dxo-export [enabled]="true"></dxo-export> -->
                                <dxo-legend verticalAlignment="bottom" horizontalAlignment="center"
                                    itemTextPosition="right" [rowCount]="2">
                                </dxo-legend>
                            </dx-pie-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>