<!-- <div [@routerTransition] (window:resize)="onResize($event)"> -->
    <div [@routerTransition]>
        <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
            <div class="kt-subheader kt-grid__item">
                <div [class]="containerClass">
                    <div class="kt-subheader__main">
                        <h3 class="kt-subheader__title">
                            <span>{{header}}</span>
                        </h3>
                    </div>
                    <div class="kt-subheader__toolbar">
                        <div class="kt-subheader__wrapper">
                            <button (click)="createDynamicCategory()"
                        class="btn btn-primary blue"><i class="fa fa-plus"></i> Tạo mới</button>
                        </div>
                    </div>
                </div>
            </div>
            <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
                <div class="kt-portlet kt-portlet--mobile">
                    <div class="modal-body">
                        <div class="row align-items-center">
                            <!--<Primeng-TurboTable-Start>-->
                            <div class="col primeng-datatable-container">
                                <!-- <p-table [columns]="tableHeader" #dt [autoLayout]="true" [columnResizeMode] [value]="queryResult" [scrollable]="true" [rows]="10"
                                    scrollHeight="30rem" [style]="{width:'100%'}" [paginator]="true" [rowsPerPageOptions]="[5,10,25,50]"
                                >
                                    <ng-template pTemplate="caption">
                                        <div style="text-align: right">
                                            <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                                            <input type="text" pInputText size="50" placeholder="Tìm kiếm" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                                        </div>
                                    </ng-template>
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th style="width: 130px">{{l('Actions')}}</th>
                                            <th style="width: 150px;" *ngFor="let col of tableHeader">
                                                {{col["name"]}}
                                            </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-record="$implicit">
                                        <tr>
                                            <td style="width: 130px">
                                                <div class="btn-group dropdown" dropdown container="body">
                                                    <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                        <i class="fa fa-cog"></i><span class="caret"></span>
                                                    </button>
                                                        <ul class="dropdown-menu"  *dropdownMenu>
                                                        <li>
                                                            <a href="javascript:;"
                                                                (click)="createOrEditDynamicCategoryModal.show(record.Id)">{{l('Edit')}}</a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:;"
                                                                (click)="deleteDynamicCategory(record.Id)">{{l('Delete')}}</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                            <td style="width: 150px;" *ngFor="let col of tableHeader">
                                                {{record[col["field"]]}}
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table> -->
                                <!-- <dx-data-grid #gridContainer id="gridContainer" [height]="500" [showColumnLines]="true"
                                    (onRowPrepared)="onRowPrepared($event)" [(selectedRowKeys)]="selectedRowsData"
                                    (onSelectionChanged)="selectionChangedHandler()" (onRowDblClick)="startEdit($event)"
                                    [remoteOperations]="false" [allowColumnReordering]="true" [rowAlternationEnabled]="true"
                                    [showBorders]="true" [allowColumnResizing]="true" [columnAutoWidth]="true"
                                    [(dataSource)]="initialData" [cellHintEnabled]="true">
                                    <dxo-selection mode="multiple"> </dxo-selection>
                                    <dxo-export [enabled]="true" fileName="Documents" [allowExportSelectedData]="true"></dxo-export>
                                    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 25, 50, 100]"
                                        [showInfo]="true"></dxo-pager>
                                    <dxo-search-panel [visible]="true" placeholder="Nhập nội dung..." width="250">
                                    </dxo-search-panel>
                                    <dxo-filter-row [visible]="false"></dxo-filter-row>
                                    <dxo-paging [pageSize]="10"></dxo-paging>
                                    <dxi-column type="selection" [width]="4+'%'"></dxi-column>
                                    <dxi-column dataField="stt" columnIndex="1" caption="STT" alignment="center"
                                        [width]="5+'%'"></dxi-column>
                                    <dxi-column columnIndex="9" alignment="center" [width]="8+'%'"
                                        [width]="6+'%'"></dxi-column>
                                    <dxi-column columnIndex="9" alignment="center" [width]="6+'%'"
                                        cellTemplate="customTemplate" caption="Xử lý"></dxi-column>
                                    <dxi-column dataField="action_button " columnIndex="2" cellTemplate="actionTemplate"
                                        caption="#" [width]="8+'%'" alignment="center"></dxi-column>
                                    <dxi-column cellTemplate="diffCellTemplate" [allowSearch]="true"
                                        headerCellTemplate="titleHeaderTemplate" columnIndex="3" [width]="10+'%'"
                                        dataType="date" format="d/M/yyyy"
                                        alignment="center">
                                    </dxi-column>
                                    <dxi-column dataField="PublisherName" columnIndex="7"
                                        headerCellTemplate="titleHeaderTemplate2" [width]="12+'%'"
                                      >
                                    </dxi-column>
                                    <dxi-column columnIndex="4" cellTemplate="diffCellTemplate1"
                                        headerCellTemplate="titleHeaderTemplate1" alignment="center" [width]="10+'%'"></dxi-column>
                                    <dxi-column dataField="Deadline"  columnIndex="5"
                                        headerCellTemplate="titleHeaderTemplate3" alignment="center" [width]="10+'%'"
                                        dataType="date" format="d/M/yyyy" >

                                    </dxi-column>
                                    <dxi-column dataField="Summary" columnIndex="8"  [width]="12+'%'"
                                        caption="Trích yếu"></dxi-column>
                                    <dxi-column dataField="ProcessingRecommended" headerCellTemplate="titleHeaderTemplate4"
                                        columnIndex="6" [width]="12+'%'" >
                                    </dxi-column>
                                    <dxi-column dataField="DirectorName" columnIndex="6" alignment="center" [width]="9+'%'"
                                        caption="BGĐ"></dxi-column>

                                    <div *dxTemplate="let info of 'titleHeaderTemplate4'">
                                        <div class="current-value" style="text-align: center;">Ý kiến đề</div>
                                        <div class="diff" style="text-align: center;">xuất PV01</div>
                                    </div>
                                    <div *dxTemplate="let info of 'titleHeaderTemplate'">
                                        <div class="current-value">Số VB đến</div>
                                        <div class="diff">Ngày VB đến</div>
                                    </div>
                                    <div *dxTemplate="let info of 'titleHeaderTemplate3'">
                                        <div class="current-value">Hạn </div>
                                        <div class="diff"> giải quyết</div>
                                    </div>
                                    <div *dxTemplate="let info of 'titleHeaderTemplate2'" style="text-align: center !important">
                                        <div class="current-value">Nơi phát</div>
                                        <div class="diff">hành</div>
                                    </div>
                                    <div *dxTemplate="let info of 'titleHeaderTemplate1'">
                                        <div class="current-value">Số đến</div>
                                        <div class="diff">Ngày đến</div>
                                    </div>
                                    <div *dxTemplate="let d of 'customTemplate'">
                                        <div class="btn-group dropdown btn-smaller-padding" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="fa fa-cog"></i>
                                            </button>
                                            <ul class="dropdown-menu" *dropdownMenu>
                                                <li *ngIf="num.includes(4)">
                                                    <a href="javascript:;" (click)="editRow(d)"><i class="fas fa-edit"
                                                            style="color: rgb(7, 88, 44);"></i>{{l('Sửa')}}</a>
                                                </li>
                                                <li *ngIf="num.includes(1)">
                                                    <a href="javascript:;" (click)="viewRow(d)"><i class="fas fa-eye"
                                                            style="color: rgb(7, 88, 44);"></i>{{l('Xem')}}</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" (click)="exportHTML(d, d.data)"><i class="fas fa-print"
                                                            style="color: rgb(7, 88, 44);"></i>{{l('In phiếu trình')}}</a>
                                                </li>
                                                <li *ngIf="num.includes(25)">
                                                    <a href="javascript:;" (click)="trinhBGD(d)"> <i class="fas fa-user-tie"
                                                            style="color: rgb(7, 88, 44);"></i>{{l('Trình BGĐ')}}</a>
                                                </li>
                                                <li *ngIf="num.includes(3)">
                                                    <a href="javascript:;" (click)="deleteRow(d)"><i
                                                            class="fas fa-trash-alt"
                                                            style="color: rgb(7, 88, 44);"></i>{{l('Xóa')}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div *dxTemplate="let d of 'actionTemplate'">
                                        <div class="row">
                                            <div class="col-6">
                                                <span (click)="viewProcess(d)" style="position: absolute; top: 10px"> <i
                                                        class="fas fa-share-alt"></i></span>
                                            </div>
                                            <div class="col-6">
                                                <span (click)="showListHistory(d)"><i class="fas fa-file-pdf"></i></span>
                                                <br>
                                                <span (click)="instaff(d)"><i
                                                        [ngStyle]="{'color' : d.data.star == true ? '#d41022e8': 'black'}"
                                                        class="fas fa-star" id=d.data.id></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div *dxTemplate="let d of 'diffCellTemplate'">
                                        <div class="current-value" style="font-weight: bold;">{{d.data.Number}}</div>
                                        <div class="diff">{{d.data.PublishDate | date: "dd/MM/yyyy " }}</div>
                                    </div>
                                    <div *dxTemplate="let d of 'diffCellTemplate1'">
                                        <div class="current-value" style="font-weight: bold;">{{d.data.IncommingNumber}}</div>
                                        <div class="diff">{{d.data.IncommingDate | date: "dd/MM/yyyy "}}</div>
                                    </div>
                                </dx-data-grid> -->

                                <dx-data-grid
                                #gridContainer id="gridContainer"
                                [dataSource]="queryResult"
                                keyExpr="Id"
                                (onRowUpdated)="onRowUpdated($event)"
                                [allowColumnReordering]="true"
                                [showBorders]="true"
                                >

                                    <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
                                    <div *dxTemplate="let info of 'dropdown'">
                                        <div class="btn-group dropdown" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="fa fa-cog"></i><span class="caret"></span>
                                            </button>
                                                <ul class="dropdown-menu"  *dropdownMenu>
                                                <!-- <li>
                                                    <a href="javascript:;"
                                                        (click)="viewSqlConfigDetailModal.show(record)">{{l('View')}}</a>
                                                </li> -->
                                                <li>
                                                    <a href="javascript:;"
                                                        (click)="createOrEditDynamicCategoryModal.show(info.data.Id)">{{l('Edit')}}</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;"
                                                        (click)="deleteDynamicCategory(info.data.Id)">{{l('Delete')}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </dx-data-grid>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <createOrEditDynamicCategoryModal #createOrEditDynamicCategoryModal [labelId]="labelId" (modalSave)="getQueryResult()"></createOrEditDynamicCategoryModal>
    <style>
        ::ng-deep .dx-row {
            font-size: 15px;
            white-space: normal;
        }
        /* ::ng-deep td[role="columnheader"]{
            text-align: center !important;
        }   */
    </style>



    <!-- <createNewIncommingDocument #createNewIncommingDocument editDocumentId="editDocumentId"></createNewIncommingDocument> -->
